[2014-09-19 21:18] jackiekazil opened #1 "What license do we use & why?"

[2014-09-19 21:50] jackiekazil opened #2 "Review tornado usage from previous projects"
https://github.com/jackiekazil/goalnet
& the css605 2012 repo

[2014-09-19 21:54] jackiekazil opened #3 "create reference repo & dump 605 code in there"

[2014-09-19 21:55] jackiekazil opened #4 "Flesh out initial objects in mesa"

[2014-09-19 21:56] jackiekazil opened #5 "Compare previous versions of model code (same as tornado ticket)"
This is in progress here...
https://github.com/projectmesa/mesa/tree/master/docs/notes/model_comparisons

[2014-09-20 00:09] jackiekazil opened #6 "Start a feature doc somewhere -- in reference repo or google"
Move ideas from Readme in this report to the ideas doc.

[2014-09-23 14:23] #3 closed, assigned to dmasad

[2014-09-23 14:44] #4 closed, assigned to dmasad

[2014-09-26 03:37] #6 closed, assigned to jackiekazil

[2014-10-03 21:56] jackiekazil opened #9 "Research Tornado/other options for server & possible front-end solutions"
#### Basics things we are looking for...
- Run a local server
- Be able to run step by step (or show animation of a whole run)
- Is it step, display, step, display OR does the model cache all the steps, then run it
- Front-end scrubber exists in ipython notebook
  - Look at Schelling Scrubber file from David.
#### Nice to have one day...
- ABM in as a web app with 100k people all playing it. MUHAH

[2014-10-03 21:58] #5 closed, assigned to jackiekazil

[2014-10-03 22:00] jackiekazil opened #10 "Document discussion scribbles -- suggested implementation format"
schelling
- **init**.py
- agent.py
- model.py
- new customized stuff -- ie scheduler.py, decision_model.py
- visualization.py

[2014-10-05 14:05] dmasad opened #11 "Multiple visualizations"
I think it should be possible to create several visualizations for a single model -- and more importantly, have multiple visualizations hooked up to a single model instance, so that when the model steps, all the visualizations do as well.

(I actually woke up at 4AM worrying about this, so it's possible that this idea needs more thought)

[2014-10-05 15:08] dmasad opened #13 "Come up with some more target examples"
Come up with (and try to implement, or at least dummy-code) some more good foundational ABMs.

[2014-10-07 00:26] dmasad opened #14 "Front-end choices"
What web tools to use to to design the front-end? Jackie and David's initial discussion was bootstrap + d3, but there might be better ways. Might also depend on which back-end system we use?

[2014-10-07 20:28] dmasad opened #15 "Network structure"
Implement a network data structure for agents, probably built on top of NetworkX.

[2014-10-07 20:30] dmasad opened #16 "Data collector"
Base data collector which can (as easily as possible) collect data from one or more model runs and put them into (presumably) a pandas DataFrame. For inspiration into what this should look like, look at how RNetLogo does it:
http://blog.revolutionanalytics.com/2014/07/agent-based-models-and-rnetlogo.html

[2014-10-07 20:34] dmasad opened #17 "Continuous space"
A space object where objects can have continuous position, and a *get_neighbors(...)* method equivalent which can get all the objects within a certain radius of a point.

Mason does this (I think) with a quadtree, but I don't know whether we need to worry about that at this point. A bigass agent:coords dictionary might work just as well for starters?

If / when we add GIS (not looking forward to t

[2014-10-10 21:59] jackiekazil opened #18 "Test setup instructions for Mesa"
Go through the setup instructions and make sure they work.
Instructions here: https://github.com/projectmesa/mesa/blob/master/README.md

Where it is weak, update the Readme section.
This should be to get someone set up & launch one of the sample simulations.

[2014-10-10 22:00] dmasad opened #19 "Figure out Javascript library to use to write visualization"
What Javascript library should we use to implement the front-end visualization? D3.js seems like the most natural choice, but it has its own weird data model which may not work for us. Raphael seems to be lower level, but might need more coding to spin up. There are probably other options too.

[2014-10-12 14:32] dmasad opened #20 "Unit-testing framework"
Another 3am insomnia idea, but: The problem with unit-testing ABMs is that all their componentsare so interconnected. What if Mesa had a built-in unit-testing framework designed specifically for ABMs? I don't think such a thing exists yet, but it could be very valuable.

[2014-10-13 16:33] jackiekazil opened #21 "Write a contributing file"
Use this an example: Like this.... https://github.com/18F/midas/blob/devel/CONTRIBUTING.md

[2014-10-17 23:02] #1 closed, assigned to jackiekazil

[2014-10-20 15:08] #9 closed, assigned to dmasad

[2014-10-20 15:09] jackiekazil opened #23 "Python 2 or 3"
Let's discuss.
@dmasad @kfuruya?

My vote is for 3, but I am open to hearing otherwise.

[2014-10-22 01:25] dmasad opened #24 "Synch between visualization and model"
@kfuruya pointed out that I made a big unstated assumption in a previous comment, so opening up a new ticket to discuss.

Basically: how close a coupling should there be between the model and the visualization? As I see it, the two basic options are:
1. The model object and the browser visualization stay in step with one another. The model runs one step, sends the visualization data to the browser

[2014-10-22 16:53] jackiekazil opened #25 "Create an example ipython notebook"
Create an example ipython notebook.
- Use it to show the ascii visualization.

[2014-10-22 17:08] #2 closed, assigned to jackiekazil

[2014-10-22 17:10] #14 closed, assigned to jackiekazil

[2014-10-22 17:13] dmasad opened #26 "ASCII based server visualization"
Write a simple Tornado server that displays the ascii visualization in the browser.

[2014-10-30 14:23] dmasad opened #31 "Model parameters in server"
Currently, the visualization server (TextServer.py) takes a bunch of inputs at creation, some of which are actually the parameters to instantiate the model object with. There should be a way to store these more elegantly in the server object, and catch errors from passing parameters which the model constructor doesn't expect.

[2014-10-30 14:25] dmasad opened #32 "User-settable parameters in visualization"
In many cases, we want the user to be able to set some (though not necessarily all!) model parameters via the visualization interface. There should be a way to easily annotate which parameters ought to be interactive, what their data type is, and what their legal range is.

[2014-10-30 14:28] dmasad opened #33 "Server failing when requesting non-existent step"
Currently, nothing stops the server from requesting a step which exceeds the range of model steps created; this causes the server to fail. Should be very easy to fix.

[2014-10-30 14:29] dmasad opened #34 "Add grass to Wolf-Sheep Predation Model"
The wolf-sheep predation model does not currently have the sheep eating grass. Add in the grass, and have it reduced by sheep eating it, and grow back at a fixed rate.

[2014-10-31 00:57] #24 closed, assigned to nobody

[2014-10-31 01:08] dmasad opened #35 "Make model run a coroutine"
Right now, the visualization server (*mesa/visualization/TextServer.py*) runs the entire model to completion prior (the *run_model(...)* method) to serving the visualization. The model run should if possible be concurrent. This is the "Kim make this thing concurrent" ticket.

[2014-11-01 17:50] dmasad opened #36 "Logo"
It would be nice to have a logo. Anyone feeling artistic? Sadly, it looks like a good logo is [already taken](http://half-life.wikia.com/wiki/Black_Mesa).

[2014-11-04 04:24] #23 closed, assigned to jackiekazil

[2014-11-05 16:27] #18 closed, assigned to nobody

[2014-11-07 19:36] jackiekazil opened #37 "Update front-end text server to user fixed width font"
Update front-end text server to user fixed width font

[2014-11-07 19:38] #26 closed, assigned to dmasad

[2014-11-07 19:52] #19 closed, assigned to nobody

[2014-11-07 19:53] dmasad opened #38 "Implement dat-gui"
Add dat-gui to the ASCII server.

[2014-11-07 19:54] jackiekazil opened #39 "Create initial implementation of visual front-end grid"
See #19 for guidance.

[2014-11-07 21:25] dmasad opened #40 "SBP Tutorial Submission"
Propose an SBP tutorial

[2014-11-07 21:31] jackiekazil opened #41 "Create Changes file"

[2014-11-10 23:05] kfuruya opened #43 "Run through master and fit everything to the styleguide"
Also make a styleguide

[2014-11-21 16:06] #33 closed, assigned to nobody

[2014-11-22 07:16] dmasad opened #46 "Implement canvas visualization"
Implement a (grid, to start) visualization which uses HTML5 canvas

[2014-11-22 08:12] dmasad opened #47 "Test canvas server with Schelling model"
Get the new canvas branch, and run SchellingCanvas.py in the examples. Open a browser to 127.0.0.1:8888 and see if it works.

[2014-11-22 08:22] dmasad opened #48 "Canvas multigrid"
Add a quick check to make sure the canvas server can handle MultiGrids

[2014-11-22 08:28] dmasad opened #49 "Composite different server visualization elements"
Currently there are two completely different servers: TextServer takes a TextVisualization and puts it in the browser, and CanvasServer can only draw a grid. They have many elements in common, though also some key differences.

The way to probably refactor them is to let the user create a Visualization class, which can mix and match text, canvas, to-be-implemented charts, etc. Then this composite

[2014-11-22 08:32] dmasad opened #50 "Batch runner / parameter sweeper"
Class which takes a model object and a sequence of parameters and associated ranges, executes a sweep of all their possible permutations, and stores the given reporters. The latter part should be conceptually similar to the DataCollector object.

I think this is the real killer feature -- no other ABM framework lets you run a parameter sweep, then immediately and interactively analyze the output w

[2014-11-22 18:57] dmasad opened #51 "Grid neighbors errorring out on non-torus"
Discovered in the Forest Fire model in the BatchRun branch. When the grid is not a torus, the get_neighbors method is erroring out on the edge.

[2014-11-23 20:03] dmasad opened #55 "Canvas speed test with ForestFire model"
I added a simple ForestFire model to the canvas branch, and created a CanvasServer visualization for it. It's a good stress test, I think, since it involves sending and drawing ~6500 portrayal objects for every step. It ran at a very reasonable speed for me, though it isn't getting up to the full-speed 20fps. Try it yourself and see if the performance is adequate.

To do it, check out the dmasad.t

[2014-11-25 04:20] #10 closed, assigned to jackiekazil

[2014-11-25 04:24] #21 closed, assigned to jackiekazil

[2014-11-27 00:40] jackiekazil opened #59 "Write tests for Data Collector"
This has no tests. Filing this ticket to hold ourselves accountable -- https://github.com/projectmesa/mesa/pull/45

[2014-11-27 01:04] jackiekazil opened #60 "Create a settings file, then call the settings file"
We have a hard coded ip in our code identified here:  https://github.com/projectmesa/mesa/pull/44#issuecomment-64731319

Todo:
* url should be settable
* port should be settable

[2014-11-27 01:14] jackiekazil opened #61 "Add neighborhood description to Schelling Model.ipynb"
Right now, the neighborhood is not described in the schelling notebook -- 4? or 8?
Please add this clarification to the notebook.

[2014-11-27 01:33] jackiekazil opened #62 "Create template for README.md for examples"
To complete this...
- [ ] Create general template for example READMEs
   - brief description
   - how to demo the example; how do I run this
   - anything else that is important
   - citations?
- [ ] Implement one -- the forest fire
- [ ]  Create tickets for all the other Readme files to be created (or create them) :-)

[2014-11-29 04:32] jackiekazil opened #64 "Turn mesa into a python package proper"
Turn mesa into a proper python package.

[2014-11-29 04:35] jackiekazil opened #65 "Update Pypi record -- https://pypi.python.org/pypi/Mesa/0.0.0"
After #64 -- update Pypi record -- https://pypi.python.org/pypi/Mesa/0.0.0

[2014-11-29 15:27] #50 closed, assigned to dmasad

[2014-11-29 15:28] #55 closed, assigned to nobody

[2014-11-29 15:28] #46 closed, assigned to dmasad

[2014-11-29 15:29] #16 closed, assigned to dmasad

[2014-11-29 15:35] #39 closed, assigned to dmasad

[2014-11-29 15:36] #25 closed, assigned to jackiekazil

[2014-11-29 15:36] #38 closed, assigned to dmasad

[2014-11-29 22:58] #41 closed, assigned to jackiekazil

[2014-11-30 15:30] #51 closed, assigned to nobody

[2014-12-09 00:38] DanielWeitzenfeld opened #66 "Make Grid.get_neighbors() support radius > 1"

[2014-12-16 19:50] #64 closed, assigned to jackiekazil

[2014-12-16 19:50] #65 closed, assigned to jackiekazil

[2014-12-16 21:02] dmasad opened #69 "How to keep PyPI up to date"
Figure out how to update the mesa available on PyPI -- is there a way to synch it to GitHub? Does Jackie need to update it every so often with a new zip file? What's the best practice on that?

[2014-12-16 21:02] #40 closed, assigned to dmasad

[2014-12-16 21:02] #47 closed, assigned to jackiekazil

[2014-12-23 13:26] jackiekazil opened #70 "Setup Sphnix documentation"

[2015-01-12 01:16] jackiekazil commented on #70
This is done -- https://github.com/projectmesa/mesa/tree/master/docs

[2015-01-12 01:16] #70 closed

[2015-01-12 01:26] jackiekazil opened #73 "Docs in this repo or separate repo?"
Right now, we have the docs here:  https://github.com/projectmesa/mesa/tree/master/docs
Do we want to keep them there or move them to a separate repo?

I have see both ways, so I am open.
Related #74

[2015-01-12 01:34] jackiekazil opened #74 "Docs vs site?"
Should we distinguish what the docs cover vs what a site might cover or should we throw everything into the docs at this point?

----

#### Examples

#### NetworkX
* Site: https://networkx.github.io/
* Docs: http://networkx.github.io/documentation/networkx-1.9.1/

#### Scipy
* Docs: http://docs.scipy.org/doc/
* Site: http://scipy.org/

#### Requests
* Docs & site are the same: http://docs.python-r

[2015-01-12 14:49] dmasad commented on #73
With Sphinx, the documentation should be at least in part auto-generated from the source, right? If so, my inclination would be to have it all be one repo: that way, someone can make a branch or fork and update the features and the associated documentation together, and then merge them into master together. Otherwise, we need to manually keep track of which branch of the documentation is associate

[2015-01-12 20:14] dmasad commented on #66
Done / should have been closed.

[2015-01-12 20:14] #66 closed

[2015-01-14 18:54] dmasad opened #76 "Review modular visualization"
Someone should take a look at the new Modular Visualization class and related documentation (especially ModularVisualization.md) in the dmasad.ticket49 branch and see if they make sense.

[2015-01-15 18:25] dmasad opened #77 "Make the charting visualization not suck"
The charting module (currently using [Charts.js](http://www.chartjs.org/) is (barely) functional, but ugly. The defaults should be made nicer, and the configuration should be more Pythonic.

[2015-01-16 14:52] dmasad opened #78 "Submit demo to AAMAS?"
Anyone want to go to Turkey?
http://www.aamas2015.com/en/DEMOS.html

[2015-01-16 17:47] dmasad opened #79 "Modular visualization JavaScript in the HTML file or separate?"
Right now, the JavaScript to render each visualization module is included in the template HTML file as a script tag. This means that on the final page, each visualization div has its own separate script tag. This is ugly, and also not very standard for web development. But none of the alternatives are great:

- Include the code in a separate JavaScript template. This means that each module needs a

[2015-01-20 04:24] jackiekazil opened #80 "Project meeting discussion for this friday"
Things to discuss
* Project organization
* Testing testing testing
* Docs
* New features
* Upcoming milestones
* Conferences to submit to
* Tutorials to write
etc.

If you have feelings about these, please chime in even if you are not able to make the discussion.

[2015-01-25 14:55] dmasad commented on #80
Meeting postponed, so the agenda is still open!

[2015-01-25 14:58] dmasad opened #81 "Fix base classes"
The base classes for Agent and Model were put together pretty haphazardly, and are poorly documented. Fix. In particular, there are some assumptions (e.g. Agent taking a model as a constructor argument) that don't reflect most of the models we've written so far.

[2015-01-30 22:04] dmasad commented on #49
Being tackled in dmasad.ticket49 branch.

[2015-01-30 22:05] dmasad opened #82 "Build documentation from docstrings"
How to get Sphnix to build documentation out of all the docstrings?

[2015-01-30 22:14] dmasad commented on #48
Oh hey this is done.

[2015-01-30 22:14] #48 closed

[2015-01-30 22:20] dmasad commented on #11
I think this is overtaken by ticket 49. Alternatively, relates to turning models into multi-user web apps, which is way in the future.

[2015-01-30 22:20] #11 closed

[2015-01-30 22:24] jackiekazil opened #83 "Split visualization / templates into two or more folders"
Split visualization / templates into two or more folders & create a separate folder for the javascript/static files.

Make template and static paths settable in the settings file (that doesn't exist until # is done).

Whomever takes this ticket -- make sure to send a head ups to the group. This is because this could cause a lot of conflicts in code.

[2015-01-30 22:25] jackiekazil opened #84 "Create a settings file"
Make and make sure these items are settable in that file.
- [ ] Move dat gui url to settings file, then call the settings file #60
- [x] Split visualization / templates into two or more folders #83

[2015-01-30 22:28] jackiekazil opened #85 "Create a "getting started" doc for newbies who want to use it"

[2015-01-30 22:29] jackiekazil commented on #74
We are going to do docs only until we get more established and have time to establish an actual site.

[2015-01-30 22:29] #74 closed

[2015-01-30 22:29] jackiekazil commented on #73
That is a good point. We will leave it in this repo.

[2015-01-30 22:29] #73 closed

[2015-01-30 22:31] jackiekazil commented on #80
Milestones are being updated to reflect our convos and notes are here: https://hackpad.com/Mesa-fP1IJeVLeGu

[2015-01-30 22:31] #80 closed

[2015-01-30 22:36] jackiekazil commented on #79
After our convo....
Let's make visualization have....
.html file
.js file
and .py file

[2015-01-30 22:40] jackiekazil commented on #78
/cc @swise5

[2015-01-31 21:30] jackiekazil commented on #82
@dmasad  -- I still have to do a little more work, but here is a preview --- http://mesa.readthedocs.org/en/latest/py-modindex.html

[2015-02-04 23:44] dmasad commented on #61
Done, will get merged along with some other stuff.

[2015-02-04 23:44] #61 closed

[2015-02-20 15:21] dmasad opened #90 "Improve Grid code"
Gene Callahan (@gcallah) made some good suggestions on streamlining the Grid code on the listserv, which should be integrated.

[2015-02-24 03:01] dmasad opened #91 "Improve 'Contributing' documentation"
Add detail (or at least links) to contributing.md, to help walk people through the actual mechanics of forking, creating a branch, and submitting the pull request.

[2015-03-11 03:37] jackiekazil commented on #62
@dmasad -- should we follow the netlogo model of doing this? (Or other suggestions)

[2015-03-11 04:17] jackiekazil commented on #69
Travis? http://docs.travis-ci.com/user/deployment/pypi/

[2015-04-01 07:33] gcallah opened #97 "WolfSheep not running on my end"
I seem to have the latest code, and am running Python 3.4 on a Mac running Yosemite. All of the other examples work, but this one launches, says it is listening on port 8888... and that's it. I cannot connect on the port, and I see no further messages on the server end. But the server does keep running until I "Ctrl-C" it.

[2015-04-01 11:16] dmasad commented on #97
I'll try to take a look today, that might just not work at the moment.

On Wed, Apr 1, 2015, 03:33 Gene Callahan <notifications@github.com> wrote:

[2015-04-02 02:11] gcallah commented on #97
One thing that could make life easier for a newcomer to the project: consistent ways to run the models. My students and I have a convention that our model is always named X_model.py and the file that sets it up and runs it is X_run.py.

In Mesa, this isn’t consistent across examples. Sometimes you run the model file, sometimes the server file, sometimes a file with visualization in the name (as I

[2015-04-09 22:38] dmasad commented on #97
Working on this. It seems to be the case that the model is starting, then hanging at some point during the run. I'm getting similar behavior sometimes (but not always) with the Schelling model as well. Digging into it.

[2015-04-10 02:05] dmasad commented on #97
Looks like there are two separate issues:

1. There was a bug introduced into the Canvas Server which made it disregard the max_steps parameter when running a model, leading some instantiations to run forever. That's been resolved, and will be merged in ASAP.
2. Even with that bug fixed, the WolfSheepPredation model takes too long to run. In practice, this means that it takes several minutes betwe

[2015-04-10 03:08] dmasad opened #99 "Extensible grid"
The new grid isn't written in a way that makes it compatible with MultiGrid. Either several methods need to be overloaded in MultiGrid, or else the methods in Grid need to be modified so that they can work with cells of sets instead of just single objects.

This should also help fix the underlying issue in Ticket #97.

[2015-04-11 20:51] dmasad commented on #99
I'm moving some of the functionality in Grid to SingleGrid, which strictly enforces the one-object-per-cell rule, keeps track of empty locations, etc. That allows Grid to be written more generically, so that MultiGrid and the upcoming ContinuousSpace can inherit from it.

[2015-04-12 16:42] dmasad opened #100 "Standardize coordinate notation"
The current models and Grid methods use either coordinate tuples or pairs of x, y arguments / variables. We should standardize to one or the other.

[2015-04-12 16:43] dmasad commented on #90
This was done.

[2015-04-12 16:43] #90 closed

[2015-04-12 16:43] dmasad commented on #78
OBE.

[2015-04-12 16:43] #78 closed

[2015-04-24 21:03] #97 closed

[2015-04-24 21:04] #99 closed

[2015-04-27 16:34] dmasad opened #102 "Add data collection features"
Discovered a need for these two features while using Mesa "in production":
- Break apart the constructor to allow variables to be added later
- Create tables that the model and/or agents can write to directly as needed, rather than data collected automatically every step.

[2015-05-10 22:16] dmasad commented on #35
Attempting to work on this. One issue coming up so far is that with models where the number of agents increases indefinitely (e.g. WolfSheep), the continuous running slows down enough to slow down the server itself. One possible solution might be to pause the model running if it gets too far ahead of the current viz state? Or else just remind users to set reasonable max_steps constraints and termi

[2015-05-16 19:36] dmasad commented on #79
I've found a way to embetter this, and get rid of the ugly templated JavaScript. Each module will now consist of a .py and .js file. The JavaScript file defines an object, which creates the appropriate element on construction and stores an internal reference to it, along with associated render() and reset() methods. The object created and stored in a list of all elements, so that rendering data in

[2015-05-17 03:35] jackiekazil commented on #20
I like this a lot.

[2015-05-17 03:48] #102 closed

[2015-05-17 03:59] jackiekazil opened #105 "Figure out why coveralls says 26%, but it looks like we are covered at 85%"
Figure out why coveralls says 26%, but it looks like we are covered at 85%?

[2015-05-17 04:05] jackiekazil commented on #105
AH HA!
`nosetests --with-coverage` is running tests for all things including installed packages  (scipy, pandas, etc.)

If you go to the travis build and look at the logs for the command, you will see it.
Afterwards, the coverage gets submitted to coveralls...
[code]

[2015-05-17 16:07] dmasad opened #107 "Allow fixed seed for replication"
Figure out how to best handle running a model with a fixed seed, to ensure that it will produce the same result. and implement that.

[2015-05-19 23:31] davpaez commented on #91
Hi guys. I'm relatively new to Python and git, but I would like to contribute to the project. It would be great to have a more detailed guide of:

1. How to set up a workspace (I'm using conda, but I'm not sure if this replaces virtualenv)
2. How to fork, create branch and submit pull request (as already mentioned)
3. Other ways to contribute

[2015-05-20 01:08] dmasad commented on #91
Welcome -- and good questions! Definitely something we need to get on. In the mean time:

1. Other Mesa folks, has anyone used Conda for this? From some quick Googling, it looks like it [has its own virtual environment equivalent](http://davebehnke.com/using-python-anaconda-distribution.html) which looks like it should work the same way.

2. Check out GitHub's [fork boot camp](https://help.github.

[2015-05-22 21:02] jackiekazil opened #108 "Write paper for Scipy"
https://github.com/projectmesa/scipy_proceedings/tree/mesa.draft/papers/jacqueline_kazil
Format: https://cs.gmu.edu/~sean/papers/simulation.pdf
Outline: https://github.com/projectmesa/scipy_proceedings/blob/mesa.draft/papers/jacqueline_kazil/mesa_abm.rst

[2015-05-22 21:04] jackiekazil opened #109 "Revisions for paper due on July 1"
Related #108

[2015-05-22 21:11] jackiekazil opened #110 "Read over and review Modular Visualization"
https://github.com/projectmesa/mesa/blob/clean_modules.79/mesa/visualization/ModularVisualization.md
+
https://github.com/projectmesa/mesa/blob/clean_modules.79/mesa/visualization/templates/CanvasModule.js

[2015-05-24 16:06] jackiekazil commented on #91
Hello @davpaez -- David and I were chatting the other day. I wanted to check in on you. Did you have any questions?  My email address is my github handle at gmail dot com.

[2015-05-25 06:10] davpaez commented on #91
Hello Jackie! Thanks, I managed to get everything running :) I will add the steps I followed to get mesa working with conda. Also, I found a couple of bugs in one of the examples when using the visualization mode (in the browser).

Right now I'm finishing semester at uni, but I think next week I'll start helping out :)
Thank you guys.

David P

[2015-05-25 13:36] jackiekazil commented on #91
That's awesome! Looking forward to it! Please reach out if you run into any
troubles that we might be able to help with!

[2015-05-25 17:54] dmasad opened #111 "DataCollector bug"
Found a minor bug in DataCollector, where some variables are not initialized in the instance, and become class variables instead. Fixing.

[2015-05-25 17:59] #111 closed

[2015-05-27 23:45] datnamer commented on #35
Perhaps the [dask]( http://dask.pydata.org/en/latest/ ) async scheduler can help?

Pure python dependency, can encode tasks as nodes in a dag using dicts, tuples, and functions.

Also may be helpful for a future  parallel HPC version of Mesa, along with the upcoming [class PR](https://github.com/numba/numba/pull/1023) in numba:

[2015-05-29 21:03] jackiekazil opened #113 "Write Intro / Why ABM for Scipy paper"
refs #108

[2015-06-01 13:28] dmasad commented on #35
Interesting, hadn't seen that package before! In the mean time, Tornado's built-in coroutines seem to work, but this is good to keep in mind as well.

[2015-06-02 14:31] dmasad opened #114 "Grid move_agent to same position"
Grid's move_agent method errors out when trying to move the agent to the same position.

[2015-06-03 19:02] dmasad opened #115 "Batch runner depends on running"
The Batch Runner fails silently if the model it is running does not have a *running* parameter set to True at least by default.

[2015-06-04 04:56] jackiekazil commented on #110
@dmasad I wanted to make some suggestions, but some might require back and forth / comments. I don't feel comfortable just editing without discussing firth. Can we move the proposal to google docs or plan on discussion during our next regroup?

[2015-06-09 01:29] dmasad opened #117 "Move ModularVisualization.md to documentation"
Edit documentation of ModularVisualization, convert to RST and move it to the documentation.

[2015-06-09 01:32] jackiekazil opened #118 "Squash and merge master modular visualization"

[2015-06-09 01:32] dmasad commented on #76
Done.

[2015-06-09 01:32] #76 closed

[2015-06-09 01:35] jackiekazil opened #119 "Update docs to get someone up & running!!"

[2015-06-09 01:37] jackiekazil commented on #110
Doc for test and discussion: https://docs.google.com/document/d/1wWjYw0oqCz8b0QL7r9nmIqAeeI4wwg_AGTOVsLEc8EY/edit

[2015-06-09 01:37] #110 closed

[2015-06-09 02:56] jackiekazil commented on #20
I am going to close this in lieu of more descriptive tickets.

[2015-06-09 02:56] #20 closed

[2015-06-09 02:58] jackiekazil opened #120 "Create a way/method to test models"
We need a standardized way of testing a model package. See #20... this is where this idea came from.

Questions:
- What are we trying to test?
- How big or small should this be?

[2015-06-09 03:01] jackiekazil commented on #105
This is because of 2 reasons. The first is covered in this ticket: #116.
The second is because we are not testing all of our modules, because they are not accessible to coveralls via the __init__.py, so we should figure out how we need to restructure the files. The first iteration of this was in #106, but I realized that this needs more careful consideration. (See that PR for more details.)

[2015-06-09 03:06] jackiekazil opened #121 "Push deployment to PyPi before Scipy"

[2015-06-14 00:56] #113 closed

[2015-06-14 00:56] #108 closed

[2015-06-14 00:57] jackiekazil opened #122 "Pull together Scipy Presentation"
w00t!

[2015-06-16 03:29] jackiekazil opened #125 "Clean up stray branches"
@dmasad -- we have a crap load of stray branches.
Let's both comb through and delete what is not being used.... some how branches end up hanging out after they are merged or abandoned.  Merged ones should be deleted after the merge.

Here are a list of the remaining branches -- when all of these have been checked off, then they have been acknowledged a keep or delete.

- [x] remotes/origin/Ascii_S

[2015-06-16 17:24] jlstevens opened #127 "Consider HoloViews for your animation needs"
Hi

I spotted your SciPy 2015 paper submission and decided to have a look at your project - I've previously enjoyed playing around with agent based models in [Netlogo](http://ccl.northwestern.edu/netlogo/index.shtml). Mesa looks like a nice to a way of doing ABM in Python!

In your forest fire notebook, I noticed you TODO item ("Add a MatPlotLib visualization") and as the author of a new library c

[2015-06-17 12:56] dmasad commented on #127
Thanks for the heads-up. HoloViews seems really useful, and the notebook with the visualization looks excellent! Definitely something we'll explore.

[2015-06-17 14:03] jlstevens commented on #127
Great! :-)

I'll play around with the other Mesa notebooks in my spare time and keep you up-to-date with any nice examples I come up with.

It might be a little too early, but if you have any queries about HoloViews, please feel free to ask us questions on [gitter](https://gitter.im/ioam/holoviews).

[2015-06-18 14:27] davpaez commented on #114
I changed the order of the operations inside move_agent: so the agent is first removed and then it is placed. This way it will never disapper from the grid. I just made a pull request.
Did I do it right? hehe

[2015-06-19 02:32] davpaez commented on #34
I'm working on this ;)

[2015-06-22 01:16] jackiekazil commented on #127
@jlstevens Thank you for bringing this to our attention. HoloViews does look interesting!
We will definitely consider.

I am closing this for now since there is no action item at this time.

[2015-06-22 01:16] #127 closed

[2015-06-22 01:45] jackiekazil opened #129 "Start tagging releases"
Start tagging releases. Tagging should match version number on pypi.

[2015-06-22 01:49] jackiekazil commented on #129
This is done. Our first tag is v0.6.0.
https://github.com/projectmesa/mesa/tree/v0.6.0
it was pushed up to Pypi this evening --
https://pypi.python.org/pypi/Mesa/

(Related, but unrelated, but related...)
I also started a history file for us to track changes and inform folks of what is happening.
When we merge something in, let's try to track it here:
https://github.com/projectmesa/mesa/blob/maste

[2015-06-22 01:49] #129 closed

[2015-06-22 01:50] jackiekazil commented on #121
I am going to say this is done. I will make sure to push another if we have more updates before Scipy.

[2015-06-22 01:50] #121 closed

[2015-06-22 01:50] jackiekazil commented on #121
Covered w/ #129

[2015-06-22 01:51] jackiekazil commented on #118
Done in #126 and #124

[2015-06-22 01:51] #118 closed

[2015-06-22 02:24] jackiekazil commented on #109
@dmasad ... I am making updates right now. Not sure how far I will get tonight, but I will try to make sure my trail is documented in comments here: https://github.com/scipy-conference/scipy_proceedings/pull/133

So, if you want to pick up / update where I left off you can.

[2015-06-22 03:03] jackiekazil commented on #109
@dmasad all review feedback as been addressed, except for the license --- I sent you an email on that.
Please review the abstract again to make sure I didn't introduce any errors.

I am going to leave this ticket open just incase we get more feedback on the paper.

[2015-06-22 03:04] jackiekazil commented on #36
We got a logo going on! Thank  you @dmasad and Dani! I am going to close this.

[2015-06-22 03:04] #36 closed

[2015-06-23 19:24] #114 closed

[2015-06-23 19:24] dmasad commented on #114
Looks good, thanks!

[2015-06-23 19:53] dmasad commented on #125
This is done. Only keeping master, and the two branches under active development: docs_update and continuous_space.

[2015-06-23 19:53] #125 closed

[2015-06-25 00:17] jackiekazil opened #131 "Update License to Apache & push change."

[2015-06-25 17:27] dmasad opened #132 "Frequently-needed functions"
Are there recurring functions which come up frequently enough in agent-based modeling that we should include them in Mesa? The first one that comes to mind is proportional selection, i.e. picking one of a set of options based on weights. [This post](http://jbn.github.io/fast_proportional_selection/) made me think that it might be worthwhile to have a somewhat-optimized implementation of that somew

[2015-06-28 02:36] jackiekazil commented on #131
Fixed by #133

[2015-06-28 02:36] #131 closed

[2015-06-28 02:53] jackiekazil commented on #109
This is the final one projectmesa/scipy_proceedings#6 that exists. I am going to close this. I am sure if we have more we will just address them.

[2015-06-28 02:53] #109 closed

[2015-07-03 18:18] jackiekazil opened #134 "Move Mesa examples to another repo with sub classing to this repo?"
Move Mesa examples to another repo with sub classing to this repo?
Let's explore this more and figure out if this is something pattern that will work with subclassing git repo inside a git repo.
#### Things to consider
- How pushing to pypi works
- Make sure if someone changes any of the core that the examples still run
  - The tests are based on some of our examples

[2015-07-03 18:20] jackiekazil opened #135 "Create github.io page"
Create github.io page?

[2015-07-05 19:26] dmasad opened #139 "Simultaneous activation"
Integrate the simultaneous activation scheduler and test.

[2015-07-07 18:36] jackiekazil commented on #17
Fixed.  @dmasad, please reopen or open a new ticket if more work.

[2015-07-07 18:36] #17 closed

[2015-07-07 18:36] jackiekazil commented on #139
Done.

[2015-07-07 18:36] #139 closed

[2015-07-07 18:36] jackiekazil commented on #122
This is almost done, but we don't need a ticket holder for this anymore.

[2015-07-07 18:36] #122 closed

[2015-07-10 04:58] jackiekazil opened #141 "Bug: pip install doesn't register visualization components"
When the `pip install mesa`, then try to write code involving visualization you will get the following error:
`ImportError: No module named 'mesa.visualization'`.

I haven't been able to find a solution, but I am wondering if [this](http://python-notes.curiousefficiency.org/en/latest/python_concepts/import_traps.html) has something to do with it:

### How to recreate
[code]
### How to test solutio

[2015-07-10 05:25] jackiekazil opened #143 "Finish turning paper into tutorial"
We wrote a paper for Scipy -- http://nipy.bic.berkeley.edu:5000/download/23
We are turning it into a tutorial in our docs -- http://mesa.readthedocs.org/en/latest/.

We started building it out, but if someone wants to run with this -- that would be awesome! This would be a great way to learn about the library AND contribute at the same time!

Please reach out to myself or @dmasad if you have quest

[2015-07-10 17:02] ConvexHull opened #144 "Some bloopers and formatting issues in documentation"
There are some bloopers and formatting issues in README.rst and CONTRIBUTING.rst. See upcoming pull request.

[2015-07-11 15:05] dmasad commented on #144
Looks like this has been fixed, thanks!

[2015-07-11 15:05] #144 closed

[2015-07-11 16:07] #79 closed

[2015-07-11 16:07] #49 closed

[2015-07-11 16:08] dmasad commented on #83
This was done.

[2015-07-11 16:08] #83 closed

[2015-07-11 16:10] dmasad commented on #82
Done.

[2015-07-11 16:10] #82 closed

[2015-07-11 16:11] dmasad commented on #59
This was done.

[2015-07-11 16:11] #59 closed

[2015-07-11 16:19] #35 closed

[2015-07-11 16:32] jiffyclub commented on #135
If you're using readthedocs it's not really necessary to use GitHub pages, but I find myself mostly using GitHub pages because readthedocs can't automatically build the docs for my packages because of the complicated dependencies (like SciPy).

[2015-07-11 16:37] dmasad opened #149 "Chart.js not showing first few data points"
Currently, the chart visualization drops the first few points. This is a known bug in the current version of chart.js (see: https://github.com/nnnick/Chart.js/issues/573).

[2015-07-11 16:51] jiffyclub commented on #105
Coverage is at 56% right now according to the latest run, e.g. https://coveralls.io/builds/3033351.

[2015-07-11 16:53] jiffyclub commented on #69
Most projects only put official releases on PyPI, it's not synced with GitHub development. I generally go through the manual process of setting a release version number, creating a release tag, and generating source and wheel versions of the release to upload to PyPI. There are probably tools for automating that a bit but I haven't looked into them.

[2015-07-11 17:00] jiffyclub commented on #43
Travis-CI is running the code through flake8 to check for PEP8 compliance so I think you can close this.

[2015-07-11 19:05] #43 closed

[2015-07-11 20:00] dmasad commented on #100
Standardizing to coordinate tuples

[2015-07-11 21:33] jackiekazil commented on #141
This is done and in version 0.6.5. : https://pypi.python.org/pypi/Mesa/0.6.5

[2015-07-11 21:33] #141 closed

[2015-07-11 21:44] chendaniely opened #152 "Generate class diagrams"
Class diagrams are really useful for people who will be contributing to the project.  They will also help people who know  how to program know what classes and methods are available.

If you have pylint installed, it comes with `pyreverse`

to generate the class diagram make sure you have `mesa` installed (e.g., via `pip`)
go into the base mesa folder (e.g. `/home/dchen/git/forks/mesa`) and run:

[2015-07-12 04:34] jackiekazil commented on #100
@dmasad can this be closed?

[2015-07-12 04:35] jackiekazil commented on #100
YAY!

[2015-07-12 04:35] #100 closed

[2015-07-12 22:03] dotsdl commented on #34
@davpaez are you still working on this? Otherwise, happy to dig into it.

[2015-07-12 22:04] dotsdl commented on #115
I'll work on this. :D

[2015-07-12 22:32] dmasad commented on #143
@chendaniely is handling this.

[2015-07-13 04:32] jackiekazil commented on #143
:+1:

[2015-07-13 04:32] jackiekazil commented on #115
@dotsdl :+1:

[2015-07-13 04:34] jackiekazil commented on #34
@dotsdl, I assume you were at the sprint? Would you still be interested if @davpaez does not chime in soon?

[2015-07-13 04:36] jackiekazil commented on #152
Ty for these notes! This is very helpful!
@dmasad -- ideas on where to put this? / how to integrate into the project?

[2015-07-13 04:43] jackiekazil opened #158 "Issue congrats and thank you to all our contributors!!"
OMG - This weekend has been amazing! Thank you so much for everyone who scrubbed in and continue to scrub in!! @dmasad and I are so excited about there this project might with the help of folks from the community!!!

Thank you to...
@jiffyclub -- ty for helping us improve our packing, CI build, clean up the code a little bit, and chiming in on tickets. Your help is invaluable!!
@chendaniely -- for

[2015-07-13 14:23] dmasad commented on #158
:+1:

[2015-07-13 18:12] dotsdl commented on #158
Awesome, joined. Very excited about this project!

[2015-07-13 18:55] dotsdl commented on #34
Yup. Still interested. :D

[2015-07-14 01:39] dmasad opened #159 "Rebuild docs"
The current docs are out of date with the current code. I built the documentation in a branch, and I'm trying to see how to see them on ReadTheDocs before merging.

[2015-07-14 02:49] jackiekazil commented on #159
Assign #160, w/ 'accept', remove 'working' when it is ready to go. (I don't want to merge while in the middle of working.

[2015-07-14 04:24] jiffyclub commented on #158
:heart:

[2015-07-14 04:30] jiffyclub commented on #159
As I mentioned in https://github.com/projectmesa/mesa/issues/135#issuecomment-120637925, I'm not sure about building scientific projects on ReadTheDocs, though somehow AstroPy seems to get it done. I've always resorted to building the docs locally and manually pushing to [GitHub Pages](https://pages.github.com/).

[2015-07-14 04:40] chendaniely commented on #158
:fireworks:

[2015-07-14 07:35] davpaez commented on #34
Hi, I'm sorry for the delay. I just submitted a pull request. It seems to be working. I'd like to hear your toughts on the custom schedule that I added.

[2015-07-14 07:44] davpaez commented on #158
I just watched your presentation at SciPy2015 on Youtube. It was awesome, congratulations!

[2015-07-14 14:40] dmasad commented on #159
It seems to build and display okay on RTD. Somehow @jackiekazil managed to get it to build/display a branch as well, but I'm not managing to find how to display a new branch on it now.

[2015-07-14 20:17] jackiekazil commented on #159
You need to activate the branch here:
https://readthedocs.org/dashboard/mesa/versions/
Then hit build on the branch here: https://readthedocs.org/builds/mesa/

[2015-07-14 20:32] dmasad commented on #159
@jackiekazil Not seeing the new branch there, though...

[2015-07-14 21:46] dmasad opened #162 "Reformat docstrings in reStructuredText"
The docstrings are currently all written more or less according to the Google Style Guide. However, Sphinx doesn't render that very nicely. We need to reformat them the way Sphinx expects. Alternatively, we need to look into [Napoleon](http://sphinxcontrib-napoleon.readthedocs.org/en/latest/index.html) or something similar to get Sphinx to build the current docstrings properly.

[2015-07-14 21:48] dmasad commented on #159
This looks good: http://mesa.readthedocs.org/en/update_docs_0713/
It is failing to build the PDF, not clear to me why.
 (well, it looks updated -- see #162 for looking good).

[2015-07-18 00:56] chendaniely commented on #162
For reference: https://pythonhosted.org/an_example_pypi_project/sphinx.html

[code]

[2015-07-18 00:59] chendaniely commented on #143
How did you get figure 4 to look the way it does? I can only get the figure below:

![download](https://cloud.githubusercontent.com/assets/5782147/8759638/ad701b7e-2cc6-11e5-842c-bdaf87bd5130.png)

I'm assuming you styled it up.  Do you have the code for that?

[2015-07-18 01:16] chendaniely opened #163 "Write out time tick values out to external file"
I means to write out agent information to a file is needed so large simulations can be run.
This can be accomplished using the `csv` standard module, or we can create a custom file writer.

A generic way would be to have a function that takes a series of `**kwargs`, a `dict`, `tuple` or `list`

[2015-07-19 21:00] dmasad commented on #143
Here's the code for that:

[code]

[2015-07-19 22:41] dmasad commented on #159
Seems to be fixed now.

[2015-07-20 02:04] dmasad commented on #162
So looks like the Napoleon extension works. Testing now how it looks on RTD.

[2015-07-20 02:15] jackiekazil commented on #159
@dmasad is this done w/ the merge of #160? (meaning this can be closed?)

[2015-07-20 02:17] dmasad commented on #159
Yup!

[2015-07-20 02:17] #159 closed

[2015-07-20 17:17] dmasad commented on #162
Okay, Sphinx + napoleon +  RTD looks good!
Compare the [new version](http://mesa.readthedocs.org/en/doc_reformat.162/mesa.html#module-mesa.space) with the [old version](http://mesa.readthedocs.org/en/latest/mesa.html#module-mesa.space). Some editing needs to be done, but overall I think it's much better.

Many other Python projects seem to use Sphinx formatting -- not sure if that's just a legacy

[2015-07-20 18:20] chendaniely commented on #105
`nosetests --cover-branches --with-coverage --cover-erase --cover-package=mesa` the last flag tells it to just run coverate test on the current project and not everything imported

[2015-07-20 18:21] chendaniely commented on #143
@dmasad do you also have the code for the `get_gini` function used in the batch runner?

[2015-07-20 18:27] dmasad commented on #143
Yup, it's:

[code]

All of the code should be in the [example notebook](https://github.com/projectmesa/scipy_proceedings/blob/2015/papers/jacqueline_kazil/Sample%20Model%20Variants.ipynb) and [model code](https://github.com/projectmesa/scipy_proceedings/blob/2015/papers/jacqueline_kazil/MoneyModel.py) from the SciPy proceedings paper directory.

[2015-07-20 18:38] chendaniely commented on #143
Ahh... got it. Thanks!

[2015-07-23 02:44] DOSull opened #164 "namespace clash between time.py and time in logging.py?"
This is probably my incompetence at dealing with several python installs on one machine, and in particular with adding a 3.4 install just so I could see what mesa is like, but anyway...

When I try to run an example model (inside an IDE, so there is also  that...) I get this error

    File "/Users/dosullivan/anaconda/lib/python3.4/logging/__init__.py", line 57, in <module> _startTime = time.time(

[2015-07-23 13:20] dmasad commented on #164
I haven't seen that before. Which model are you trying to run?

[2015-07-23 15:29] DOSull commented on #164
It could easily be some issue with my setup - and at the moment it is hard for me to comment because I'm trying to get set up to run 3.4 and 2.7 on the same machine, and it's involved taking some steps back before I try to take some forward... which means I haven't got mesa installed just now.
It was Schelling, Flockers and the PD models - of them with the same symptom.
So... let me get back to yo

[2015-07-23 16:40] DOSull commented on #164
David,
I've posted a response on github.  Basically, will need to get my
(multiple) python installs worked out before I can be completely
confident about what is going on.

This could take some time...

David

On 7/23/15 6:20 AM, David Masad wrote:

[2015-07-23 21:15] DOSull commented on #164
OK... clearly it was something to do with my setup, as this problem is now gone (after several hours wrangling python installations!)
I've made the Forest Fire notebook example work and I can run other models from inside my IDE. I'm a little confused that model visualizations seem to require additional steps (as a long time NetLogo user, you come to expect visualization 'for free'), but I guess it

[2015-07-24 01:01] dmasad commented on #164
Glad to hear that it works! If the problem is solved and doesn't seem to be a problem with Mesa itself, I'll close this ticket for now.

Yes, we're purposefully going a different route from NetLogo and separating out the visualization from the model itself. The goal is to have more flexibility on both, without the assumptions that having them always linked impose. But we do want to streamline the

[2015-07-24 01:01] #164 closed

[2015-07-27 01:26] #158 closed

[2015-08-18 00:12] dmasad commented on #134
I like the way [tornado does it](https://github.com/tornadoweb/tornado), where the examples are part of the repo but not the manifest that gets packaged up for pypi.

[2015-08-18 00:38] #13 closed

[2015-08-18 00:38] jackiekazil commented on #13
This is done-ish

[2015-08-18 01:01] dmasad commented on #31
OBE.

[2015-08-18 01:01] #31 closed

[2015-08-18 01:04] dmasad commented on #37
No longer relevant.

[2015-08-18 01:04] #37 closed

[2015-08-18 01:05] dmasad commented on #34
@davpaez are you still working on the changes to the pull request, and/or do you want someone else to jump in and work on it?

[2015-08-18 01:09] dmasad commented on #62
This should also be a documentation page.

[2015-08-18 01:12] jackiekazil commented on #119
This is done, except for the tutorial which is pending ... see #143

[2015-08-18 01:12] #119 closed

[2015-08-18 01:21] dmasad commented on #162
Sounds like consensus is that we should stick with RST.

[2015-08-18 01:22] jackiekazil commented on #60
#84 wins!

[2015-08-18 01:22] #60 closed

[2015-08-18 01:22] jackiekazil commented on #84
url should be settable
port should be settable

[2015-08-18 01:25] jackiekazil opened #165 "Teach someone else to upload to PyPI"
Teach someone else to upload to PyPI -- @dmasad

[2015-08-18 01:27] jackiekazil commented on #69
We will update manually ... #165

[2015-08-18 01:27] #69 closed

[2015-08-18 01:28] jackiekazil commented on #85
This is solved by #143

[2015-08-18 01:28] #85 closed

[2015-08-18 01:44] dmasad opened #166 "Staged activation"
Not every model will have agents with a single ``step`` method. Sometimes we want all agents to execute ``substep_a``, then all agents execute ``substep_b``, and so on, before going back to ``substep_c``. There should be a scheduler which implements that.

[2015-08-18 01:44] dmasad commented on #166
I have a provisional version of this done, which needs to be generalized and tested.

[2015-08-18 01:55] dmasad commented on #132
Will create, add weighted selection.

[2015-08-18 01:56] jackiekazil commented on #115
Open to anyone picking it up... please post if you do.

[2015-08-18 01:57] dmasad commented on #115
I'll take it, unless nobody else does it first.

[2015-08-18 05:08] dotsdl opened #167 "DataCollector: store datasets internally as structured arrays"
At the moment ``DataCollector`` keeps a dictionary for each of:
* model_vars
* agent_vars
* tables

These currently store values that are lists of tuples, lists of lists of tuples, or dictionaries of lists. This works fine for small models, but performance in using these data or making ``pandas.DataFrame``s from them doesn't scale up well to thousands of agents over thousands of steps.

One option

[2015-08-18 05:19] dotsdl opened #168 "DataCollector: add options for chunked writeouts to pandas-supported file formats"
Although the data collected for a single model may all fit in memory, for bigger models run for greater steps it will be useful to have a ``DataCollector`` write out its collected datasets to file(s) as the model runs.

Perhaps the easiest way to implement this is to use ``pandas``' already built-in IO backends. If these are built into the ``DataCollector`` object, they could be exposed via the co

[2015-09-09 22:04] jackiekazil commented on #134
Here is what I was talking about: https://github.com/projectmesa/mesa/tree/134.subrepo
The tests will need to be updated a little bit, but before I do that, I want to know that we are interested in moving in this direction.
@projectmesa/maintainers --- move forward or no?

[2015-09-12 15:25] dmasad commented on #143
@chendaniely Have you had a chance to work on this any more? I'm happy to jump in and add to it.

[2015-09-15 00:13] jackiekazil commented on #34
Let's move this convo to #169

[2015-09-15 00:13] #34 closed

[2015-09-15 00:32] jackiekazil commented on #166
Let's move this convo to the PR & close this.

[2015-09-15 00:32] #166 closed

[2015-09-15 00:34] jackiekazil commented on #168
@dmasad and I were chatting... if this is a longer thing, can we break it up into smaller components or what do we need to do to identify the next steps? Please let us know.

[2015-09-15 00:34] jackiekazil commented on #167
@dmasad and I were chatting... if this is a longer thing, can we break it up into smaller components or what do we need to do to identify the next steps? Please let us know.

[2015-09-15 17:13] chendaniely opened #172 "Link to tutorial"
#171 contains the code for the scipy conference paper, but the offical documentation still [links](http://mesa.readthedocs.org/en/latest/intro-tutorial.html) to the older tutorial.  Not sure what the best way to handle linking to the tutorial.

Maybe use github's built-in notebook rendering and link directly to the notebook: https://github.com/projectmesa/mesa/blob/master/examples/Tutorial-Boltzma

[2015-09-15 17:18] dmasad commented on #172
I think the Notebook tutorial is good, but that we should also have it as part of the documentation proper. Thoughts?

[2015-09-15 17:20] chendaniely commented on #172
You can use pandoc to output a html file and paste it into the tutorial

or create a link in the docs to the notebooks.

I personally would go with the ladder, since it will allow you to link multiple tutorials from the docs, and won't have to worry as much about things going out of sync.

[2015-09-24 14:43] dmasad opened #173 "MesaLogo Class"
Feature proposal: a "batteries-included" model class to streamline spinning up NetLogo style models, with a pre-included scheduler, grid, add/kill methods which handle both the scheduler and the grid, a patch class, etc.

[2015-11-06 19:07] dmasad opened #174 "Not building from source"
When trying to build and install Mesa from source, something -- one of the dependencies, I think -- is failing. Fun times, not least because this means that the documentation isn't building either.

To replicate:
- Download / clone the repo
- Make a new virtualenv
- Go into downloaded code directory, and `python setup.py install`
- Wait for failure.

[2015-11-06 19:37] dmasad commented on #174
When I manually pip install the requirements (numpy, pandas, tornado) and *then* ``python setup.py install`` it works.

[2015-11-07 18:44] dmasad commented on #174
[Log for failed RTD build](https://readthedocs.org/projects/mesa/builds/3463792/)

[2015-11-09 19:28] dmasad opened #175 "DataCollector and lambdas"
Currently the default DataCollector API encourages the use of lambdas to define the model- and agent reporters. This is nice and readable, and doesn't require subclassing the DataCollector for each model. However, it turns out that lambdas are not pickle-able. This means that model objects using DataCollectors can't easily be serialized, which creates problems for checkpointing, model storage, and

[2015-11-11 18:50] datnamer commented on #175
The dill library can serialize lambdas IIRC.

[2015-11-21 02:49] dmasad opened #176 "Review tutorial"
Someone take a look at the complete [tutorial draft](https://github.com/projectmesa/mesa/blob/tutorial_update/docs/intro-tutorial.rst) and see how clear you find it. Especially useful would be if someone wants to work through it.

[2015-11-21 20:34] dmasad commented on #176
UPDATE: Finally got the branch built in ReadTheDocs, so the nicer-formatted version is available there:
http://mesa.readthedocs.org/en/tutorial_update/intro-tutorial.html

[2015-11-21 21:20] dmasad commented on #175
I've tried dill as well. It can be made to do it, but with a couple caveats: mostly that it has to be by reference (``dill.dump(model, f, byref=True)``) which means that the original model classes needs to exist in the interpreter when the model is read back in. External classes in dill seem to generate some weird behaviors, which are (may be?) under development. See [this StackOverflow discussion

[2015-12-02 16:57] paultopia commented on #174
After a little bit of poking around, it looks like this is a known bit of scipy pissiness---it basically refuses to go and fetch numpy on its own, apparently other dependencies as well, and just decides to puke instead.  See this sklearn issue https://github.com/scikit-learn/scikit-learn/issues/4164 and this SO http://stackoverflow.com/questions/11114225/installing-scipy-and-numpy-using-pip  -- as

[2015-12-03 05:39] paultopia commented on #176
A few things just from reading over the first half of the tutorial.

1.  It looks like the github link in the first post is slightly more up to date than the readthedocs version.
2.  Out of curiosity, what was the design reason for storing the list of agents as a property of the scheduler rather than of the model directly?
3.  Re: the todo about `get_cell_list_contents` only taking lists even for

[2015-12-03 15:23] dmasad commented on #174
Good to know! Looks like There are ways around it now (and the RTD issue was separate after all), so not a high priority.

[2015-12-03 15:23] #174 closed

[2015-12-03 15:41] dmasad commented on #176
Thanks!

1. Which link are you referring to?

2. The design reasoning there was basically maintaining modularity, so that a Schedule didn't require a Model object to go along with it. It's easy enough to add an agent list to the model, or use a decorator to make Model.agents point to Schedule.agents.

3. Yes, that is a super-easy fix. Can you open a ticket for it? And you're welcome / encouraged t

[2015-12-04 02:43] paultopia commented on #176
Totally.

1.  I'm referring to this <a href="https://github.com/projectmesa/mesa/blob/tutorial_update/docs/intro-tutorial.rst">this</a> being a little more updated than <a href="http://mesa.readthedocs.org/en/tutorial_update/intro-tutorial.html">this</a> -- I only noticed because there's a comment in the code example right at the start on the github one that answers a question I asked you over twi

[2015-12-04 02:55] paultopia opened #177 "baby patch/tweak: allow cell methods to take single cell"
Cf. discussion in #176 -- taking on the small "(TODO: someone should probably fix that...)" from the tutorial re: grid's `get_cell_list_contents` requiring a list of cells even if it's just being passed a single cell.  It's a very easy fix, I'm on the case.  :-)

[2015-12-05 16:52] #177 closed

[2015-12-28 14:25] dmasad commented on #115
Fixed.

[2015-12-28 14:25] #115 closed

[2015-12-30 19:31] tseminivan commented on #176
My aim was to try out Mesa alongside other ABM tools in a minimum amount of time and effort. I followed this tutorial with the aim of setting up a simple visualization of a grid of agents. I had no interest in the data collection or batch running side quests and therefore skipped those sections.

However I was stumped when my in browser grid was pretty much unresponsive. It responded to reset clic

[2016-01-02 19:25] dmasad commented on #176
@tseminivan Thanks for the feedback! The 'running' bug has been fixed for the next release, but I'll update the tutorial in the mean time.

[2016-01-02 23:58] VictorNorman opened #180 "WebSocket connection fail"
When I start up ForestFireVisualization.py, I get this:

WebSocket connection to 'ws://127.0.0.1/ws' failed: Error during WebSocket handshake: Unexpected response code: 403

[2016-01-06 15:11] dmasad commented on #180
Fixed!

[2016-01-06 15:11] #180 closed

[2016-01-06 19:12] VictorNorman opened #182 "Add Conway's Game of Life simulation example"

[2016-02-10 04:58] jackiekazil opened #184 "Add terminal "echo" after server launch to instruct to visit 127.0.0.1:8888"
When running some of the examples, I realized that users may not know where to go if they are starting with the examples.

Add something to server module that says something like...
"Launching at 127.0.0.1:8888."
OR
"Visit 127.0.0.1:8888 in your browser for the interface."

[2016-02-10 05:14] jackiekazil opened #185 "Add a "To run this example" to all examples"
We need to add some instructions to the readmes to help clarify how to run examples.
Here is a simple template: https://github.com/projectmesa/mesa/tree/master/examples/WolfSheep#to-run-this-example

Feel free to get as advanced as you want, but also be keep things easy to get started quickly.

[2016-02-14 17:01] philippschw opened #186 "Batch run: DataCollector parameters as timeseries"
Thank you for your great efforts to develop a intuitive framework for agent-based modeling in Python. A few days ago, I discovered the mesa project and I since then experimenting with it, trying to find out whether if is useful for my own research.

My question for this forum is summarized in the title. I would like to utilize the Batch run and instead of saving only the final output of the parame

[2016-02-17 01:29] jackiekazil commented on #143
Looks like this is done. Please reopen if it is not.

[2016-02-17 01:29] #143 closed

[2016-02-17 01:30] jackiekazil commented on #62
Looking to get this kicked out this week or next.

[2016-02-18 21:43] septra commented on #184
#187

[2016-02-19 19:47] dmasad commented on #184
Done.

[2016-02-19 19:47] #184 closed

[2016-02-19 20:01] dmasad commented on #186
That's a solid suggestion, and there should be an example for that. Just collecting data collectors seems like the intuitive way to do it now, but it should also be possible to modify the BatchRunner class to collect that internally.

In the mean time I'll try to take a look and put together an example / see if we can find the bug.

[2016-02-19 23:10] jackiekazil commented on #182
#183 takes care of this ticket and will supercede it.

[2016-02-19 23:10] #182 closed

[2016-02-21 04:19] jackiekazil commented on #62
@dmasad question... Do we want to do copyright on these? If so, what does that look like for general ones that already exist AND ones that might exist in the future? And what does copyright mean?  I am not sure that I want to use that language.... b/c according to wikipedia -- "legal right created by the law of a country that grants the creator of an original work exclusive rights for its use and

[2016-02-22 09:47] philippschw commented on #186
Thank you David!
I am not sure whether that is a Bug or just my defective programming of the model but the DataCollector seems to start collecting data only from tick one and does not record the initial state.

I built my own simple SIR-Modell (Susceptible-Infected-Recovered-Model) based on the fire model in the example folder. If you are interested I could also share it.

The reason I am using me

[2016-02-23 03:05] jackiekazil commented on #186
@philippschw PLEASE do add your model! We love to have more submissions.
Can you make sure that your model as a read me as well so people understand what they are looking at?

[2016-03-10 13:20] philippschw commented on #186
Regarding the DataCollector:
I can record the initial state if I change the order in the time advance function of the model.
 `
def step(self):
        self.datacollector.collect(self)
        self.schedule.step()
`
But as a result I miss the last value of the simulation. In my opinion, and according to my experience with modeling and simulation, If the simulation time is 10, the outcome pandas da

[2016-03-19 03:35] ReblochonMasque commented on #185
A pull request is pending so this issue might be closed.
It adds a standardized Readme,md file in each of the examples folders.
Some links and descriptions were updated.
The examples using Jupyter Notebooks have a non-standard ***to run tins example*** block, but explained.
Some files are still missing a list of what mesa feature the example demonstrates, but a new issue can be opened.

I will upd

[2016-03-19 03:45] ReblochonMasque commented on #62
Does changing the license to MIT solve the problem?

[2016-03-19 03:49] ReblochonMasque commented on #91
I have found the "Contributing" doc very helpful and quite complete.
Maybe this issue could be closed?

If we want to have a conda installer, a new issue can be opened.

[2016-03-19 04:08] ReblochonMasque commented on #120
*Repeat of the problem description from closed issue #20:*

I may be wrong, but I think unit testing usually refers to the testing of individual methods.

What you seem to mean here is a general behavior/functionality testing: does the model do what it is supposed to do?

Here, this seems to split again into two parts:
--> Does the mesa package runs a model as intended?
--> Does the model (client

[2016-03-19 04:16] ReblochonMasque commented on #152
This is a wonderful tool that produces very valuable documents.
maybe these two images could be included in the docs?
maybe they could be stored in a resources folder within the docs folder?
maybe they could be automatically generated and replace old ones each time a pull request is made?

[2016-03-19 04:51] jackiekazil commented on #185
Closing this issue in lieu of #189.

[2016-03-19 04:51] #185 closed

[2016-03-19 04:57] jackiekazil commented on #62
No. Right now, the whole repo is under Apache 2.0, but w/ Apache, there is still copyright.
The question is... what is copyright when a model is a "common" model? The person who wrote the code? What happens when multiple people write the code? (Does that make sense?) Maybe we should move this conversation to the google group?

[2016-03-19 05:00] jackiekazil commented on #91
@ReblochonMasque ty for the feedback & closing.
(if anyone thinks this shouldn't be closed, please pipe up OR create another ticket with the specific action that needs to be taken.)

[2016-03-19 05:00] #91 closed

[2016-03-19 05:04] ReblochonMasque commented on #62
Good idea.

[2016-03-19 05:14] ReblochonMasque commented on #81
Is that what the branch "rewrite model" is about?

[2016-03-20 01:01] chendaniely commented on #152
@jackiekazil @dmasad There's continuous integration setup on this repo, we *could* have CI re-generate these images every time a PR is made and stick it in *somewhere* in the documentation

[2016-03-20 19:45] jackiekazil commented on #81
@ReblochonMasque  -- That is a branch that I have been working off of to make how we organize models easier to understand, along with adding more convention to file structures. This isn't a direct reflection of this ticket. I did add this ticket to rebirth, because my assumption is that it will break backwards compatibility.

[2016-03-20 19:52] jackiekazil opened #190 "Create standardized template for how to structure models that are built"
Create standardized template for how to structure models that are built... right now, when you enter a model file, you have no idea what do or where to find things. The purpose of this ticket is to standardize how we structure models.

This will most likely break backwards compatibility, as a result, I am adding it to [Milestone: The rebirth](https://github.com/projectmesa/mesa/milestones/The%20re

[2016-03-20 23:22] jackiekazil commented on #120
@ReblochonMasque This is a great breakdown!
And yes....  The proposed "built-in unit-testing framework designed specifically for ABMs" fit in the last category.

Do you want to open up tickets? And we can discuss priority for each item.
The testing framework we have in place right now, was to have SOMETHING over nothing, but that is another thing that needs to be over hauled.

[2016-03-23 08:21] ReblochonMasque opened #191 "The parameters of CanvasGrid(): grid_row, grid_col and canvas_height, canvas_width are inverted somewhere downstream"
As shown on the screenshots below, the parameters for CanvasGrid() seem to be inverted - they in fact are not, but there is (likely) an inversion problem downstream towards rendering on canvas.

GRID_COLS which represents the number of cols in the width comes first, but it is CANVAS_HEIGHT that comes first for the next pair of arguments… (the same goes for GRID_WIDTH and CANVAS_WIDTH)

It also app

[2016-03-23 15:29] ReblochonMasque commented on #191
I think I found the culprit in `CanvasModule.js`, line 14:

`var canvasDraw = new GridVisualization(canvas_width, canvas_height, grid_height, grid_width, context);`

I'll see tomorrow if I can fix it, it is too late now, I need a fresh mind for this.

most of the js I saw has parameters `(width, height)` in this order, whereas the python code has parameters in `(row, col)`, that is `(height, width

[2016-03-25 01:09] ReblochonMasque commented on #120
Well noted Jackie, thank you for the clarification.
I like your suggestion, but I think we first need 100% unit-test coverage of the base classes.

[2016-03-26 04:21] ReblochonMasque commented on #191
Tests also reflect the inconsistency:

From `test_grid.py` :

[2016-03-26 04:49] ReblochonMasque opened #194 "Coordinates on grid are used inconsistently throughout the code"
I am opening this issue as a general case of this earlier one: #191 that identifies a specific mix up in the height/width of the canvas. A [related question](https://groups.google.com/forum/#!topic/projectmesa/QXjcXa4ijBU) was asked in the mailing list by Victor Norman on Dec 25th 2015.

- I noticed that the coordinates for `row, _row, height, y, _y` and `col, _col, width, x, _x` are used in the o

[2016-03-26 05:08] ReblochonMasque commented on #191
Opened new issue #194 for the general case so this one can be closed when fixed.

[2016-03-26 15:12] glaubius opened #195 "Problem with MultiGrid._place_agent"
Found an issue in space.py under the MultiGrid(Grid) class line 428. Code reads

`self.grid[y][x].add(agent)`, but there is no add method under MultiGrid or Grid. Should this line be changed to `self.grid[y][x] = agent`, which would be the same as _place_agent function in Grid class??

[2016-03-26 15:44] ReblochonMasque commented on #195
As far as I can tell, the `.add` called on `self.grid[y][x]` is the builtin `set.add` method as all `grid[y][x]` elements are sets.

Did you get an error? Can you post the trace?

[2016-03-29 08:53] glaubius commented on #195
Here is the error I get when I use MultiGrid._place_agent:

[code]

You can see the fix I made to the code commented out above, which is to change the _place_agent in the MultiGrid class to be the same as it is in the Grid class `self.grid[y][x] = agent`.

[2016-03-30 14:36] dmasad commented on #195
You're assigning the agent directly to the grid, in ``self.grid[y][x] = new_segment`` when you should only be using the ``place_agent`` method. As it is, you're overwriting the set that the grid uses to hold the contents of a cell and replacing it with your WallSegment object.

You should replace lines 45 and 46 with:
[code]
And that should resolve the problem.

[2016-03-31 15:41] dmasad commented on #32
Working on this in the [user_params.32 branch]{https://github.com/projectmesa/mesa/tree/user_params.32).

The approach I'm taking is creating a new UserParam class, which can be a model input when setting up a server.

[2016-03-31 19:42] dmasad commented on #149
This should be fixed now.

[2016-03-31 19:42] #149 closed

[2016-04-01 14:11] felixhelix opened #200 "Some issues with the Tutorial: i.e. parameter to get a histogram of agent wealth"
Found some things in the tutorial:
When you introduced numpy to visualize the number of agents, the code reads
`cell_wealth = len(cell_content)`
but it isn't the wealth, but the number of agents that is visualized. This confused me a bit.

Under the heading "Collecting Data":
I guess instead of
`end_wealth = agent_wealth.xs(19, level="Step")["Wealth"]`
it should be
`end_wealth = agent_wealth.xs(99

[2016-04-01 15:04] dmasad commented on #200
Thanks! Fixed.

[2016-04-01 15:04] #200 closed

[2016-04-06 09:08] glaubius commented on #195
Finally got a chance to try out the changes you suggested and they work. Thank you!!!

[2016-04-06 15:25] #195 closed

[2016-04-11 07:11] lovedavidsilva opened #201 "How to import external data and define as model attributes at each step?"
Thanks for developing this great ABM framework in Python. I am trying to transfer my model from NetLogo to Mesa. It is a model that simulates trading in stock market. I have historical stock prices and other information as input (model level attributes), and based on the information, calculate some derived model level attributes. Each step after the model level attributes are imported and calculat

[2016-04-11 14:52] dmasad commented on #201
We don't have that functionality built in yet (though it would be a nice thing to have).

Looking at your code, it looks like you're missing a couple ``self``s in the agent step method. (In Python, every method and variable that belongs to an object needs to be prefaced with a ``self`). It should read:

[code]

I can't test your code without the data, but that might be enough to solve the problem.

[2016-04-11 15:53] lovedavidsilva commented on #201
Thanks David. I have added the prefix to each function now. However, the data still cannot be read.

Here is how I test the data import now:
At each step, 1)read a line from data and give the values to model attributes ("bac" for example), then 2)collect the value of the attribute using datacollector, finally 3)use chart module to visualize the data, thus checking if data was correctly imported.

[2016-04-11 20:35] dmasad commented on #201
One other bug is that you aren't actually adding agents to the schedule, so when you run the model, no agents are actually running. That section of the init method should be:

[code]

The rest seems pretty specific to your model, so I'll shoot you an email about it.

[2016-04-21 12:57] gac55 opened #202 "plt.show() - which library is this?"
I am working my way through the [introduction tutorial](http://mesa.readthedocs.org/en/tutorial_update/intro-tutorial.html).

I set up the first model but cannot plot the first graph. What library is 'plt' from?

I tried installing matplotlib.pyplot as plt but ran in to a host of matoplotlib virtualenv issues, as documented [here](http://stackoverflow.com/questions/33100969/matplotlib-example-code

[2016-04-21 12:59] jackiekazil commented on #202
interesting.

Yes. it is from Matplot lib.
Can you share your code?

[2016-04-21 13:13] dmasad commented on #202
Yes, that's unfortunately a known issue with Matplotlib. You can also read more about it here:
http://matplotlib.org/faq/virtualenv_faq.html#osx

Another workaround is installing the older version of matplotlib, i.e.:
[code]

[2016-04-21 13:30] gac55 commented on #202
Thanks @dmasad, that worked!

Now I just need to look at the best way of actually seeing the output. plt.show() doesn't work on the command line

[2016-04-21 14:18] dmasad commented on #202
Terrific!

```plt.show()``` should work from the command line -- but if you want to work with the models interactively,  I strongly suggest you check out [IPython / Jupyter Notebooks](http://jupyter.org/).

[2016-04-23 18:19] gac55 commented on #202
I checked out and concur. Thanks!

[2016-04-23 18:19] #202 closed

[2016-05-01 23:50] jackiekazil commented on #190
@dmasad --- I finished the example of project for this today. This doesn't break backwards compatibility, but creates a new standard. Feel free to suggest adjustments or check in adjustments.

https://github.com/projectmesa/mesa/tree/model-rewrite/examples/Schelling

Also, I could see a future where "run.py" becomes a standard command in mesa, like -- "mesa run" or "mesa run model"

Let me know yo

[2016-05-01 23:53] jackiekazil commented on #190
P.S. I don't want to submit as a PR until we have chatted about it.

[2016-05-01 23:54] jackiekazil commented on #190
@ReblochonMasque I would love to get your 2 cents as well if you have time.

[2016-05-02 00:09] jackiekazil commented on #15
Notes from our discussion on networks: https://docs.google.com/document/d/1KcTzNWC9ELqzTqI74oX1Rg5yqSjhGkrNvTVKMjqVsqs/edit

[2016-05-12 02:09] jackiekazil commented on #176
@dmasad this is resolved by #198 yes?

[2016-05-12 02:09] jackiekazil commented on #172
@dmasad this is resolved by #198 yes?

[2016-05-18 18:17] #176 closed

[2016-05-18 18:19] dmasad commented on #62
Readme template being tested out in the [model-rewrite branch](https://github.com/projectmesa/mesa/tree/model-rewrite/examples).

[2016-06-02 21:28] max-orhai commented on #175
We could rewrite the docstring to encourage the use of named functions rather than lambdas. Seems a little clunky to me though. Also, I'd love to avoid extra dependencies like `dill`.

Maybe we could make use of `getattr` and `@property` instead? So the reporter value would be a string, and instead of calling `reporter(model)` for a model reporter, we'd just use `getattr(model, reporter)`. The rep

[2016-06-02 21:32] jackiekazil commented on #190
Closing b/c this is captured in #207

[2016-06-02 21:32] #190 closed

[2016-06-02 21:33] jackiekazil commented on #62
closing in favor of #190

[2016-06-02 21:33] #62 closed

[2016-06-02 21:33] jackiekazil commented on #62
omg... black rock is done!

[2016-06-02 21:56] dmasad commented on #201
I think this has been resolved.

[2016-06-02 21:56] #201 closed

[2016-06-02 21:59] max-orhai commented on #132
As to the question of commonly used functions, there are a lot of these kinds of conveniences built into NetLogo. See http://ccl.northwestern.edu/netlogo/docs/dictionary.html (especially the 'Agentset' and 'Mathematical' sections).

Some of those are probably best provided by other Python packages. Not sure which of them are worth providing directly.

[2016-06-02 22:24] lowcloudnine opened #219 "Integrate tutorial ipynb and tutorial rst files"
As of Anaconda 4 Jupyter notebooks can now export directly to rST files.  Merge all of the tutorial information into a ipynb file and then use it as the source for creating rST files.

[2016-06-02 22:47] jackiekazil opened #223 "Update all examples to follow model standard file setup"
We created stand file setups for our models. You can see these in [Schelling](https://github.com/projectmesa/mesa/tree/pyconsprints/examples/Schelling) and [WolfSheep](https://github.com/projectmesa/mesa/tree/pyconsprints/examples/WolfSheep).

Schelling is an example of a very simple model setup, while WolfSheep is an example of a more complex setup. To update you will need to do the following...

[2016-06-02 22:49] strixcuriosus commented on #223
I'll take on updating color patches!

[2016-06-02 22:51] strixcuriosus opened #225 "cookiecutter for mesa"
A [cookiecutter template](http://cookiecutter.readthedocs.io/en/latest/) could be an easy way to start scaffolding for a new mesa project. thoughts?

[2016-06-02 22:53] strixcuriosus commented on #223
I created a follow-up issue to consider making a cookiecutter template: https://github.com/projectmesa/mesa/issues/225

[2016-06-02 23:09] drewrey commented on #194
I'll work on standardizing coordinates tomorrow morning during the PyCon sprints.

[2016-06-03 00:38] jackiekazil commented on #223
\o/ Color patches is done!!

[2016-06-03 18:03] max-orhai opened #233 "Web front-end controls sometimes don't work"
This sequence of button clicks works as expected:
reset, run, pause, run

But this one seems to disable the controls entirely:
reset, run, run

Reproduced with ConwaysGameOfLife and ForestFire models. There may be other sequences that don't work, too. Looks to me like an issue with the dat.gui.js. I will investigate.

[2016-06-03 19:30] max-orhai commented on #233
I don't think the problem's with dat.gui per se, but more about our interface to it in the inline script in modular_template.html. From a UX perspective, having two buttons (*run* and *pause*) is harder to manage than a single button which toggles `control.running`.

[2016-06-03 19:50] drewrey commented on #194
Update: I started to do this ([see this branch](https://github.com/projectmesa/mesa)), but various tests in `test_grid.py` are now failing. I didn't want to wipe out the tests without some careful thought.

[2016-06-03 21:24] smacleod opened #239 "Separate the front-end visualization and back-end data generation for visualization from the web server"
It would be nice to refactor both the front-end javascript and the back-end rendering code of a `VisualizationElement`, so that they aren't coupled as tightly to the Tornado server setup and its template.

## Motivation
The motivation for this issue is to allow the front-end visualizations written in javascript to be used in situations where the webserver is not needed (or wanted). Examples would

[2016-06-03 23:11] dmasad commented on #239
I'm definitely in favor of the motivation and concept. Two questions:

1. It seems that right now the websocket connection chokes and slows down if the JSON data being passed is too big; wouldn't that get even worse if we're sending entire serialized HTML elements?

2. One of the strengths of the current system is that it can use third-party JavaScript charting tools (e.g. Charts.js). Is that stil

[2016-06-03 23:51] smacleod commented on #239
To answer your questions:
1. I'm not actually proposing that any of the data being sent over the websocket needs to change, the JS side will still deal with generating the markup / updating the visualization. I might have been making some assumptions about *what* data was being sent before, but this change doesn't need to modify that at all.
2. Yup, that should all still work!

I've hacked togethe

[2016-06-04 00:10] smacleod opened #246 "Allow displaying mesa visualizations inline in jupyter notebooks"
It would be nice to run the Model visualizations inside of a notebook.

[2016-06-04 00:35] drewrey opened #248 "Example models should call super in init"
Some example models are not calling `super()` in their respective `__init__` methods.

[2016-06-04 00:53] nvrzm commented on #248
One detriment of this is that random.seed() isn't getting called for these examples, so they're not deterministic. Another is that each subclass must remember to set self.running = True. On the other hand, it's not clear that Model.__init__ is the best place for these things to be happening - maybe it would be better for the base class to have no __init__ and to add, for instance, set_seed and set

[2016-06-04 01:02] dmasad commented on #248
The base classes are more there as placeholders, and the constructors aren't necessarily intended to be initialized via super() -- especially when in some cases (e.g. WolfSheep) there are multiple inheritances between the base class and the actual agent class. If we want to require agents to call ``super().__init__()``, we need to make sure that it actually contains something useful.

At the momen

[2016-06-04 06:03] nvrzm commented on #233
This *should* be fixed by my PR #238.

[2016-06-06 16:11] nvrzm commented on #223
I've opened a PR for updating the Game of Life example.

[2016-06-06 18:55] nvrzm commented on #223
Flockers PR'd... on to Epstein.

[2016-06-06 19:50] nvrzm commented on #223
Aaaaand that's done. More soon!

[2016-06-06 23:49] ReblochonMasque opened #256 "Separate "Model-Core-Runner" from GUI, from Analysis from Data Collection..."
I think we should aim to separate the GUI components from the "Model-Core-Runner" components of the project and place them in their respective repositories.

That will
- help clarify the interface and API between the views and the "Model-Core-Runner".
- decouple the various components of the project
- facilitate the work on one part in isolation of the rest
- allow for other than in browser GUI to

[2016-06-08 03:39] jackiekazil commented on #256
Someone brought this up during Pycon sprints. The purpose of this was to be
able to use the visualization all over the place -- like in Ipython
notebooks.

Ticket: https://github.com/projectmesa/mesa/issues/239

Related conceptual PR for applying abm in a notebook
- https://github.com/projectmesa/mesa/pull/247
- https://github.com/projectmesa/mesa/issues/246

On Mon, Jun 6, 2016 at 7:49 PM, FredIn

[2016-06-08 04:29] ReblochonMasque commented on #256
Yes, these tickets are about adding more features, this one is to solidify the core so it can support these features.
Not as sexy, I am afraid O_o

[2016-06-08 04:29] #256 closed

[2016-06-08 19:19] dmasad commented on #256
These are slightly different issues. However, I think at this point it makes sense to keep the core and the tools in the same repository, for two reasons:

1. Visualization (and data collection, to a lesser extent) are considered integral parts of every other ABM framework; I think users would expect access to those without dealing with additional packages to install.

2. At the moment, the API is

[2016-06-10 02:39] shrogers opened #257 "Tutorial Sticking Point"
In going through the Tutorial Boltzman Wealth Model in a Jupyter Notebook I've reached a sticking point in the Collecting Data section.

##########################################
# My code at this point
from mesa import Agent, Model
from mesa.time import RandomActivation
from mesa.space import MultiGrid
from mesa.datacollection import DataCollector

import random
import matplotlib.pyplot as plt
i

[2016-06-10 19:24] nvrzm commented on #257
It looks like you just have a small typo, on the line labeled 51 in the traceback. It currently reads:
[code]
which is passing in model_reports as a set rather than as a dictionary. The comma after "Gini" needs to be a colon instead:
[code]
This should solve your problem.

[2016-06-10 20:39] shrogers commented on #257
Yes it does. Thanks.

[2016-06-10 22:04] #257 closed

[2016-06-15 13:32] jeetu7 opened #260 "web visualization examples does not show grid in offline mode"
I installed mesa on a offline m/c and found that the grid is not visible in web version of visualization.
The reasons might be that the server is trying to fetch jquery from online (check the 4th line on following link)

https://github.com/projectmesa/mesa/blob/master/mesa/visualization/templates/modular_template.html#L4

Is it possible to include jquery in static part alongside dat.gui.min.js so

[2016-06-20 03:34] jackiekazil commented on #260
PR #261 takes care of this.

[2016-06-20 03:34] #260 closed

[2016-06-21 14:03] jeetu7 commented on #248
This message is just to document the error message that the system will print once I run the web visualization and hit reset. (if i miss setting self.running = True in my model subclass)

[code]

[2016-06-21 17:34] jeetu7 opened #263 "Provide support for text overlays on shapes in CanvasGrid."
It would be nice to have text overlay on grid cells objects on CanvasGrid. For example we can show the unique_id of agents on the rectangles/circles.

[2016-06-21 17:35] jeetu7 commented on #263
I have almost completed this. I will submit PR in a few days.

[2016-06-21 18:06] jeetu7 opened #264 "Add new shapes especially for direction indication in CanvasGrid"
Presently Rectangle and Circle shapes are only supported in CanvasGrid. Sometime, there is a requirement of showing the heading (direction s.t. N/S/E/W) of the agent as well.Some more shapes might be introduced for this very purpose. It would be nice to have support of images as well.

[2016-06-21 21:39] dmasad commented on #248
@jeetu7 That issue is fixed in master, so the fix will be included in the next release.

[2016-06-22 14:38] jackiekazil commented on #263
Awesome!!

On Tue, Jun 21, 2016 at 10:35 AM, jeetu7 <notifications@github.com> wrote:

--
Jacqueline Kazil | @jackiekazil

[2016-06-22 14:39] jackiekazil commented on #248
And that release should have been released a few days ago.
Let me know if it still needs to be addressed.

On Tue, Jun 21, 2016 at 2:39 PM, David Masad <notifications@github.com>
wrote:

--
Jacqueline Kazil | @jackiekazil

[2016-06-23 12:16] jeetu7 commented on #248
Still one small confusion. Which one is the recommended thing to do now?
1) Call super in the subclassed model class
2) specify self.running = True (as evident from latest examples in repo)

[2016-06-23 12:25] dmasad commented on #248
At the moment, 2.

On Thu, Jun 23, 2016, 08:16 jeetu7 <notifications@github.com> wrote:

[2016-06-23 21:41] snargleplax opened #266 "Broken tutorial link"
The link to the intro tutorial in the readme is broken.  It references http://mesa.readthedocs.io/en/latest/intro-tutorial.html rather than http://mesa.readthedocs.io/en/latest/tutorials/intro_tutorial.html.

I see that issue #172 is related and may obviate this, but for now a simple fix to the link would do.

[2016-06-24 00:10] jackiekazil commented on #266
#267 supersedes this issue.

[2016-06-24 00:10] #266 closed

[2016-06-27 13:53] jeetu7 opened #268 "x-tick=1 corresponds to step=0 in Chart plotting in Canvas"
I tried to plot the chart wherein the y axis represents number of cells remains unexplored. Effectively this translates to requirement where output is non-zero(y=100 on y-axis) at step 0. But while plotting, the point corresponding to step 0 was plotted at tick 1 (on x-axis). Therefore a line was visible from (0,0) to (1,100) on (x, y) plot. But ideally the plot should start from (0,100). Seems so

[2016-06-27 14:03] jeetu7 commented on #77
When number of steps are large (say 100 or 1000) the ticks on x-asix looks very cluttered. The autoSkip option might help in this case. See http://www.chartjs.org/docs/#scales-ticks-configuration

[2016-06-27 16:46] jackiekazil commented on #77
@jeetu7 That sounds like a great idea!

[2016-06-28 05:05] jackiekazil commented on #263
Fixed by #265

[2016-06-28 05:05] #263 closed

[2016-06-28 05:09] jackiekazil opened #270 "Should 'examples' not be covered by pep enforcement? Discuss"
TODO:
* Remove examples from pep enforcement.
* Clean up any issues that resolve from the issue

---------------------
This line of the travis file: https://github.com/projectmesa/mesa/blob/master/.travis.yml#L17
... ignores 'examples', which led to this clean up: #269

This doesn't make sense to me. Is there a reason why this is there?
Discuss!

[2016-06-28 05:10] jackiekazil commented on #270
/cc @lowcloudnine

[2016-06-28 05:10] jackiekazil commented on #264
👍

[2016-06-28 05:13] jackiekazil commented on #268
👍

[2016-06-28 14:10] lowcloudnine commented on #270
Concur, it doesn't need to be there.  I would also recommend removing the docs ignore as the only py file in there is the conf.py and since the project is maturing it is doubtful you'll ever need to do a sphinx-quickstart again so just fix the 48 pep8 errors be done.  In the entire project running a default flake8 with no ignores or excludes there are 139 errors.  If you would like 'I volunteer' t

[2016-07-04 20:56] joelostblom commented on #248
I just ran into the error message @jeetu7 reported when using the MoneyModel example from the tutorial on ReadTheDocs. I instlled the latest version of mesa from Github, but I still run into the same issue. Adding `self.running = True` under the MoneyModel `__init__` method as in the updated Github MoneyModel example solves the problem.

[2016-07-14 14:30] jeetu7 opened #271 "Move Agent and Model class somewhere else from __init__.py"

[2016-07-15 22:53] jackiekazil commented on #270
I updated the ticket to turn this into a task for someone to pick up during scipy

[2016-07-15 22:55] jackiekazil commented on #225
Closing this ticket in preference for PR #242

[2016-07-15 22:55] #225 closed

[2016-07-15 23:17] jackiekazil commented on #219
@lowcloudnine this has been resolved yes? (I wanted to check before closing.)

[2016-07-16 16:04] jackiekazil opened #274 "Schelling example has an import issue"
[code]

[2016-07-16 16:09] jackiekazil commented on #274
This is not an issue. I don't want to talk about it.

[2016-07-16 16:09] #274 closed

[2016-07-16 20:00] jackiekazil commented on #172
This is resolved!

[2016-07-16 20:00] #172 closed

[2016-07-16 20:05] jackiekazil opened #277 "Bug with building docs - Readme is not correct"
I was just trying to follow the [Readme.md](https://github.com/projectmesa/mesa/blob/master/docs/README.md) to build the docs, and I get the following error:

[code]

Not sure why I am running into this. I feel like I have come across this before, but I can't remember how I fixed.

[2016-07-16 20:06] jackiekazil commented on #277
@lowcloudnine any thoughts? Is the readme correct?

[2016-07-16 20:54] jess010 opened #278 "MultiGrid docstring missing methods"
The following methods are missing from the 'methods' section of MultiGrid object docstring: get_cell_list_contents, coord_iter, place_agent, and move_agent.

[2016-07-16 20:56] jess010 opened #279 "No Docstring for model.grid.get_cell_list_contents"
Docstring is empty for this method.

[2016-07-16 21:22] #277 closed

[2016-07-16 22:03] jackiekazil commented on #271
Love that you did this! It needed to be done!

[2016-07-16 23:04] #278 closed

[2016-07-16 23:05] jackiekazil commented on #279
Fixed

[2016-07-16 23:05] #279 closed

[2016-07-17 05:13] jeetu7 opened #283 "Formatting lost in ModularVisualization.md"
F'ormatting lost in the section of "Using pre-build modules" of https://github.com/projectmesa/mesa/blob/master/mesa/visualization/ModularVisualization.md

I am not able to trace the history of this bug. (about when the bug appeared)

[2016-07-17 13:44] jeetu7 opened #284 "Upgrade chart library to Chart.js version 2"
As the latest stable version is 2.1.6 we should upgrade to it. The one shipped with mesa is v 1.0.2

https://github.com/chartjs/Chart.js
http://www.chartjs.org/docs/

minified versions are available at https://cdnjs.com/libraries/Chart.js

I tried to drop-in the new versions, but they are not compatible in api. Somebody expeirenced with javascript can help.

[2016-07-17 13:57] jeetu7 commented on #284
I tried hacking the code. But was unable to succed. Here is my unfinished effort.

https://gist.github.com/jeetu7/e9ae9deec68ed0d5b94b11a5e7a0ff6e

[2016-07-17 15:00] lowcloudnine commented on #219
Yes, this one is done.

[2016-07-17 16:05] #194 closed

[2016-07-17 16:05] #264 closed

[2016-07-17 16:05] #271 closed

[2016-07-17 16:05] #191 closed

[2016-07-17 16:35] jess010 opened #286 "Minor docstring clean-up needed on time.py and batchrunner.py"
A couple of typos and minor content edit items for the two files.

[2016-07-17 19:12] jackiekazil commented on #223
Forest Fire was fixed w/ #288.

[2016-07-17 19:50] #286 closed

[2016-07-19 03:18] #270 closed

[2016-07-19 13:59] jeetu7 opened #292 "Agent with shape Circle is not placing itself at correct pos on CanvasGrid."
y axis inversion code for Circle is not present.

[2016-07-19 14:07] jeetu7 opened #293 "ColorPatch example rectangular grid is transposed and the cells are not filled properly."
This is probably due to change in width-height convention of grid.

[2016-07-19 18:27] jeetu7 opened #295 "variable name heading0/1 in ArrowHead shape is not intuitive."
Because, they are actually unit vectors in the x & y direction, I am thinking of replacing them with heading_x and heading_y. Any suggestions?

Ref: https://github.com/projectmesa/mesa/blob/master/mesa/visualization/templates/GridDraw.js#L65

[2016-07-19 18:30] jeetu7 opened #296 "Documentation is not reflecting latest changes wrt width-height argument order in Grid()"
As many people start with reading  mesa on readthedocs, the documentation should be inline with the code changes wrt width-height argument order in Grid functions.This is not yet reflected.

[2016-07-20 23:53] #292 closed

[2016-07-20 23:53] #293 closed

[2016-07-21 00:03] jackiekazil opened #298 "Clean up branches"
We have a lot of unused branches hanging out. We should do a clean up.

Can someone to through and assess, when is the last time a branch was touched? (I am sure there are some obvious candidates for destruction.

[2016-07-23 05:20] jeetu7 opened #300 "ArrowHead shape is not reflecting in the docs of api"
It seems that the info should be appended into CanvasGridVisualization.py

[2016-07-23 17:50] #283 closed

[2016-07-26 15:46] csmaxwell opened #302 "Removing an agent interferes with RandomActivation step method"
First of all, thanks so much for all the great work y'all've put into this. It's let me explore agent based modeling very quickly and easily.

I am implementing a model where agents have a finite lifespan, however, I noticed that my agents were persisting in the model (their AgentIDs were present in more Steps) than they should be for their lifespan. I tracked this down to a conflict between remov

[2016-07-26 23:24] jackiekazil commented on #302
@csmaxwell hello! Thank you for catching this! This is great!!!!
It would be awesome if you submitted a PR with this fix and to propose a solution for WolfSheep. Since we are pre-1.0, we still have the ability to move things around a little bit without causing too many people headaches.

[2016-08-12 22:47] jackiekazil commented on #223
Tutorial Example does not exist, because it was moved to the docs. This was updated and renamed as "Boltzmann_Wealth_Model", because that is what the tutorial example maps too.

[2016-08-14 15:11] karmkhanna opened #306 "Error in reference in Time.py"
The latest commit has introduced an error in time.py.  Here are the details:

/site-packages/mesa/time.py in step(self)
    100         random.shuffle(self.agents)
    101         for agent in self.agents:
--> 102             agent.step()
    103         self.steps += 1
    104         self.time += 1

This occurs even when you run the sample MoneyModel code on the site.

[2016-08-14 18:49] jackiekazil commented on #306
Just to verify, can you send an explicit link to the code that you are talking about?

[2016-08-14 18:49] jackiekazil commented on #306
There is one in the tutorial and one in the examples, which is why I am asking for it.

[2016-08-14 18:50] jackiekazil commented on #306
And can you share a full stack trace?

[2016-08-15 06:58] njvrzm commented on #302
Nice catch indeed, and I think the approach of keeping Agents in a dictionary is probably a good one, but there are some things to consider before adopting it:
* It will change the order in which Agents are called for step() in any models using the BaseScheduler's step() method. Currently they're called in the same order as they're added, but with this change they'll be called in an order that dep

[2016-08-15 13:49] karmkhanna commented on #306
Hi Jackie,

Thanks for the quick follow-up.  We can close this issue.  The readthedocs link I was referring to for the first few tutorials did not correctly reflect the code changes that were committed to the repo.  Reconciling it with the docs available on Github resolved the issue.

Best,

Karm

-----------------------------
Karm Khanna
Founder & CEO, Famcom
http://www.famcominc.com <http://www.

[2016-08-15 16:17] jackiekazil commented on #306
Awesome... just to clarify... where did you get the link and where was it pointing to? (I want to make sure you don't have a bad link out there.)

[2016-08-17 14:21] devforfu opened #307 "Passing dictionary argument to BatchRunner"
Not sure if it is an issue and not intended behaviour but nevertheless decided to notify about it.

When you pass a dictionary value into batch runner it only takes keys and not values. So you'll not get a cartesian product of your values. For example, if you pass something like this:

[code]

You'll get issue in there: https://github.com/projectmesa/mesa/blob/master/mesa/batchrunner.py#L71, i.e.

[2016-08-17 23:12] mahasamoot opened #308 "trouble with the tutorial: TypeError: step() missing 1 required positional argument: 'model'"
[code]
[code]

[2016-08-18 08:13] devforfu commented on #308
I guess that happens because agent instance should have another signature. Your signature is `step(self, model)` but now Mesa waits for signature `step(self)` as you can see from traceback, i.e. without extra arguments. For example:

[code]
Tutorials (including original paper) and the wiki pages are a little bit outdated now.

[2016-08-18 15:47] mahasamoot commented on #308
Thanks!

[2016-08-19 00:51] jackiekazil commented on #308
This looks resolved to me for the time being.
If there are issues that you notice with the tutorial, etc. Please file a ticket or submit a PR to help us keep it up to date.

@devforfu -- ty for chiming in and helping!!!

[2016-08-19 00:51] #308 closed

[2016-08-19 00:58] jackiekazil commented on #307
Interesting. I didn't notice this before. This was not on purpose. I just think that no one noticed it before.

Do you want to submit a PR for it? (If not, would you mind writing a test for it and someone else can code against?)

[2016-08-19 02:50] jackiekazil commented on #295
The fix in #301 looks good to me.

[2016-08-19 02:50] #295 closed

[2016-08-19 02:51] jackiekazil commented on #296
Ty for the fix! LGTM

[2016-08-19 02:51] #296 closed

[2016-08-19 02:51] jackiekazil commented on #300
This fix looks good to me.

[2016-08-19 02:51] #300 closed

[2016-08-19 10:34] devforfu commented on #307
Yes, sure, I'll do it.

[2016-08-28 10:24] njvrzm commented on #298
My assessment:

## Branches with no unmerged commits - definitely safe to delete
* boltzmann_pep_updates
* fix-docs
* gitignore
* model-rewrite
* pyconsprints
* tempate-text-update
* zero_state

## Likely active branches
* networks

* doc_update_2016

* user_params.32

## Possibly obsolete branches
* 134.subrepo

* doc_rst.162

* docs_update

[2016-08-30 03:17] njvrzm opened #311 "Most class variables are unnecessary"
A handful of the class-level variables in the project are actual class-level configuration, but most of them are shadowed by the `__init__` methods of their classes. This is untidy and could lead to confusion. I'd be happy to clean them up, unless there are objections.

[2016-08-31 14:13] jackiekazil commented on #311
Can you give an brief example & how it would change?

[2016-08-31 17:54] njvrzm commented on #311
Sure! It shouldn't affect the behavior of the code at all. One example would be BaseScheduler. The beginning of that class looks like this:
[code]

The class attributes set before the `__init__` are clobbered. It's mostly an aesthetic thing, but it could be confusing, especially to someone relatively new to Python, that making changes to those values won't do anything.

[2016-09-02 09:33] elcombato opened #312 "DataCollector.collect() overwrites agent_vars each step"
Hi,

I'm struggling with a strange problem. This snippet is the simplest code to reproduce the behavior:

[code]

If I run this model for some steps and call `model.datacollector.get_agent_vars_dataframe()`, the resulting data is the same for each step. But if the `data` in `Agent.step()` is assigned with `self.data = [random(), random()]` the resulting data is correct and differs in each step as

[2016-09-02 11:23] elcombato commented on #312
Printing `agent_vars` in `Agent.step()` reveals, that it is altered simultanesouly to `Agent.data`. How is that possible?!
[code]
Console Output:
[code]

[2016-09-02 11:52] elcombato commented on #312
I found a workaround:
[code]
by adding `*1`, this strange link between `Agent.data` and `DataCollector.agent_vars` is somehow removed.

[2016-09-02 20:24] njvrzm commented on #312
The more usual way to implement the workaround you give would be to use
[code]
but they're functionally the same.

The problem is that the lambda in the original code is handing a reference to the agent's data list off to the `DataCollector`. The very same list is collected at every step - not a copy of the list, but the same object. The agent's `step()` method modifies that object, and those modi

[2016-09-07 07:03] rdotsch opened #313 "API Docs 'Time' page shoes Python's time module"
I noticed that the API documentation at [http://mesa.readthedocs.io/en/latest/]  is incomplete compared to the internal documentation in the mesa python module. There's nothing on the various schedulers in the API docs, and when I go to the 'Time' page ([http://mesa.readthedocs.io/en/latest/apis/time.html]), I get the documentation of python's time module, instead of a mesa specific page.

[2016-09-07 07:08] rdotsch opened #314 "Feature request: Display progress of BatchRunner.run_all()"
I have now run a couple of simulations using BatchRunner, taking several hours of computing time. It would be very helpful if the BatchRunner.run_all() method would display a text progress bar, updated after each single simulation run, preferably with remaining time estimation.

[2016-09-20 22:09] jackiekazil commented on #313
OMG that is a good catch! Thank you for highlighting! We will look into it!

[2016-09-24 05:43] jackiekazil commented on #298
OMG THIS IS AWESOME! I will do this right now!!

[2016-09-24 05:51] jackiekazil commented on #298
so much better now. Thank you for going through all of those!!

networks -- is in dev.
doc_update_2016 -- @dmasad, can this be deleted or is this active? / what is status of this branch
user_params.32 -- @dmasad -- what is the status of this branch? Are you still working on this or can it be deleted?

[2016-09-26 10:54] jackiekazil commented on #314
That is a great point! Any interest in developing that? :-D If not, we can add it our list. I love this feature.

[2016-09-26 11:12] rdotsch commented on #314
Absolutely, when I find time.

Ron Dotsch, PhD | Associate Professor | Department of Psychology | Utrecht University | Office: Langeveld H1.11, Heidelberglaan 1 | +31 30 253 4198 | http://ron.dotsch.org/

[2016-09-26 11:29] dmasad commented on #298
user_params.32 is still in development, and probably pretty close to being ready to PR. It does change the server API in a somewhat substantial way, so it'll be worth looking at closely.

Let me dig into doc_update_2016 and check.

[2016-09-27 22:16] njvrzm commented on #314
[tqdm](https://pypi.python.org/pypi/tqdm) looks like a nice option here!

[2016-09-29 02:10] rdotsch commented on #314
Yes, that’s an excellent suggestion. I’ve implemented it just now and it looks great. I’ll test it a bit, and submit the new code soon.

Ron

[2016-09-29 07:37] lzomer opened #315 "Could not open requirements file: [Errno 2] No such file or directory: 'requirements.txt'"
Hi,

I am very new to Python, but I am trying to figure out how I can built an agent based simulation. So I liked to use the MoneyModel project to learn it. However, I immediately ran into a problem, after using pip install mesa, I tried to  install the requirements (pip install -r requirements.txt) in the terminal. But then I get the following error:
Could not open requirements file: [Errno 2] No

[2016-09-30 01:37] jackiekazil opened #317 "Test"
Test

[2016-09-30 01:38] jackiekazil commented on #317
This is really cool!!!

[2016-09-30 01:38] jackiekazil commented on #317
Closing this ticket.

[2016-09-30 01:38] #317 closed

[2016-10-02 16:51] dmasad commented on #314
Done!

[2016-10-02 16:51] #314 closed

[2016-10-02 16:57] dmasad commented on #315
@lzomer -- are you running ``pip install -r requirements.txt`` in the correct directory? In the terminal, you need to be in the ``mesa/examples/Boltzmann_Wealth_Model/`` directory, and run the command from there to be sure you have the requirements installed.

Alternatively, if you successfully installed Mesa itself, the only other suggested dependency is ``jupyter`` if you want to write or run th

[2016-10-09 18:00] dmasad opened #319 "Visualization can run after 'Stop' is pressed"
From #310:

[2016-10-09 18:04] dmasad commented on #319
One possible solution: change ```controller.running``` from a boolean variable to holding several states, e.g. {Stepping, Running, Halted}; then only rendering incoming ``viz_state`` messages when the controller is in Stepping or Running states. This doesn't actually put the server in synch, but prevents the visualization server from continuing to render after Stop is pressed.

Another solution is

[2016-10-14 03:43] jackiekazil opened #320 "Update default port number"
After lecturing at a class @ GMU, when I was helping users run models, I noticed that some users were also running jupyter, which uses port 8888, our current default port.

For this reason, I am going to update the default.

[2016-10-14 03:58] jackiekazil opened #322 "When server is launched, browser window should open automagically"
When guest lecturing at GMU, I observed that users did not read the instructions to visit 127.0.0.1... in their browser. I think jupyter spoiled them ;-). We should add functionality to have the browser auto launch when someone kicks off a model.

[2016-10-14 04:16] jackiekazil commented on #134
When I was getting folks setup to run models in Mesa, I found that installing Mesa AND then running the examples was confusing, because the examples were inside Mesa.

This repo exists and now it is up to date: https://github.com/projectmesa/mesa-examples

Question -- what is the purpose for us to have it in this repo, which couldn't be solved by having 2 repos on our machines / remote machine for

[2016-10-14 04:17] jackiekazil commented on #134
+ @projectmesa/maintainers

[2016-10-14 05:33] njvrzm commented on #320
The ZIP code for Mesa, AZ is 85200 - we could use port 8520 :)

[2016-10-14 08:38] njvrzm commented on #134
The only strong argument I can think of for keeping the examples repo inside the main mesa repo is versioning: we're still in a phase where we're making breaking API changes pretty regularly, and if the examples repo is separate, even if we maintain parallel versioning, it's possible users will end up with mismatched versions of the two projects. If we do go with separate repos, we should handle t

[2016-10-18 02:41] #322 closed

[2016-10-18 03:16] jackiekazil opened #324 "Standardizing Model Naming"
I want to standardize the way we do modeling naming to create a "best practice".

This is what we currently have....
[code]

Do you like....
1. Awesome_Cats
2. AwesomeCats
3. Awesome Cats
4. awesome_cats
5. awesome-cats
6. awesomecats

[2016-10-18 03:18] jackiekazil commented on #324
I like 4, b/c python, then 2, because it is a norm, then 1.

[2016-10-18 03:29] jackiekazil commented on #134
Here is the disconnect with the examples & version.
User does `pip install mesa==0.7.6`.
We are currently at 0.7.7.
User says, oh look examples!
User does `git clone git@github.com:projectmesa/mesa.git`.
User says...

1. Why am I cloning the code when I installed it?
2. Why don't these examples work.

----

That being said, I think with Mesa commands, you could "fix" this. I agree.
We talked about

[2016-10-19 01:22] dmasad commented on #324
I basically agree; option four is the most Pythonic.

[2016-10-22 21:52] #320 closed

[2016-10-26 05:43] karmkhanna commented on #306
Sorry, I've been swamped...this is the link I was referring to - http://mesa.readthedocs.io/en/latest/.  Since it's been a few months, I'm not sure if you've already updated the docs.

[2016-10-26 21:06] jackiekazil commented on #306
Thank u so much for the update! I am going to close for now, because I think that is the case.

[2016-10-26 21:06] jackiekazil commented on #306
Thank u so much for the update! I am going to close for now, because I think that is the case.

[2016-10-26 21:06] #306 closed

[2016-10-29 19:25] felixhelix opened #327 "changing agent shape doesn't work"
Tried to enhance the flocker model with an "arrowhead" shape indicating the heading (like in the Shape example).
However, every shape but "circle" won't display :-(
What am I missing?
My Code:

[code]

[2016-10-30 14:41] jackiekazil commented on #327
Do you have any errors that are occurring in your terminal when you are
trying to run the circle?

On Sat, Oct 29, 2016 at 9:25 PM, felixhelix <notifications@github.com>
wrote:

--
Jacqueline Kazil | @jackiekazil

[2016-10-30 19:12] #324 closed

[2016-10-31 10:21] devforfu commented on #313
Not sure if it is already known but this guys (from the landing page):

1) http://mesa.readthedocs.io/en/latest/intro_tutorial.html
2) http://mesa.readthedocs.io/en/latest/adv_tutorial.html

Also lead to nowhere.

[2016-10-31 16:14] jackiekazil opened #331 "Broken links in API documentation"
[code]

originally submitted in this ticket...
https://github.com/projectmesa/mesa/issues/313#issuecomment-257258834

[2016-10-31 16:15] jackiekazil commented on #331
@devforfu -- I moved your submission to a new ticket to create more discrete tasks.

[2016-10-31 16:29] jackiekazil opened #333 "Review tutorial documentation and update to reflect new model format"
Go through the tutorial and update to reflect the new "standard" for modeling packages.
http://mesa.readthedocs.io/en/latest/tutorials/intro_tutorial.html
http://mesa.readthedocs.io/en/latest/tutorials/adv_tutorial.html

Standards...
https://github.com/projectmesa/mesa/issues/324
https://github.com/projectmesa/mesa/issues/223

[2016-10-31 16:30] jackiekazil opened #334 "Write a section in the docs that explains the modeling standard"
We have the following two standards...
#324
#223

But we don't have them documented anywhere.
Maybe we should create a "best practices" doc?

[2016-10-31 16:31] jackiekazil commented on #334
related #333

[2016-11-04 11:16] devforfu commented on #315
Probably you can also try something like:

[code]

[2016-11-10 18:07] tpike3 opened #337 "Advanced tutorial chart"
I have been unable to get the chart showing the gini coefficient to open up in  the advanced tutorial to open up. Everything else is working, the chart just does not appear. Please advise,

Thank you.

Tom

[2016-11-10 21:59] jackiekazil commented on #337
Please make your code publicly available and provide a link.

On Thu, Nov 10, 2016 at 1:07 PM, tpike3 <notifications@github.com> wrote:

--
Jacqueline Kazil | @jackiekazil

[2016-11-10 23:56] tpike3 commented on #337
`
Sorry about, attached is the code in PDF.

[advanced tutorial code.pdf](https://github.com/projectmesa/mesa/files/584711/advanced.tutorial.code.pdf)

`

[2016-11-11 14:02] jackiekazil opened #338 "Minor forest fire fix"
From email list.....

In the demo "Forest Fire", there are two errors in "Model.py" and in "run.py", both can be solved replacing "examples.ForestFire.forest_fire.agent"  by "forest_fire.agent".
Greetings and thank you for your work with MESA.

From: https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/projectmesa/LJDBpzsnE50/dAo7WYqEBAAJ

[2016-11-11 14:06] jackiekazil commented on #337
Was this generated with ipython or jupyter notebook? (if so, can you share
that?)
And do you have any errors that you are getting? can you share those as
well?

On Thu, Nov 10, 2016 at 6:56 PM, tpike3 <notifications@github.com> wrote:

--
Jacqueline Kazil | @jackiekazil

[2016-11-11 19:48] tpike3 commented on #337
Sorry for the delay I had to learn how to load the file on gist;

Link below.

https://gist.github.com/tpike3/bcb34adc9de2f4247d7354bf902e7872

I tried it and that should give you everything you need. Thank you.

[2016-11-11 20:20] etymancer commented on #337
It looks like this is an interaction between the jupyter notebook and the visualization server. The server launches and works, but it leaves these errors in the notebook. I'll look into a fix.

[2016-11-17 08:21] kognitiva opened #340 "Batchrunner parameter sweep fixing one or more variables"
Hi,

Is there a way to do this with Batchrunner? If not I think its worth looking into as full parameter sweeps generate a lot of data that might not be interesting.

Thanks for great framework :)

// Regards, student

[2016-11-17 09:49] #340 closed

[2016-11-20 17:05] #337 closed

[2016-11-25 17:11] wwelsh opened #341 "Allow methods of the model class to be passed as model reporters"
Hello! I am trying to implement the [Tutorial](http://mesa.readthedocs.io/en/latest/tutorials/intro_tutorial.html). In the Tutorial, under the [Collecting Data](http://mesa.readthedocs.io/en/latest/tutorials/intro_tutorial.html#collecting-data) header, the sample code defines `compute_gini` *outside* the `MoneyModel` class, then passes `compute_gini` to the `DataCollector` as a model reporter. How

[2016-12-03 02:14] dadaromeo opened #342 "BatchRunner's behaviour"
I was trying to reproduce the *Credit Risk* example in [Agent-Based Modeling and Simulation](http://link.springer.com/book/10.1057/9781137453648) when I noticed that the output of the batch running were different to the output of the running in the browser.  [Here](https://gist.github.com/dadaromeo/3f37ffb883e9c6b0793e684e7bf0c0a1) is where I describe the problem.

[2016-12-08 03:43] dmasad commented on #342
Thanks for your feedback! It looks like the confusion is in the naming of the ``iterations`` argument. I definitely think it could have a better name. Maybe something like ``n_runs``?

I think it's important to keep the ``max_steps`` argument there, though, since some models may not have end conditions, or may not always reach them.

[2016-12-08 04:02] dmasad commented on #341
Sorry for the late response to this! That's definitely a feature that should be incorporated. The ugly way to do it would be to have a lambda function call the model function, i.e.

[code]

But that's not ideal. The other (equally ugly) solution is to have the model's ``compute_gini`` method take an argument that the DataCollector can pass to it, which it just ignores, e.g.:

[code]

I'm not 100%

[2016-12-08 07:04] dadaromeo commented on #342
My confusion isn't much in the name of the `iterations` argument but in the meaning of it, because of the `max_steps` argument. If the `iterations` argument is the number of runs of a model, then a model will run at most `iterations` or `n_runs` (if you prefer) if `self.running = True` without  the `max_steps` argument. But with the `max_steps` argument, the model will run at most `iterations * ma

[2016-12-09 03:35] dmasad commented on #342
I think I see the confusion. ``iterations`` is the number of different instantiations of the model for each parameter combination -- it doesn't affect the number of steps each instantiation is run for.

With your example, if ``param_vals = {"option": ["dec", "inc"], "amount": [1,2]}`` and ``iterations=1``, there will be four model instantiations, one for each combination: ("dec", 1), ("dec", 2), (

[2016-12-12 12:40] dadaromeo commented on #342
Oh, I see. In the dataframe below is  the output of the dummy model I described earlier with `iterations = 1` and `max_steps = 5`.

|   | Run | amount | option | total |
|---|-----|--------|--------|-------|
| 0 | 1   | 2      | dec    | -20   |
| 1 | 2   | 1      | inc    | 10    |
| 2 | 0   | 1      | dec    | -10   |
| 3 | 3   | 2      | inc    | 20    |

First of all, we see that the `Run` fie

[2016-12-12 15:03] Ryanjrittenhouse opened #344 "Agents placed by an Agent are not added to the scheduler"
First let me say thank you for all of your hard work on this project.  I am a geography grad student that is attempting to adapt a couple of the examples to model  the reorganization of populations due to sea level rise.  This project is for an introductory python class, so please forgive me if the answer is obvious.

I would like a new agent placed in empty cells that are neighboring a cell with

[2016-12-13 01:05] dmasad commented on #344
Hi Ryan,

Thanks for using Mesa! It looks like you're giving each HouseCell agent its own schedule, then adding the new agents to that. Your model should generally only have one schedule, which should belong to the overall Model object.

So the line
[code]
should be
[code]

I hope that helps!

[2016-12-13 01:38] dmasad commented on #342
In Mesa terms, a *step* is a time-tick of the model, within a single instantiation. A *run* is a model being instantiated and then going through some number of steps. BatchRunner generates some number of runs, and collects the reporter values at the end of each run. Recording each step of each instantiation would probably be a good thing to add, though.

The number of runs the BatchRunner generate

[2016-12-13 06:39] dadaromeo commented on #342
OK, I got it now. Thanks for clearing that up.

[2016-12-14 01:55] dmasad commented on #342
Glad I could help, and thanks for highlighting the parts you found unclear!

[2016-12-14 01:55] #342 closed

[2016-12-15 00:54] Ryanjrittenhouse commented on #344
Thank you so much!  You were a tremendous help.  I have a couple of other issues that I may need help addressing later.  For now, it's working well enough to satisfy the requirements of this project.

[2016-12-20 15:23] #344 closed

[2017-01-04 08:31] Corvince opened #347 "find_empty() and move_to_empty() for MultiGrid"
Hello mesa,

is there any good reason not to implement find_empty() (and other empty-related functions) for a MultiGrid? Or is just not implemented yet?

It would be useful for the model I am building currently and if there is demand I could try to implement it, but maybe I am missing a good point against those functions?

Best
Corvin

[2017-01-05 09:10] Corvince commented on #347
Hi dmasad,

I am running into a few more questions here:
1) First I implemented the methods for MultiGrid, but than I thought I could as well implement it for the base Grid class. Only then did I realize that Grid is also frequently used in the examples, but its neither a SingleGrid nor a MultiGrid. I guess that is an own issue, but I am not sure of the expected behaviour of Grid (regarding empty

[2017-01-05 09:41] Corvince opened #348 "Multi-Agent data collection"
Dear all,

This is actually how I came across this issue: I wanted to activate different agent types sequentially (but both randomly), so I used two different schedulers, but this broke the data collection.  Currently, agent reporters get their agents hard-coded from model.scheduler.agents, assuming it exists and failing if your scheduler is named differently. One way to fix this would be to (opti

[2017-01-08 21:17] dmasad commented on #347
1. the base Grid class is intended to be used fairly minimally. Ideally, we should go through the examples and clean them up so that they're using SingleGrid or MultiGrid. However, you can probably implement the `empty` methods at the Grid level by checking whether the contents of a cell are the same as the grid's default value.

2. That seems like a good addition -- go ahead!

3. Good question! Y

[2017-01-08 21:48] dmasad commented on #348
That's an interesting question.

My inclination is to say that since the scheduler keeps track of time in a model, models should have just one scheduler. Check out the [custom scheduler in the Wolf-Sheep example ](https://github.com/projectmesa/mesa/blob/master/examples/wolf_sheep/wolf_sheep/schedule.py) (if you haven't already) to see how you can activate different types of agents in different or

[2017-01-09 10:41] Corvince commented on #348
Aha! I did not look into the example, because I thought the order is not important for the wolf-sheep example. And I did not think about implementing a custom scheduler. But after reconsidering I strongly agree that there should be exactly one scheduler per model.

Regarding the DataCollector, a "collect_attribute" would indeed be nice and more intuitive than the lambda functions. But I would stil

[2017-01-18 03:13] dmasad commented on #347
Looks like this has been addressed!

[2017-01-18 03:13] #347 closed

[2017-01-18 03:24] dmasad commented on #32
This was mostly working in the branch, but that branch is way out of date at this point and needs to be aligned with everything else. It's been on my to-do list for a while, so if you want to take it on, go for it.

The main other hesitation with this is that it changes the server API. I think it's ultimately a change that makes things clearer, but I don't want to push it forward without also chan

[2017-01-18 05:41] njvrzm commented on #341
A slightly cleaner way of accomplishing the same thing:
[code]

`MoneyModel.compute_gini` is an unbound method, meaning that it expects to be called with its `self` argument, which is effectively what the collect method is doing.

[2017-01-20 08:51] yzhou316 opened #350 "Multiple type agents with time attribute"
I have Multiple type agents and one of them has time attribute. The agent with time attribute will influence other type of agents.  And I want to build a model that run by discrete time, and in each step of the model, only the agents whose time attribute is equal to this discrete time to run its own step. How can I build this model with Mesa? Is there any example?(I read the examples you written b

[2017-01-23 22:27] Corvince opened #351 "Simple Semantics"
Dear all,

I just want to present some ideas and semantics that I would find more intuitive for exploring mesa and it's capabilities. Also, setting some default values could help to rapidly prototype new models.

[An example notebook detailing my approach and ideas can be found here
](https://gist.github.com/Corvince/a409f57357c3fce171b4374a4f8df24e#file-simpler-semantics-ipynb)
I don't think most

[2017-01-30 16:00] bianicap opened #352 "Removing agents is causing duplication issue"
Hi,

As a disclaimer, I'm new to both Python and Mesa.

I'm working on an ABM of attrition. To debug my model, I've pared the code down to a really simple model. You have N number of agents, at each time step, agents have a certain probability of attriting. If the agent attrits, the agent is removed/killed from the simulation. For each agent, I track a Month variable (a tick in the simulation repr

[2017-01-31 09:04] Corvince commented on #352
This is probably related to #302

The issue is that model.schedule is a simple list of all agents that gets iterated over in each model step.
What you are doing is modifying this list while being iterated. This can cause unforeseen consequences.
There is already a PR #305 to solve this issue by replacing the list with a dictionary.

In the meantime, a simple workaround I use is to create a list of

[2017-01-31 15:26] bianicap commented on #352
Thanks! This workaround worked great.

[2017-01-31 16:25] Corvince commented on #352
Glad it worked. The one-liner was actually my error, I do the same loop in my model!
schedule.remove() only accepts agents and no list so my code above can't work and you have to use a loop as you did.

[2017-02-01 15:25] Corvince commented on #32
Just to keep you updated:

I finally managed to bring the branch up to date and have already included the newer examples.

Next step: Documentation

So it shouldn't be merged just yet, but should I already make a PR? My branch is [here](https://github.com/projectmesa/mesa/compare/master...Corvince:UserParams_0.8)

[2017-02-01 23:20] jackiekazil opened #353 "Python 3.4 build breaking..."
See https://travis-ci.org/projectmesa/mesa
& https://travis-ci.org/projectmesa/mesa/jobs/196418735

` ImportError: No module named 'six'`

not sure why this is a problem now & only with the 3.4 build.

[2017-02-08 09:22] Corvince commented on #348
To advance on this, in the datacollection module I modified the `_new_agent_reporter` function and added the `_collect_attribute` function as follows:

[code]

So instead of calling the agent-reporter with something like `{"position": lambda a: a.pos}`, we can use `{"position": "pos"}`. Maybe a bit less ugly and with the added benefit that it only collects the attribute if it is available.

What d

[2017-02-26 14:17] larsasp opened #357 "Create agents only once"
Hi!
I'm new to python, and mesa. I can't for the life of me figure out how to make the model create N number of agents only in the first model cycle. I've managed to make the transitions function correctly, however at each step it introduces a new group of N agents. How can I fix this?

Also, if I want all of my agents to start in one state at step = 0, is there a way to do this?

Thank you in adv

[2017-03-05 17:29] dmasad commented on #357
Hi! Sorry for the late reply on this. In general, if you put your agent creation in the model's `__init__` method, they should all be created only once. It sounds like the issue is specific to your code -- if you post it (or a link to it) here, we can help pinpoint how to fix it.

[2017-03-05 18:07] dmasad commented on #351
I like this idea. We've talked about a heavier-duty version of the same thing (e.g. the idea for ['MesaLogo'](https://github.com/projectmesa/mesa/issues/173)) but haven't done much to move it forward.

I think including something like this would be great. A few ideas for modifications / enhancements:

* Instead of the simple semantics being added to the base Model class, should there be a SimpleMo

[2017-03-05 20:15] larsasp commented on #357
Hi, I managed to fix this. You are right, I had specified the model incorrectly,  but it works very well now.
Thank you anyway!

[2017-03-05 22:34] #357 closed

[2017-03-06 15:43] sowasser opened #358 "Agents in Flocker example always move to bottom right"
Hi,

I'm looking into using the Mesa Flocker model as a jumping-off point for research on the collective behaviour of mackerel, and I've played around quite a bit with the code, but I can't figure out why the boids always end up flocking towards the lower, righthand corner.

Does anyone have an explanation for this behaviour, or could point me to the place in the code that creates it? I'm new to P

[2017-03-07 03:55] dmasad commented on #358
It looks like the problem is in the `cohere` method in the `Boid` class. Right now, it just returns the center of all the nearby boids, where actually it should be the vector from the current boid towards the center. It shouldn't be too hard to fix -- you're welcome to take a shot at it if you want; otherwise, I'll try to fix it soon!

[2017-03-07 10:47] Corvince commented on #353
I know this sounds a bit esoteric, but installing six before installing the requirements solves this bug. (From [here](https://stackoverflow.com/questions/42549931/travis-ci-build-on-python3-4-six-urllib-wont-install))

You can see my travis logs here:
https://travis-ci.org/Corvince/mesa

Note that I first put six at the top of the requirements list, but this didn't help. You probably only have to

[2017-03-07 14:36] sowassermann commented on #358
I'll take a stab at it, thank you!

[2017-03-07 21:14] njvrzm commented on #353
This is the result of a change introduced in setuptools version 34. Breaking like this is "expected behavior", if you're not using the latest version of pip, according to the maintainers 😬.  We can get around it with @Corvince's fix or I think by requesting an older version of setuptools in the requirements.txt, which will also help folks to install Mesa if they're not completely up to date. I'm t

[2017-03-07 21:40] #353 closed

[2017-03-07 21:44] njvrzm commented on #353
Downgrading setuptools (from 34 to <34) works. I've pushed the fix to master and will rerun the failing travis builds.

[2017-03-07 22:10] njvrzm commented on #353
All green now :)

[2017-03-10 08:57] bennati opened #359 "[New Feature request] Evolutionary models"
Hello everyone,

I have seen the sheep-wolf example and it looks quite complex.
I thought that one could simplify it by creating custom classes that take care of the evolutionary process.
If you are interested I can prepare a pull request, let me know!

Cheers,
Stefano

[2017-03-10 13:05] dmasad commented on #359
Hi Stefano,
That sounds like an interesting idea ! Can you explain what you mean by evolutionary process? I'm not sure I see how that would simplify the wolf-sheep example.

[2017-03-13 00:44] dmasad commented on #359
The model as it is now doesn't have any selection component, and is mostly focused on population size dynamics -- but if you're interested in implementing an extension that adds an evolutionary submodel, I think that could be a great additional example to have alongside the current wolf-sheep model!

[2017-03-14 11:49] sowassermann commented on #358
So I've done my best to re-write the `cohere` method to return the vector towards the center. The behavior in the visualization has changed somewhat, but they still always end up in the same orientation, appearing from the upper-left corner, with now with one branch heading to the upper-right, and one to the lower-left. Here's the code I changed.

[code]

I'd greatly appreciate any more hints or h

[2017-03-14 14:12] jharrison commented on #358
After a cursory glance at boid.py, I think I see the problem. The heading is initialized as follows:

`self.heading = np.random.random(2)`

I can't be certain this is the case because the docs.scipy.org is dead right now, but I'm guessing that random() returns positive values, possibly between 0 and 1. This means heading will only be positive, i.e., rightward and downward. Assuming random() return

[2017-03-14 15:02] sowassermann commented on #358
The heading doesn't seem to be an issue; as is, it is returning positive and negative values (between 0 and 1). What I think might be the issue is `speed` in the `Boid` class. It's scalar - distance to move per step and when it's switched from 5 to -5 (for example) the boids switch to always heading to the upper-right corner. Not sure how to fix this! Code as is:

[code]

[2017-03-21 13:36] chrisvoncsefalvay commented on #333
I'm happy to chip in if nobody else has picked up on this, @jackiekazil.

[2017-03-23 01:12] chrisvoncsefalvay commented on #223
Happy to do Boltzmann aka Tutorial.

[2017-03-23 01:18] chrisvoncsefalvay commented on #223
Ps. I'm new to this project, so I'm sure this is a silly question... but I wonder whether doing the demo models as separate repos (like the separate Schelling repo) then adding them in as submodules might actually be beneficial in terms of structure?

[2017-03-24 03:55] dmasad commented on #223
@chrisvoncsefalvay Not a silly question at all! We've actually talked about doing that. The main thing that we were concerned about is keeping the repositories in synch, so that any changes to the framework API were reflected in the examples. But if you have some experience with that, it's definitely something we'd like to pursue.

[2017-03-27 17:47] reynoldsnlp opened #361 "Multiple generations of agents"
I would like to use mesa for a project I am working on, but I am not sure how best to approach it. It will likely lead to new contributions to the base code, or at least an extension.

The idea is to have adult agents and child agents, add network connections between agents, children learn from adults, adults "die", children mature into adults, and then a new generation of child agents is created,

[2017-03-28 08:17] Corvince commented on #361
Hi there,

interesting idea! Regarding your question, I think the easiest way to have generations is to simply have a generation attribute for each agent in your model. Depending on if self.generation == "child" or "adult" they can then learn, die or mature (interesting order you picked there ;) )
Classically this would be tied to an "age" attribute, but could also be implemented otherwise.

Anoth

[2017-03-28 15:27] sowassermann commented on #358
Hi again,

So I've managed to remove speed and have, for the moment, compensated by changing `match_heading` to match velocities (magnitude of the non-normalized heading vector). However, `vision` is also causing the agents to move to the lower-right. If I insert a negative number, they all head to the upper-right. I'd appreciate help with this as it seems to involve the `get_neighbors` function.

[2017-03-28 15:30] nlpcall commented on #361
Thanks, I'll see what I come up with.

[2017-03-30 03:44] dmasad commented on #358
I've played with it some more, and I've found something that seems to solve the problem (though it causes another one). The key thing is to normalize the `cohere`, `separate`, and  `match_heading` vectors before adding them together.  (See the code here https://github.com/projectmesa/mesa/blob/flockers.358/examples/Flockers/flockers/boid.py)

This does produce many small flocks moving in different

[2017-03-30 03:54] dmasad opened #362 "Fix network agent assignment"
@jackiekazil Currently, the new MesaNetwork class maps agents to network nodes by referencing their attribute dictionary (https://github.com/projectmesa/mesa/blob/network/mesa/space.py#L644). The node contents (i.e. `agent` attribute) should be the entire agent object, in the same way that grid cells work.

[2017-03-30 17:15] sowassermann commented on #358
Fascinating!

I decided to calculated center of mass slightly differently. Instead of taking the average of the neighbors' positions, I used the SciPy `ndimage.measurements.center_of_mass` function. Now, I might have done this wrong, but it's now producing the opposite behavior as before; all boids head to the upper-right. My `cohere` code is below, the rest is the same as the update to boid.py.

[2017-04-28 03:49] danchurch opened #363 "Can you provide a simpler example of visualization of continuous space?"
Hi there,

I'm weaning myself off of netlogo, despite warnings from my committee.

I'm constructing an ABM that would work best in continuous space, but I'm still pretty confused by the visualization process. I'm unclear from the documentation if a custom client-side js file is necessary for any model I build, or if this can be avoided. I've got a little familiarity with oo scripting in python, bu

[2017-04-29 03:02] jackiekazil commented on #363
If you are talking about this:
https://github.com/projectmesa/mesa/tree/master/examples/Flockers
Then yes.

This is where the space is set:
https://github.com/projectmesa/mesa/blob/master/examples/Flockers/flockers/model.py#L13

Does that clarify?

On Thu, Apr 27, 2017 at 11:49 PM, danchurch <notifications@github.com>
wrote:

--
Jacqueline Kazil | @jackiekazil

[2017-04-29 21:37] danchurch commented on #363
Yes, I am referring to the flockers model.

No, it doesn't clarify, but please be patient with my ignorance, perhaps I am misunderstanding you. It is straightforward to see where the type of space is set in the model \_\_init__, line 41. I have no issue with this, defining/running the subclasses of agents and models, including setting spaces and schedules, etc, is very straightfoward in Mesa (than

[2017-04-30 23:46] dmasad commented on #363
The continuous space visualization does need to be integrated into Mesa's core visualization options. The visualization code in the Flockers example is fairly generalized as it is, and is should allow you to visualize at least circles moving around on a continuous space with no modification.

I put together a [quick test branch](https://github.com/projectmesa/mesa/tree/continuous_space_viz/) that

[2017-05-01 19:52] danchurch commented on #363
Thanks much for hearing and responding to the request. It will be a few months before I can effectively test this branch, I hope that some folks can help you test/iron out the integration of continuous space visualization before this. Since I'm really hard up against some dissertation deadlines and can't risk too many holdups for now I will work with a fine-grain large mult-grid space. I can close

[2017-05-03 03:53] danchurch opened #364 "wolf sheep visualization"
Hello again!

I'm trying to use the custom visualization that was just merged into the master branch. As a first step, I'm trying to get the wolf_sheep example visualization working. The wolves and sheep are not appearing using the custom .png images. If I recode them in the server portrayal method as circles, etc, they work fine.

Any ideas what I'm doing wrong here? The I have updated my install

[2017-05-03 04:24] #363 closed

[2017-05-04 04:14] jackiekazil commented on #364
To be explicit -- can you provide a link to the code that you are using to
implement custom .png images?

On Tue, May 2, 2017 at 11:53 PM, danchurch <notifications@github.com> wrote:

--
Jacqueline Kazil | @jackiekazil

[2017-05-04 15:19] Corvince commented on #364
I think this refers to my PR #355

I can actually confirm this.  However, it only seems to affect Google chrome? At least here it works in IE and Firefox. Not sure what is causing this, something in the newer version of chrome must have changed.

But I don't blame chrome here - I guess there is a good reason. But I don't see it so far

[2017-05-04 17:50] danchurch commented on #364
I'm using firefox.

I did a pip install of the github mesa master yesterday, to try out the really cool local images option that @Corvince made that had been recently merged. Above I was specifically referring to the [GridDraw.js](https://github.com/projectmesa/mesa/blob/master/mesa/visualization/templates/GridDraw.js) file, just because I think this is where the major changes were required to imp

[2017-05-05 08:15] Corvince commented on #364
Don't worry danchurch, as I said, I can confirm this bug. It is really just that GridDraw.js file that has changed, so you should be fine.

I guess/hope I found a soft solution. It seems to be a simple caching issue. If your reload your tab with Strg-F5 it should work. This caused me hours of headache (until I found out) when I implemented this feature. But I had forgot about it.

But I was callin

[2017-05-05 16:05] danchurch commented on #364
Wow, yeah, works great. Don't know why I didn't do that earlier.

[2017-05-05 18:04] #364 closed

[2017-05-10 00:07] Giase opened #365 "problem with loading the visulisation"
I am following the advanced tutorial and trying to experiment with visulisation. I copied the code as is in the tutorial, but the server port 127.0.0.1:8889 keeps loading and never shows the visualisation page. I am using google chrome Version 58.0.3029.110 (64-bit). I also tried on Microsoft Edge (version 38.14393.1066.0) without success.
I use the Spyder IDE form which I ran the script.
Then I a

[2017-05-10 17:58] njvrzm commented on #365
Hello, and thank you for the report! This is actually an issue with our documentation. The tutorial hasn't been updated for a change we made to how the visualization server runs. I'll fix that as ASAP. Meanwhile, if you delete the line `server.port = 8889` from the tutorial code the server should run properly, and it should launch a browser window automatically with the correct port (which is now

[2017-05-10 19:17] njvrzm commented on #358
Late to the game here, but this is a good catch! There are a number of problems, some minor and some serious, with the math in the model as is. For instance, the neighbor heading matching part does nothing at all! Also, the `cohere` and `separate` functions are confused by the borders of the space.

I've started working on a fix and will make a PR soon, and update here when it's available for disc

[2017-05-18 11:28] lmzintgraf opened #366 "Have the schedulers use the model's randomizer"
Regarding this TODO in the documentation:

How about letting the model have a random state (using numpy) which the scheduler can then call? I.e.,
- in the model init: `self.random_state = numpy.random.RandomState(seed)`
- in the schedule step: `self.model.random_state.shuffle(self.agents)`
- alternatively, in the schedule init: `self.random_state = self.model.random_state` (which I assume will mak

[2017-05-19 08:41] Corvince opened #367 "GeoMesa kit"
Dear all,

as mentioned on the mailing list, I have been working on a GeoMesa kit to provide basic GIS functionality.

It currently uses shapely to create arbitrary shapes for agents and patches (agents that do not move). Shapes can also be imported from GeoJSON.
Adapting any shape-to-shape interaction implemented in shapely will be straight-forward.

I have also written a map visualization that u

[2017-05-19 10:08] larsasp opened #368 "Seeding when using numpy"
I am using np.random. a lot in my model, and I want to set a seed, np.random.seed to get consistent line of random numbers. This does not seem to work to great, and many people seem to dislike np.random vs just random. Has anyone had a similar problem?

[2017-05-20 11:47] lmzintgraf opened #369 "Add several agents to scheduler at one"
I think it would be nice to have the option to pass a list of agents to the scheduler, instead of just a single agent. I propose the following adaption of the add() function in the BaseScheduler:

[code]

instead of, as it is now, just `self.agents.append(agent)`. Maybe also then rename 'agent' to 'agents'.

[2017-05-20 12:58] larsasp commented on #368
Update: specified np.random.RandomState and passed it instead of numpy.random function. It works beautifully, however, I am still getting too much variation in modelled outcomes, and I suspect it is due to the activation of the agents not being seeded. Is there a plan to include such a function, or does anyone have any idea how to work around it in the mean time?

[2017-05-22 19:01] djmitche commented on #338
This was addressed incidentally in #346, and can now be closed.  I was able to run the example without issue.

[2017-05-22 19:06] djmitche commented on #333
I'll jump on this..

[2017-05-22 19:12] jackiekazil commented on #331
This is already done.

[2017-05-22 19:12] #331 closed

[2017-05-22 19:13] jackiekazil commented on #338
@djmitche Ty for the note!

[2017-05-22 19:13] #338 closed

[2017-05-22 20:22] tojo13 commented on #223
Hello from the PyCon sprints! I'm aiming to refactor the PD Grid example to fit the standard.

[2017-05-22 20:48] djmitche commented on #352
Addressed in #356 if you want to close this up

[2017-05-22 20:54] #334 closed

[2017-05-22 20:55] #352 closed

[2017-05-22 22:06] #333 closed

[2017-05-22 22:24] djmitche commented on #368
`RandomActivation` uses Python's random number generator, not numpy's, so you will need to seed that in order to get stable activation.

Note that the Model parent class seeds this generator by default.  I'm making a pull request to seed the numpy generator, too.

[2017-05-22 22:26] djmitche commented on #366
The `Model` base class already seeds the global Python random number generator.  I think it can also seed the global Numpy random number generator with the same seed, and I'm making a PR to do so.  Then all uses of random values can just consult those global generators, avoiding the need to pass around random state instances.

[2017-05-22 22:26] djmitche commented on #107
This is already done in the PD example's notebook.  There's support for seeding in the Model parent class, too.

[2017-05-22 23:23] djmitche commented on #361
I think everything you need for this is already present in Mesa.  Here's a little model I pulled together.  Its behavior isn't very interesting, but has the necessary attributes.

[code]

As @Corvince mentioned, you probably do not want to use different classes for Chlidren and Adults, as an instance can't change its class -- a child would have to always be a child.  If you wanted different behavi

[2017-05-22 23:23] #361 closed

[2017-05-22 23:35] njvrzm commented on #307
This should be fixed by #374!

[2017-05-22 23:35] #307 closed

[2017-05-23 10:09] lmzintgraf commented on #366
I think it might be safer to use random state instances, instead of setting the global seed. If someone uses the mesa framework and sets global random seeds in their own implementation, they will unknowingly influence the random generators in the mesa implementation, which might lead to unwanted behaviour. In addition, setting the global seed might not be thread-safe, and it could very well be tha

[2017-05-23 12:23] djmitche commented on #366
Random numbers will never be deterministic in a multi-threaded environment (since the order of requests for random numbers is then based on thread scheduling).  I don't think double-seeding the global random seeds would be problematic, either - it's redundant and not the Mesa best practice, but it would work.

This PR doesn't *preclude* a Mesa user using their own state instances (and seeding thos

[2017-05-23 13:43] lmzintgraf commented on #366
Agreed - seeding both the Python and Numpy random generator is sufficient then, and indeed simpler than passing around random state instances.

[2017-05-23 18:22] jackiekazil commented on #369
What would be the purpose of this change? Can you provide an example use case to help illustrate?

[2017-05-23 18:30] #107 closed

[2017-05-23 18:31] jackiekazil commented on #368
Fixed by #373 -- @larsasp, this fix will be in our next release, which will happen post PyCon... approximately next week.

Ty @djmitche for the fix!

[2017-05-23 18:31] #368 closed

[2017-05-23 18:37] jackiekazil commented on #366
If I followed this convo correctly, this is resolved yes?
(I just wanted to make sure there wasn't anything open before closing.)

[2017-05-23 19:05] jackiekazil commented on #358
@njvrzm -- I know you are working on a could of things... is this still in progress? (just wanted to update the ticket.) :-D

[2017-05-23 22:02] brianrusso commented on #134
Keeping examples within this repo will simplify automated testing.

[2017-05-23 22:14] njvrzm commented on #358
It is! PR #378.

[2017-05-23 22:38] jackiekazil commented on #105
This is no longer relevant / done.

[2017-05-23 22:38] #105 closed

[2017-05-23 22:42] jackiekazil commented on #223
YAY! We are done! The rest of these are in PRs. <3 <3 <3

[2017-05-23 22:42] #223 closed

[2017-05-23 23:08] brianrusso commented on #165
Here is  the info on how to use Travis to autopush to pypi

https://docs.travis-ci.com/user/deployment/pypi/

[2017-05-24 13:59] lmzintgraf commented on #366
Yes, I think so.

[2017-05-24 14:05] lmzintgraf commented on #369
I thought about it a bit more, and maybe it's not necessary. I decided for my project to directly mess with the `schedule.agent` variable, instead of going via functions for adding/removing agents.

The reason I thought this would be a useful feature is for example if you have many agents, but only some of them are put into the scheduler in every step of the model. I.e., in a step of the model, yo

[2017-05-28 03:36] ntguardian opened #379 "WolfSheep won't show wolves or sheep"
I wanted to run the WolfSheep example to see if the wolves and sheep would be drawn in the visualization (that is, the .png files in resources). There were no wolves or sheep, just grass.

[2017-05-28 17:11] TaylorMutch opened #380 "Browser dies when Tornado server is killed, causes system to register application 'crash'"
Not sure if this is desired functionality, but when the server is killed or the connection is closed **and** the visualization is the only tab in the browser, the browser is closed. Ideally this would be fine, but Chrome throws an error when you launch it independent of the server/visualization, asking to Restore as if Chrome had crashed.

This is a relatively minor issue, but it could give the us

[2017-05-28 18:45] TaylorMutch commented on #311
I added #381 to start resolving this. Definitely agree with @njvrzm, a newcomer to Python would easily question whether this was necessary across all implementations, especially if one is coming from something like C/C++.

[2017-05-28 23:26] SergioML9 opened #382 "Extract data from batch run depending on parameter"
Hi,

Is there any way to separate the data extracted from a batch run depending on the parameter used for the simulation? For example, in the "Introductory Tutorial", is there any way to show data extracted from the batch run for each number of agents?

Thank you very much !

[2017-05-30 08:18] Corvince commented on #379
Could you try clearing the cache? Usually all you need to do for that is to reload the browser tab with Ctrl-F5 or Shift-F5

[2017-05-31 11:23] sowasser commented on #358
Thank you, @njvrzm. I've played around with your new code and looks good to my non-expert eyes.

[2017-06-02 14:17] ntguardian commented on #379
I did that. No sign of wolves or sheep.

[2017-06-13 11:01] larsasp opened #384 "Get agent vars dataframe slow/silently crashes when number of agents is high"
I want to run my model with 100K agents, and save to a csv so I can do some data analysis on them. However, the get_agents_vars_dataframe function is either very slow (left cooking over night, still busy by lunch the day after) or it has silently crashed. Has anyone encountered this before, or have a suggested solution?

[2017-06-29 04:09] jackiekazil opened #387 "Release notes discussion for Flagstaff (PyCon Sprints & then some)"
@dmasad @njvrzm

I never pushed a post Pycon release. I was putting together release notes and wanted to pass them by you you all. Can you review and check if I am missing anything? (There are open PRs that still need to be merged, but we can always do another release. I didn't want to not do a release for that reason.

Next release - 0.8.1 (2017-06-?) Flagstaff (PyCon Sprints & then some)
+++++++

[2017-06-29 04:10] jackiekazil commented on #387
Also, I have these notes from the history, but I am not sure which PR's they are attached to. I have been created the release notes based off of PRs. Do you know anything about these? Do you have ticket numbers or PRs for these? Are these from a previous release I mixed them up with the current one? Let me know.....

* Modified loop over agents in schedule step method
  * If agents are deleted whi

[2017-06-30 19:50] jackiekazil commented on #165
Ty for the link!

[2017-06-30 19:51] jackiekazil commented on #134
Yes, but moving it to another folder will help those that run `pip install mesa` to be able to run the examples without having to dig to some crazy place in their python path.

[2017-07-01 03:49] rht commented on #387
https://github.com/projectmesa/mesa/pull/356

I rechecked the changelog via `git log v0.8.0...HEAD | grep -v Merge`:
[code]

There are 3 commits that are not based on any PR's. (Also, while commit msgs should be imperative, changelog statements should be a past record of actions.)

[2017-07-03 02:28] rht commented on #387
CHANGELOG += [#383, #385]

[2017-07-03 23:10] jackiekazil commented on #387
@rht this is exactly what I needed! Thank you!

[2017-07-03 23:21] jackiekazil commented on #387
Release notes are here: https://github.com/projectmesa/mesa/blob/master/HISTORY.rst#081-2017-07-03-flagstaff-pycon-sprints--then-some

[2017-07-03 23:21] #387 closed

[2017-07-04 06:58] TaylorMutch commented on #380
Closing, this only seems to be a minor thing, and it would be bit hairy to try and account for it in this context.

[2017-07-04 06:58] #380 closed

[2017-07-04 06:59] TaylorMutch commented on #319
@dmasad Is this still occurring within the new UI? I have not observed this myself, but perhaps others have?

[2017-07-04 07:07] narc98 opened #392 "No Module: UserParam"
Thanks for your work on this project.  I'm just getting into ABM and am not sure what's driving my problem.
 I can only run the sugarscape model and all others fail for a variety of errors. The most common error (found when running Boltzman, Schelling, Wolf) is "ImportError: No module named 'mesa.visualization.UserParam'" from the example's server.py module (this import line: from mesa.visualizati

[2017-07-04 14:35] dmasad commented on #392
The UserParameters class is very new. If you installed Mesa via pip (or just installed an older version) but downloaded the examples from GitHub, you won't be using a version of Mesa that already has UserParams.

The best way to fix it should be to reinstall the most recent version directly from GitHub:
```$ pip install git+https://github.com/projectmesa/mesa```

[2017-07-04 20:38] narc98 commented on #392
Thanks.  I'm not sure what wasn't working.  I downloaded the zip file from git yesterday and had the issues.  Just cloned again and no problems.  Sorry for the trouble.

[2017-07-04 20:38] #392 closed

[2017-07-07 08:35] rht commented on #379
@ntguardian do you have error log in the browser console you are running? In which directory did you run the WolfSheep example from (mesa/examples or mesa/examples/wolf_sheep)? I can reproduce your problem by running it from mesa/examples. If this is indeed the cause of the problem, the issue can be closed. And have fun with the simulations, or if you have any further tweaks!

[2017-07-07 09:45] rht commented on #167
In the structured arrays, is agent destruction implemented as zero-ing reference?

I think the most effective solution is to maintain an abstract class of `DataCollector` for the API, which may have 2 implementations: dict containing lists of tuples/lists-of-tuples or dictionary of lists, for small-scale models, and `DataFrame` (why not go for `DataFrame` right away rather than its proto-form, str

[2017-07-07 10:28] rht commented on #350
@yzhou316  you could modify any of the examples to have this constraint.
Say, https://github.com/projectmesa/mesa/blob/5a3a62c6dd9dcb3b310a5526d37dc4c7bcfc43c0/examples/Flockers/flockers/boid.py#L92.
[code]

[2017-07-09 15:09] dmasad commented on #384
That's good to know! I think the problem is that `DataCollector` stores everything in memory using core Python data structures, which really isn't optimal when dealing with large volumes of data.

The long-term solution is to rewrite DataCollector to at least have the option of using something more efficient. The short-term hack (if you're still trying to resolve this problem) might be to write th

[2017-07-10 01:32] larsasp commented on #384
Hi,
Yes we decided to make our own collector to just store the events we needed, so it was not too difficult to work around actually. The model is on my github, however it is an utter mess at the moment, but I will type it up nicely soon.
Thanks,
Lars

[2017-07-10 01:32] #384 closed

[2017-07-13 23:23] smartinsightsfromdata opened #395 "error launching Flocker"
I've Anaconda with python 3.6 & Mesa 0.8.1

I launch Flocker's run.py and I get this error:
[code]

[2017-07-14 01:16] jackiekazil opened #396 "Review AB-CE & Mesa examples"
Review AB-CE & Mesa integration examples....

* https://github.com/AB-CE/examples/tree/master/examples/sugarscape
* https://github.com/AB-CE/examples/tree/master/examples/mesa_example

Questions:

* What can Mesa learn from this? Should Mesa offer any additional features?
* What can AB-CE do differently? Should something be moved from AB-CE to Mesa?
* Is Mesa being used in an unexpected way? If so

[2017-07-14 01:18] jackiekazil commented on #396
/cc @dmasad @njvrzm @rht

[2017-07-15 05:00] jackiekazil commented on #395
Trying to recreate this issue now....

[2017-07-15 06:39] jackiekazil commented on #395
@smartinsightsfromdata -- a bandaid for you is to comment out this line https://github.com/projectmesa/mesa/blob/master/examples/Flockers/flockers/server.py#L12 & try running again.

@dmasad, when I started to look into this issue, it looks like it is related to this change -https://github.com/projectmesa/mesa/commit/2ca1de70147ea36a93b912a196ed3a64c7d10b4d#diff-3221e8b9ab8c2773dd44dd9fea582ff0...

[2017-07-15 09:05] rht commented on #395
I think it's a variable naming issue, where `N` should have been `population` (https://github.com/projectmesa/mesa/blob/master/examples/Flockers/flockers/model.py#L25 (I didn't use a hashed link here :/)) instead.

[2017-07-15 11:32] dstrohmaier opened #397 "Visualization Tutorial: too many arguments for ModularServer?"
I tried to follow visualization tutorial but the following line did not work:
[code]
I get the following error:
`TypeError: __init__() takes from 3 to 5 positional arguments but 7 were given`
However, it goes away, if I turn the last three arguments into an dictionary:
[code]

Then the visualization runs without problems.

[2017-07-15 11:56] rht commented on #397
@dstrohmaier you are running on an outdated version. This appears to have been fixed:
[code]
at https://github.com/projectmesa/mesa/blob/ffe5ca13ba17ed4c598d2974744c5174826d9390/examples/boltzmann_wealth_model/wealth_model/server.py#L36.

[2017-07-15 23:40] #395 closed

[2017-08-02 16:05] clmerlos opened #403 "Update Introductory Tutorial - Set up and run the BatchRunner"
Following the Intro Tutorial, tried running
[code]

Resulted in the following error

  File "<stdin>", line 5, in <module>
  File "/Users/.../mesa-master/mesa/batchrunner.py", line 83, in __init__
    self.variable_parameters = self._process_parameters(variable_parameters)
  File "/Users/.../mesa-master/mesa/batchrunner.py", line 107, in _process_parameters
    raise VariableParameterError(bad_nam

[2017-08-02 19:41] clmerlos commented on #397
I have the same issue.
Uninstalled and reinstalled using

I have Mesa-0.8.0 currently installed

[2017-08-18 03:42] narc98 opened #404 "Adding a Text "Output" Box"
Your project is a great launching pad for my ABM work.  I'm curious if there's a mechanism to add something like a TextData element to the overall server window (for instance, the Wolf/Sheep ModularServer).  I have added a few different charts to monitor variables in my model but would like to add another module that simply displays the contents of a dictionary (concept in the attached picture).

[2017-08-20 17:27] narc98 commented on #404
For clarification purposes, I tried creating a simple "TextData" element and adding it to the call to the ModularServer constructor (throws a "AttributeError: 'TextData' object has no attribute 'package_includes').   I also tried the sample code concept from the tutorials/modular-visualization.rst file (lines 117-165), but that throws the same error.  If I just add the missing variables to the "At

[2017-08-21 00:38] dmasad commented on #403
Good catch! The tutorial update was written, but looks like it didn't make its way to readthedocs for some reason. Thanks for letting us know!

[2017-08-21 01:00] dmasad commented on #404
That's definitely a good idea! The documentation on readthedocs was slightly out of date; that's fixed now. Can you post your code on here or in a gist or something? That'll make it easier to see what the issue is.

[2017-08-22 19:51] narc98 commented on #404
https://gist.github.com/narc98/3bd3b0617958047d19ef5a4227818c1e

Sure.  I'm working on a model where drones (agents) depart a location and search a given area and report back to a Command/Control agent if they find any objects.  My "Operator" class just has some basic movement behaviors (moveToPos(pos), stayCloseToPos(distance), etc..).  Each step, I'd like to show what's in the C2.investigate and

[2017-08-27 13:15] dgiunchi opened #405 "agent creation/deletion"
is it possible to remove and create agent during the simulation? if yes,  is there an example?

[2017-08-27 13:19] #405 closed

[2017-08-27 14:27] prototaxites opened #406 "DataCollector should be able to create multiple columns from a single function call"
First of all, thank you all for writing such a useful package - it has massively streamlined my modelling efforts and I'm really impressed by how easy it is to rapidly prototype models in mesa.

Normally, a function for DataCollector takes in a model or agent as a parameter, and returns a single value, e.g. the number of agents, or the value of some agent's internal variable. However, in the model

[2017-08-31 01:27] zhiyzuo opened #407 "Stop server when using Jupyter notebook?"
How can I stop a `ModularServer` when using it in Jupyter notebook? I am following the Advanced Tutorial [here](http://mesa.readthedocs.io/en/latest/tutorials/adv_tutorial.html#changing-the-agents).

[2017-08-31 14:01] clmerlos commented on #407
Usually to stop the ModularServer I press ctrl-c. This stops run.py which calls ModularServer. I believe the equivalent to ctrl-c in Jupyter notebook is either "Ctrl-m i" which interrupts the kernel (that is, the sole letter "i" after "Ctrl-m") or pressing "I" twice works as well.

[Source](https://stackoverflow.com/questions/17561212/is-there-an-equivalent-to-ctrlc-in-ipython-notebook-in-firefox-

[2017-08-31 14:37] zhiyzuo commented on #407
@clmerlos Thanks for the information but I was thinking about is it possible just to stop the process underlying `server.lauch()`, instead of killing the entire notebook.

Would you say using scripts would be better, when using the visualization of Mesa?

[2017-08-31 14:51] clmerlos commented on #407
I would say running from terminal is better. For example, I have run the visualization from terminal, edited some python code, saved the file, and the changes appeared after refreshing the browser. (without having to type "python file.py" in terminal after every minor change) .

Like I mentioned before ctrl-c would end the viz process, close the browser socket, etc.

[2017-09-01 00:53] zhiyzuo commented on #407
Thanks. I will stick with scripts and terminal then.

[2017-09-01 00:53] #407 closed

[2017-09-01 03:03] zhiyzuo opened #408 "Question on SingleGrid placing/moving agents"
Thank you for this great tool!

I am trying to use `SingleGrid` but does not understand three things.

(i) Is there any difference between `move_agent`, `place_agent`, and `position_agent`?

(ii) If I use `SimultaneousActivation` to move agents, and two agents want to move to the same cell, how do the scheduler or the model decide which one to go?

For the second question, it seems like I would ge

[2017-09-01 10:59] Corvince commented on #408
Dear zhiyzuo,

please remember that Github is mainly used for bug reporting, in the future you should best ask your question [here](https://groups.google.com/forum/#!forum/projectmesa).

(i) `place_agent`places an Agent as a specified position, whereas `position_agent` allows you to assign the position randomly and should be used when initially positioning agents.
`move_agent` only works for agent

[2017-09-01 12:27] zhiyzuo commented on #408
Thank you! I will close this and move to google forum!

[2017-09-01 12:27] #408 closed

[2017-09-01 13:29] #403 closed

[2017-09-07 12:14] simonchx opened #410 "[Bug Report] Wrong result got from get_distance method for torus continuous space"
[code]
Above is the get_distance method for continuous space in mesa 0.8.1.

Although I'm not clear about the algorithm here, when my input is
[code]
I got the result 90 rather than 10.
So I wonder if there is any problem about this algorithm.

[2017-09-07 14:46] clmerlos commented on #410
Hello, I personally haven't used the built in get_distance method since I write my own based on agent capability: euclidean, manhattan, etc. I believe the following code might work, I ran it with a couple use cases.

[code]

[2017-09-08 07:22] simonchx commented on #410
@clmerlos Thanks for your reply.
Yes, the version you provided works well.
Hope mesa would fix it in the next version.

[2017-09-21 11:05] Vasco09 opened #411 "[FIXED] Error with Batchrunner.py"
If you are using mesa 0.8.1, the module batchrunner might be outdated. It was giving me an issue when using it (something with fixed_parameters) and to fix it you just need to go [here](https://github.com/projectmesa/mesa/blob/master/mesa/batchrunner.py), click on [RAW](https://raw.githubusercontent.com/projectmesa/mesa/master/mesa/batchrunner.py) and then substitute that text for the one you have

[2017-09-21 12:47] clmerlos commented on #411
Alternatively you can uninstall mesa and reinstall from source by running the following:
`pip install git+https://github.com/projectmesa/mesa`
This reverts to the github version, which is 0.8.0.
You can check which mesa version you have installed by running `pip show mesa`
Note: Running `pip install mesa==0.8.0` if you currently have 0.8.1 keeps the outdated batchrunner.py

[2017-09-22 20:54] JamesArruda opened #412 "Slow ContinuousSpace"
When using Mesa for its `ContinuousSpace` simulations with many agents and many steps take a while to run. Reducing the run time is valuable to me for performing Monte Carlo analyses and the like. Looking at the profiling, it appears that most of the time is spent in `get_distance` (I ran this for 100 steps on the Boids example):

              3018122 function calls in 4.453 seconds

       Order

[2017-09-27 04:53] jackiekazil commented on #406
RE: library -- You are welcome. :-)

RE: suggestion -- not sure if I understand or not.
Would something like this work for you?
[code]

If not, then can you share your code, so I can understand better?

[2017-09-27 11:23] Corvince commented on #367
I am now working on this in [another repository named mesa-geo](https://github.com/Corvince/mesa-geo). Head over there if you want to stay updated.

[2017-09-27 11:23] #367 closed

[2017-10-02 08:20] Corvince commented on #412
I think the speedup from your PR is quite impressive

[2017-10-13 21:20] Omkar28 commented on #274
?

[2017-10-13 21:20] Omkar28 commented on #274
did you solve the error

[2017-10-16 11:41] Corvince opened #415 "Visualization Server: Sidebar missing in Edge browser"
As the title suggests for some reason the sidebar is missing in Edge. Don't know if this has any real relevancy for mesa or if it is an issue with bootstrap, but I just noticed this and wanted to drop a note.

[2017-10-22 18:16] narc98 opened #416 "Blinking Visualization"
Hello.  I'm hoping that others are having this issue as well but I'm having a problem now (on my model and the "wolf-sheep" one) where the entire grid flashes when refreshing between each step.  I know that this didn't happen on my code or the example previously and am curious if it's maybe some sort of incompatibility with newer browser versions (I've tested Win10 with Chrome 62.0.3202.62 and Fir

[2017-10-25 14:13] Corvince commented on #348
I just stumbled upon this issue again in my current model and I still think my last comment offers a nice solution. If you think this is a good way I will create a test for this and submit a PR.

[2017-10-29 18:45] igcfigueiredo opened #418 "Game of Life visualization stuck in infinite loading"
I'm trying to create a simple visualization of the Game of Life example using Modular Server but everytime i run it i get stuck in an infinite loading on the browser! I have tried using chrome and firefox with no success. I also tried to reinstall mesa which didn't resolve the issue. It seems there used to be a problem related with the port but it's trying to use the correct one (8521). I'm coding

[2017-10-30 15:43] #418 closed

[2017-11-02 15:56] claywrc opened #419 "Slider Bar Visualization is not working"
Hello - I've copied the code from the advanced tutorial associated with adding an interactive parameter, but when I run the visualization, the "Number of Agents" slider does not appear.  The tutorial does not explicitly say where the UserSettableParameter() should be defined, but I'm assuming it is defined in the server.py file so that it can be passed as a model parameter.  Is there anything else

[2017-11-02 22:00] narc98 commented on #419
What browser are you using?  I have found that the slider bars do not appear in Edge/Internet Explorer.  I have had no issues with them appearing in Chrome, Firefox, or Opera.

[2017-11-03 12:53] claywrc commented on #419
Yep - I'm having the issue with Explorer.  Not necessarily by choice - that's just what my default browser happens to be so that's what the local server launches.  That's easy enough to change on my local machine, but if I wanted to deploy this, would there be a way to detect the default browser and throw an alert, or allow the user to choose another browser?

[2017-11-04 23:07] Moody1021 opened #420 "[Bug Report] Torus adjustment check in Grid class problem"
It seems like a torus adjustment is not being made in Grid class in move_agent or _place_agent. Stack trace and code that shows problem can be referenced in a [mesa googlegroups](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!topic/projectmesa/KUltKSC3MKg) thread.

[2017-11-08 18:30] clmerlos commented on #419
You can change `webbrowser.open(url)` from ModularVisualization line 334 to `webbrowser.get('safari').open(url)` or some other browser such as 'chrome' or 'firefox'

[2017-11-08 18:30] clmerlos commented on #419
You can change `webbrowser.open(url)` from ModularVisualization line 334 to `webbrowser.get('safari').open(url)` or some other browser such as 'chrome' or 'firefox'

[2017-11-08 18:31] clmerlos commented on #419
You can change `webbrowser.open(url)` from ModularVisualization line 334 to `webbrowser.get('safari').open(url)` or some other browser such as 'chrome' or 'firefox'

[2017-11-08 18:31] clmerlos commented on #419
You can change `webbrowser.open(url)` from ModularVisualization line 334 to `webbrowser.get('safari').open(url)` or some other browser such as 'chrome' or 'firefox'

[2017-11-08 18:31] clmerlos commented on #419
You can change `webbrowser.open(url)` from ModularVisualization line 334 to `webbrowser.get('safari').open(url)` or some other browser such as 'chrome' or 'firefox'

[2017-11-08 18:31] clmerlos commented on #419
You can change `webbrowser.open(url)` from ModularVisualization line 334 to `webbrowser.get('safari').open(url)` or some other browser such as 'chrome' or 'firefox'

[2017-11-08 18:36] clmerlos commented on #415
This might be an Edge Issue. You can change `webbrowser.open(url)` from ModularVisualization line 334 to `webbrowser.get('chrome').open(url)` or some other browser such as 'firefox'.

[2017-11-09 13:29] Corvince opened #422 "[Enhancement] Include fixed parameters in Batchrunner.get_model_vars_dataframe()"
Hey all,

I really come to like the mesa included Batchrunner. However, I also want to keep track of the fixed parameters I used for the simulation run. Maybe others feel the same so I added a `include_fixed` option to the Batchrunner.get_model_vars_dataframe() function. Feel free to use my branch or even merge it.

Best
Vincent

[2017-11-09 19:40] claywrc commented on #419
Thanks for the suggestions - that helps me keep rolling.  Is it strange that the default 'Frames per Second' slider shows up fine in IE, but not any added sliders?  I'm assuming there is a way to get the user-defined sliders to show up.  I'll work on it and post an update if I figure it out.

[2017-11-09 19:42] claywrc commented on #419
Does anybody know how to control the layout of several charts on the page instead of having everything run down the center?

[2017-11-09 22:35] jackiekazil opened #424 "Update PR #303: Adding gradient support for agents in GridVisualization"
Update PR #303: Adding gradient support for agents in GridVisualization
This is a great idea, but a few updates need to be made. Moving this to issues to look for extra help on this. One of the things that needs to happen to make sure all the example models work with the change.

[2017-11-10 00:28] jackiekazil commented on #411
Thank you for relabeling the ticket! That is helpful to us! <3 <3 <3

[2017-11-10 00:28] #411 closed

[2017-11-10 01:13] jackiekazil commented on #410
I ran the tests with both versions and they both pass.
https://github.com/projectmesa/mesa/blob/master/tests/test_space.py#L34-L43

I applied both versions to Flockers example and they both run in the same manner.

It is impossible I made a mistake along the way, but I don't see the issue.
Can you provide me with explicit instructions on how to recreate it?

[2017-11-10 05:23] simonchx commented on #410
@jackiekazil Thanks for your reply.

[code]
As I tried, this test failed. I got the result 40 rather than 10.

Hope this would help.

[2017-11-11 23:59] jackiekazil commented on #410
@simonchx  can you take a look at the change that I submitted? https://github.com/projectmesa/mesa/pull/425 ... does it look good to you?

[2017-11-12 00:03] jackiekazil commented on #327
Closing this. no activity.

[2017-11-12 00:03] #327 closed

[2017-11-12 00:04] jackiekazil commented on #319
@TaylorMutch this seems to have been resolved with the new UI. Thank you for all your work on that. Closing this ticket.

[2017-11-12 00:04] #319 closed

[2017-11-12 00:05] jackiekazil commented on #315
No more activity on this. i am going to consider it resolved. Closing ticket.

[2017-11-12 00:05] #315 closed

[2017-11-12 00:07] jackiekazil commented on #365
It looks like this has been fixed, but this ticket was never closed. Please reopen if I am wrong.

[2017-11-12 00:07] #365 closed

[2017-11-12 00:08] jackiekazil commented on #379
@rht thank you for your review.

I am closing this ticket for now.
Please reopen if still relevant.

[2017-11-12 00:08] #379 closed

[2017-11-12 00:09] jackiekazil commented on #219
YAY!

[2017-11-12 00:09] #219 closed

[2017-11-12 00:09] jackiekazil commented on #366
YAY!

[2017-11-12 00:09] #366 closed

[2017-11-12 11:06] simonchx commented on #410
@jackiekazil  Thanks for the change. This one seems to work well.

[2017-11-12 11:35] msradam opened #426 "How to host visualization?"
Hi,
I was able to create a simulation and view it on a browser via importing a server.py and calling server.launch(). However, I would like to host the fully functional simulation on the web and allow others to access it, perhaps via Heroku? Is there any way I can do that?

[2017-11-13 07:26] rht commented on #410
The reason why it is 40 for https://github.com/projectmesa/mesa/issues/410#issuecomment-343377912 test case, given the params x_max = 70, y_max = 20, x_min = -30, y_min = -30, x_center = 20, y_center = -5, width = 100, height = 50: for the y coordinate, y = -15 - (-5) = -10 and -10 modulo 50 is 40 instead of -10.

I think the less opaque solution is to multiply the size with a sign of the x and y

[2017-11-13 07:29] rht commented on #410
40 is outside the range of y_max = 20.

[2017-11-14 06:24] simonchx commented on #410
@rht Thanks for your reply.

First, there are some bugs.
I got this first.
[code]
And the computation order of
[code]
will go from left to right, which may not what you want, I think.

After change your code to
[code]
it started to work but failed at the test
[code]
Your code got the result 23 rather than 25.

[2017-11-14 06:56] simonchx commented on #410
@clmerlos @jackiekazil
I just tried to do a complete test for @clmerlos 's code and the original version in mesa 0.77.
And the former failed at
[code]
It got the result `np.sqrt(49 ** 2 + 26 ** 2).`

Although I still cannot be sure whether the latter is always right.

The following is my test code.

[code]

[2017-11-14 07:42] rht commented on #410
@simonchx you can't remove the sign from pos_1 and pos_2, since later or pos_1 - pos_2 is a vector operation.

My fix would be to replace `-=` with this:
[code]

[2017-11-14 08:30] simonchx commented on #410
@rht

Sorry for that, yes, the sign is needed here.

And the first bug gets fixed after the change you provided.

However, still your code and some fixation I tried failed in some situation.
So, could you please provide a version of your code that could pass the following tests?

[code]

[2017-11-14 11:59] simonchx commented on #410
@jackiekazil By comparing results with the basic algorithm below, I'm sure that the get_distance method in mesa 0.77 is the only right one by now.

[code]

[2017-11-15 03:03] rht commented on #410
@simonchx if my fix doesn't work, I don't see any other way to make it correct again. Also, what would be the result of the accepted solution in SO, https://stackoverflow.com/a/3041398/595474 ?

[2017-11-15 17:30] JamesArruda commented on #410
I think that the right answer is between @simonchx and @rht.

The 9-grid form will place the blue circle where all the green circles are. Our comparison point is the black circle.

![image](https://user-images.githubusercontent.com/31418520/32850221-8f7e211e-c9ff-11e7-808e-ca1e74febd57.png)

The squares are what happens from the `pos_1 = (pos_1 - self.center) % self.size` commands.

So in many cas

[2017-11-15 21:04] dkrichards86 opened #428 "Network Topology"
Are there any network topology implementations currently in development? It seems like a few were started, but none of them ever came to fruition.

For reference, see https://github.com/projectmesa/mesa/issues/15, https://github.com/projectmesa/mesa/pull/388 and https://github.com/projectmesa/mesa/tree/network

[2017-11-15 22:07] cauemello commented on #428
I am working on #388. There are some pending requested changes, but I
intend to finish.
The code is working. Have you tried it?

On Wed, Nov 15, 2017 at 7:04 PM, Keith Richards <notifications@github.com>
wrote:

[2017-11-16 01:56] rht commented on #410
@JamesArruda your solution is a version of mesa 0.77, but with numpy operation instead of `math`. We really should go all numpy for perf reason.

[2017-11-17 05:37] simonchx commented on #410
@rht @JamesArruda Thanks for your suggestions.

Both of them are the same algorithm as the one in mesa 0.77, which is the only one that passed all the tests I did above. Maybe a more effective version of it is needed?

[2017-11-17 19:35] dkrichards86 commented on #428
Hi @cauemello,

I'm about to start work on a model that is reliant on a network topology.  I'm hesitant to build around a branch with pending changes. Do you have a timeline for completion of #388 ? Or do you mind if I take a crack at wrapping it up?

Thanks,
-Keith

[2017-11-18 00:34] cauemello commented on #428
Hi @dkrichards86,

#388 is ready for review. Waiting for @jackiekazil.

You are welcome to test the models that use network topology:
boltzmann_wealth_model_network and virus_on_network

[2017-11-18 13:26] dkrichards86 commented on #428
Thank you for your great work on this!

[2017-11-18 13:53] dkrichards86 commented on #426
Mesa's server implementations use [Tornado](http://www.tornadoweb.org/en/stable/index.html) as the underlying web server. You should be able to treat it like you would any other web app in Python.

I haven't used Heroku, so I can't speak to that specifically.

[2017-11-18 20:41] cgit2017 opened #431 "Adding to mesa/examples"
This is a request to add a new example to the examples folder. It is based on the NetLogo Bank Reserves model. I have followed the contributing guidelines, and tested the code.

[2017-11-19 17:22] msradam commented on #426
Thanks, so how would I treat it as a web app? Let's say I have model.py, server.py, and run.py (a basic model), where would I access the Tornado code? I've taken a look at the source code in ModularVisualization but I'm assuming I don't need to alter it.

[2017-11-19 17:33] dmasad commented on #426
Deploying as a web app isn't officially supported, though it is on the to-do list. Šimon Podhajský wrote some notes on how to deploy a model with Heroku, which you can read on the Mesa list-serv [here](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/projectmesa/IAnrBEIGFKs/fPcCkwD1CQAJ). However, that doesn't address ensuring that either all users are seeing the same model

[2017-11-20 00:38] msradam commented on #426
Hi, thanks! I was able to host the app on Heroku [here](https://carceral-contagion.herokuapp.com/) but it only shows the basic Grid and not the visualization or any of its options.

When clicking 'step', nothing happens, though I notice these specific errors in the Chrome debugger:
![image](https://user-images.githubusercontent.com/19861960/32997685-26e737ca-cd61-11e7-8dc1-a208a9522f0a.png)

Any i

[2017-11-20 09:10] shippy commented on #426
You can fix the display failure by merging in PR #421 :) @dmasad is correct that this doesn't address the fact that Mesa only runs one simulation, but fixing the socket hard-coding would allow for (at least trying out) the one-containerized-deployment-per-visitor model.

[2017-11-21 16:36] zyzek commented on #419
You'll need to modify the template in `mesa/visualization/templates/` directly to change the page style.

[2017-11-28 17:31] dkrichards86 commented on #428
Closing this since #388 was meged into master.

[2017-11-28 17:31] #428 closed

[2017-11-29 08:28] chenyuyou opened #435 "cannot import name 'NetworkModule'"

[2017-11-29 12:08] cauemello commented on #435
The latest release (0.8.2) doesn't contain the NetworkModule. While we wait for a new one, you can install the up-to-date code using:
pip install git+https://github.com/projectmesa/mesa.git

[2017-11-29 15:50] TaylorMutch commented on #426
@msradam Please try install `mesa` via git and see if you can now run via Heroku - https://github.com/projectmesa/mesa.git

[2017-11-29 17:27] claywrc commented on #419
Thanks for the recommendation - Not sure who to make aware of it, but the github page for that documentation seems to be broken (I'm trying to follow from the link in the tutorial).

[2017-12-03 04:50] TaylorMutch commented on #435
Closing unless this becomes an issue in the future. The `NetworkModule` should be available in the next release of `mesa`, barring an unforeseen issues with the release.

[2017-12-03 04:50] #435 closed

[2017-12-03 04:51] TaylorMutch commented on #431
Closing not that #432 has been merged.

[2017-12-03 04:51] #431 closed

[2017-12-03 04:52] TaylorMutch commented on #426
Closing this issue unless folks run into issues hosting `mesa`.

[2017-12-03 04:52] #426 closed

[2017-12-03 04:56] TaylorMutch commented on #311
@njvrzm I believe the unused class variables have been removed. Closing this issue.

[2017-12-03 04:56] #311 closed

[2017-12-03 05:39] TaylorMutch commented on #415
It looks like this is an Edge with `jQuery` and Edge. I am looking into this.

[2017-12-03 05:50] TaylorMutch commented on #415
@Corvince thank you for bringing this up. I will be submitting some fixes.

[2017-12-03 06:01] TaylorMutch commented on #419
@claywrc Thank you for bringing up this issue.

I'm seeing a couple issues lining up with the newer visualization code. One of which is compatibility with Edge. There is a documented [issue with jQuery and Edge ](https://github.com/jquery/jquery/issues/3251), which I am working on, and is related to #415.

In terms of where the `UserSettableParameter` should be defined, it sounds like there is a n

[2017-12-03 08:15] TaylorMutch commented on #415
@Corvince please checkout #436 and see if this issue can be resolved with it's merge.

[2017-12-03 08:15] TaylorMutch commented on #419
@claywrc Please see #436 and see if that branch resolves any of the issues you are having.

[2017-12-03 18:10] cgit2017 commented on #431
@TaylorMutch thank you very much. I hope to be able to contribute to the project in other ways in the future.

[2017-12-04 02:34] TaylorMutch commented on #397
I am closing this issue. As rht said, model parameters are specified using the `model_params` dictionary, which is then passed along to create, modify, and reset the underlying model from the browser. Non-keyword arguments are not passed to the model's constructor.

[2017-12-04 02:34] #397 closed

[2017-12-04 02:35] TaylorMutch commented on #284
Closed #284.

[2017-12-04 02:35] #284 closed

[2017-12-04 02:39] TaylorMutch commented on #32
Closing as this seems to be resolved by #383 and other related work.

[2017-12-04 02:39] #32 closed

[2017-12-04 02:40] TaylorMutch commented on #135
@jackiekazil Closing this as we now use readthedocs for documentation.

[2017-12-04 02:40] #135 closed

[2017-12-04 02:43] TaylorMutch commented on #233
Closing now that PRs #310 and #383 are merged.

[2017-12-04 02:43] #233 closed

[2017-12-04 02:45] TaylorMutch commented on #117
This looks to be resolved by #376. Closing.

[2017-12-04 02:45] #117 closed

[2017-12-04 14:59] claywrc commented on #419
Will do.  I'm going to be working on this a lot this week, so I will give these a try.  Thanks!

[2017-12-04 16:41] TaylorMutch commented on #420
Closing now that #429 is merged.

[2017-12-04 16:41] #420 closed

[2017-12-06 13:26] Corvince commented on #15
Closing this since #388 was merged

[2017-12-06 13:26] #15 closed

[2017-12-06 20:15] TaylorMutch commented on #419
@claywrc  Since I haven't heard any issues, I will close this issue. The bug fix branch, #436, has been merged into master.

[2017-12-06 20:16] TaylorMutch commented on #415
Closed #415.

[2017-12-06 20:16] #415 closed

[2017-12-06 22:14] claywrc commented on #419
Sorry for the slow response.  Work on the updating the modular_template layout has slowed me down.

I just updated to the latest mesa package and still no slider bars when using IE.  I've pretty much just defaulted to using Chrome.

Also - regarding the modular_template - nothing I changed in that file was showing up on the visualization, so I got to the point where I just deleted it (expecting it

[2017-12-06 22:16] claywrc commented on #419
I should rephrase - I see where modular_template.html is being referenced, but since deleting it didn't make a difference, is that reference being overridden somewhere in the javascript?  Maybe in the bootstrap files?

[2017-12-07 03:33] TaylorMutch commented on #419
@claywrc What version of IE are you using?

As far as the modular_template changes not being reflected in the browser, could you check if you have a local install of `mesa` included in your Python packages? I.e. Did you `pip install mesa`? If so, it's possible you might be calling that install's `modular_template.html` instead of the cloned repo's copy. If you're running a Python environment where

[2017-12-07 03:42] TaylorMutch commented on #419
@claywrc One issue you might be running into is that the current release of Mesa on PyPi does not include the fix for Edge. I just tested the bleeding edge repo and the fixes seems resolved in IE 11. You can try this by installing the master branch via `pip install git+https://github.com/projectmesa/mesa`.

[2017-12-07 09:51] hannantahir commented on #435
I have tried to install the up to date mesa version from git but still missing NetworkModule.  Any update on this?

[2017-12-07 14:30] claywrc commented on #419
I did pip install mesa, but I went as far as deleting the local copy, and it didn't seem to matter, so that would suggest that it I am using the cloned-repo copy, correct?  This is where I'm pretty naive when it comes to developing from Git repositories, but I want to be able to edit my files locally and see those changes in my aplication (locally), so pip-installing and editing the local files sh

[2017-12-07 16:05] TaylorMutch commented on #422
Closing as #423 has been merged.

[2017-12-07 16:05] #422 closed

[2017-12-07 16:25] TaylorMutch commented on #298
Cleaned up a bunch of stale branches. Closing #298.

[2017-12-07 16:25] #298 closed

[2017-12-07 17:33] claywrc commented on #419
OK - I think I figured out what was going on, and I apologize for the confusion.  There were multiple installs of mesa in very different places on my machine (I'm still not sure how that happened).  The one that I had been trying to modify was not the one associated with my PATH variable, and so whatever I was doing there didn't matter.  Now that I know where the files are that ARE being called, I

[2017-12-07 17:34] claywrc commented on #419
Given the above, I'm going to close this issue and I'll open a new, more specific one if I have additional problems with the slider bars or layout.

Thanks again.

[2017-12-07 17:34] #419 closed

[2017-12-08 06:46] TaylorMutch commented on #419
@claywrc Thanks for updating! Glad you were able to figure it out.

[2017-12-08 06:56] TaylorMutch commented on #416
@narc98 What version of Mesa were you using that experienced this issue? I seem to be unable to recreate the blinking visualization you recorded. Note that #415 should be resolved at this point as well on Mesa's `master` branch.

[2017-12-14 10:01] #410 closed

[2017-12-21 16:17] Corvince opened #441 "[Enhancement] Easier Visualization"
Hey there,

I think the mesa visualizations are quite neat, but are a bit clumsy to set up. I don't know what the exact problem was, but when I created my first chart viz I struggled quite a bit. I think this was partly because the set-up is quite un-pythonic. When I finally managed to get it to work, I was underwhelmed. Nothing I couldn't have done with matplotlib in less then 5 minutes.

Therefo

[2017-12-22 02:24] kevintoy opened #442 "mesa automatically installed to python 2.7 folder instead of python 3.4 folder"
Hi,

I had some trouble configuring my ubuntu system and eventually was able to install mesa. However, all the relevant packages seemed to be installed to the python 2.7 folder instead of python 3.4 folder and as a result I can't import mesa in python 3.4. I was able to import mesa in python 2.7 but due to the syntax differences the example code would run properly. Could someone provide me with so

[2018-01-01 05:49] jackiekazil opened #444 "Discuss PyCon & Scipy 2018 Plans"
Hello all -- who is going to [PyCon](https://us.pycon.org/2018/)? Is anyone staying for the sprints? If you are, please post, so we can discuss specific things to focus on during the sprints this year. -Jackie

[2018-01-01 16:28] dmasad commented on #442
Hi Kevin,
I think that if you have both Python 2 and 3 installed, and you want to use the global package folders (as opposed to virtual environments), you need to install packages with `pip3` (see e.g. [here](https://askubuntu.com/questions/412178/how-to-install-pip-for-python-3-in-ubuntu-12-04-lts)).

Another alternative is to create a Python 3 [virtual environment ](https://realpython.com/blog/p

[2018-01-05 04:00] jackiekazil opened #447 "Fix Travis build"
@dmasad -- can you post the tickets that needed to be addressed on this?
During our convo today, you mentioned this one: https://github.com/projectmesa/mesa/pull/445
Wasn't there another one as well?

[2018-01-05 04:30] jackiekazil opened #448 "Create Mesa packages tab in docs"
- [x] Create Mesa packages tab in docs & write baseline for how to create a package in Mesa. (@tpike3)
- [x] Create wiki page to list 3rd party packages that folks have written.
- [x] Make sure there is a link from the mesa packages tab to the list of packages in the wiki.

... One day, we will have a proper place, but for now, we just don't have the content to justify it.

[2018-01-05 19:55] BalazsHoranyi opened #449 "Minor Syntax fix for space.NetworkGrid class"
Hi there,
I was going through the `boltzman_wealth_model_network` example and noticed that there was a minor syntax error that was causing it to error out.

    def __init__(self, G):
        self.G = G
        for node_id in self.G.nodes:
            G.nodes[node_id]['agent'] = list()`

should be

    def __init__(self, G):
        self.G = G
        for node_id in self.G.nodes():
            G.n

[2018-01-05 20:05] cauemello commented on #449
Hi,
Maybe you are using NetworkX 1.X instead of 2.0 version.
We have updated Mesa code to the new version, which uses G.nodes instead of G.nodes(). You can see it here: https://networkx.github.io/documentation/stable/release/migration_guide_from_1.x_to_2.0.html

Try updating the NetworkX library in your machine.

Thanks for the feedback.

[2018-01-06 21:06] jackiekazil commented on #447
The travis build seems to be working for now after I re-ran it, so I am closing this for now. Please reopen if it is not fixed OR file another ticket.

[2018-01-06 21:06] #447 closed

[2018-01-06 21:08] jackiekazil commented on #449
@cauemello maybe we should explicitly add the version that to the requirements file? do you want to or should I?

[2018-01-06 22:15] cauemello commented on #449
I did it already in requirements.txt:
https://github.com/projectmesa/mesa/blob/master/requirements.txt

[2018-01-07 05:07] jackiekazil commented on #449
I see you did. :-) I was looking at this -- https://github.com/projectmesa/mesa/blob/master/examples/boltzmann_wealth_model_network/requirements.txt.

I guess since networkx is a mesa requirement, we can remove that from the boltzmann reqs?

[2018-01-07 14:54] BalazsHoranyi commented on #449
Gotcha, Sorry for not taking a look at the requirements.
Thanks for the help.

[2018-01-07 15:31] cauemello commented on #449
@jackiekazil
I think so, and also from virus_on_network requirements. Can you do this, please?

@BalazsHoranyi
Thank you for the feedback. I’m glad I could help.

[2018-01-07 15:36] cauemello commented on #362
@dmasad and @jackiekazil, I think this has been addressed already.

[2018-01-07 21:21] jackiekazil opened #452 "Clean up requirements in model files"
This ticket supersedes #449.

We have a problem with requirements in the main [Mesa requirements file](https://github.com/projectmesa/mesa/blob/master/requirements.txt) and duplicated in the [model requirements files](https://github.com/projectmesa/mesa/blob/master/examples/bank_reserves/requirements.txt).

I am thinking we should do a sweep of all the examples and remove the duplicates.
However,

[2018-01-07 21:21] #449 closed

[2018-01-07 21:21] jackiekazil commented on #449
See #452 ... I started to look at it and it is a bigger clean up. :-)

[2018-01-07 21:39] jackiekazil commented on #362
Yes. Ty!

[2018-01-07 21:39] #362 closed

[2018-01-07 21:59] jackiekazil commented on #358
This has been fixed!

[2018-01-07 21:59] #358 closed

[2018-01-09 01:15] dmasad commented on #412
Merged!

[2018-01-09 01:15] #412 closed

[2018-01-19 11:08] wesselklijnsma opened #454 "[Bug report] Setting iterations greater than 1 in Batchrunner has no effect"
If the iteration parameter for a Batchrunner is greater than 1, the model will immediately reach max_steps after one run of a parameter combination. This is because the model is initialised once per parameter combination.  See code below (from run_all() in batchrunner.py):

[code]

I think moving the model initialisation to the inner loop would be a solution to this problem. See code below:

[code

[2018-01-19 20:48] Maarten-vd-Sande opened #455 "[Feature Request]: Multiprocessing BatchRunner"
The current implementation of BatchRunner.run_all() 'spawns' only a single process for all the different iterations and parameter combinations. By implementing the function in a multiprocessing approach, modern computers can fully leverage their multiple processors.

[2018-01-20 03:32] #424 closed

[2018-01-21 21:46] Moody1021 opened #457 "[Feature Request]: Agent data on mouse over visualization"
Is it possible to bundle agent data into the web browser side json so that when I mouse over an agent I can view that agent's data? Seems like it would mean adding some more fields to the portrayal method to include data that would only available on a mouse over. And of course javascript code to display that data on a mouse over. I don't know if the performance penalty would be too great? This wou

[2018-01-24 15:38] WouterVrielink opened #458 "[Bug report] iter_neighborhood() gives incorrect neighborhoods for both von Neumann and Moore"
Moore's neighborhood is defined as:
![Moore neighborhood](http://mathworld.wolfram.com/images/equations/MooreNeighborhood/NumberedEquation1.gif)
Or see [this link](http://mathworld.wolfram.com/MooreNeighborhood.html) for a more complete explanation.

In the code however, it is calculated by excluding everything that is outside the Euclidean distance:
[code]
This can be corrected by just removing t

[2018-01-25 18:45] ericmjl opened #460 "Is it possible for an agent to know the current model global timestep?"
The use case I'm thinking of is this: I have agents stepping through various stages in a model, and I'd like to record the "global" time that one agent moves from one stage to the next. I was thinking of recording this data in the Agent's object definition - is this the recommended way to do so? Or should I do it in the Model object definition?

[2018-01-26 09:07] Maarten-vd-Sande commented on #460
Take a look at the docs of [scheduler](https://github.com/projectmesa/mesa/blob/master/mesa/time.py). Maybe you can use the steps/time attribute of your scheduler?