[2020-01-23 23:33] #784 closed

[2020-01-25 16:17] nathanvdlei opened #787 "BatchRunnerMP raises pickle typeError"
**Describe the bug**
Using the BatchRunnerMP.run_all() function results in a pickle TypeError:

I suspect the bug is in the multiprocess module. Updating pickle, mesa, multiprocess dill etc did not solve the problem.

**Additional context**
Python 3.7.3
Working in jupyter notebook
OS: Windows 10
Intel Core i7-8565U Processor

Full stacktrace:
-------------------------------------------------------

[2020-01-26 19:26] dmasad commented on #787
It looks like for some reason `dict_values` (which get returned when you call `.values()` from a dictionary) aren't pickleable (and my understanding is that `multiprocessing` uses pickles to pass objects around). Is there anywhere in your code where you're assigning dictionary values to something? If so, try wrapping it in a `list` -- e.g. `my_var = list(my_dict.values())`

[2020-01-30 15:01] LDovic opened #789 "User controlled agent"
**What's the problem this feature will solve?**
I am trying to make a game using a python based ABM for a project. Mesa is a great tool and I want to continue using it. However, from what I can see there are no features that would enable a user to control one particular agent from the command line or GUI, which is essential for my project.

**Describe the solution you'd like**
I would like (1) to

[2020-01-31 20:06] rebeccadavidsson commented on #789
I think it won't be that hard to implement yourself. For example, the step() method of mesa could be used to check for input.  An example could be:

[code]

But I definitely agree that this would be a great feature!

[2020-02-01 17:59] #754 closed

[2020-02-03 14:23] nathanvdlei commented on #787
I do not believe that any of the parameter in our model cause the problems. We do not seem to implement any dictionaries, except for defining the DataCollector parameters. The problem seems to occur with the  `fixed_params` and `variable_params` and `model_reporters`,  which are arguments to `BatchRunnerMP` These three are all dictionaries. The 'trick' described of transforming to a list does not

[2020-02-03 20:13] LDovic commented on #789
ok thanks I'll try it

[2020-02-07 01:57] #610 closed

[2020-02-09 15:37] rebeccadavidsson opened #795 "Optional title in ChartVisualization modules"
#### Add an attribute to the chart visualization modules that gives the ability to add a title to the plots.
Hereby changing the module input and js side of the charts. This will help multiple different charts to be clearer.

[2020-02-10 18:18] LDovic commented on #789
Thanks, I've managed to implement something very basic. Do you know if anyone has combined mesa with pygame before? I think somewhere down the line I will need to do this.

[2020-02-16 21:33] nadaa opened #797 "agent_reporters in BatchRunner"
The error appears when I use agent_reporters with BatchRunner
[code]
I got this error:
" agent_record[var] = getattr(agent, reporter)
TypeError: getattr(): attribute name must be string"

Any suggestion on how to solve it?

[2020-02-17 13:49] tpike3 commented on #797
What is your a.agentvar referring to?

I believe since you are not using the Datacollecter and just want a specific agent attribute if should mirror the tutorial instead https://mesa.readthedocs.io/en/master/tutorials/intro_tutorial.html#batch-run
`
batch_run = BatchRunner(model,
                        iterations=2,
                        max_steps=10,
                        model_reporters = {

[2020-02-26 07:37] rithwikjc opened #798 "Make mesa scalable!"
**What's the problem this feature will solve?**
Currently mesa is a great tool for visualizing and studying ABMs (and the best in python), but in my experience it like other tools I've tried prevents us from taking full advantage of ABMs. For this what is required is scalability. ABMs are currently a hot area of research, to make sure Mesa doesn't die out, mesa should be able to deal with
 - Large

[2020-02-26 21:31] iuvbio opened #799 "Decimal support in visualization"
**What's the problem this feature will solve?**
Allow parameters and model values to be of type `decimal.Decimal`.

**Describe the solution you'd like**
The reason this is currently not possible is that `tornado.websocket.WebSocketHandler` uses `json` which cannot handle `Decimal`. There's an [issue](https://github.com/tornadoweb/tornado/pull/1475) in tornado for that and they suggest to just writ

[2020-02-27 09:58] Corvince commented on #798
Hey there,

first of all if you *really* want to scale up ABMs I think Python is the wrong modelling language. That said I fully agree that the "cost of mesa" should be as small as possible. From my experience there are several performance gains for the `Grid` implementation and I am currently working on a different implementation of them.

For the datacollection I don`t see an urgent problem. If

[2020-02-27 12:31] jackiekazil commented on #798
@rithwikjc to add to @Corvince's comments...

Any chance you can create a "hello world" like model that illustrates the break down? We have heard various feedback here and there, but have never had a model illustrate it. This would be helpful. (Or maybe modify one of the models in the model folder?)

RE: Datacollector updates -- I could see that. (I think our issue is that we have a lot of things

[2020-02-27 12:32] jackiekazil commented on #798
Also... probably not what you are looking for, but BatchRunnerMP is a mult-processing class for running batches.

[2020-02-28 08:21] MartijnBloothoofd opened #800 "Mesa visualization with spyder IDE"
I am following the advanced tutorial and trying to experiment with visulisation. I copied the code as is in the tutorial. I got the visualization as shown in the tutorial, but it is not able to update. I use the Spyder IDE form which I ran the script. Any idea what can cause this problem?

[2020-02-28 14:11] MartijnBloothoofd commented on #800
---------------------------------------------------------------------------
RuntimeError                              Traceback (most recent call last)
<ipython-input-10-1a0f1200ebeb> in <module>
     19                        {"N": 100, "width": 10, "height": 10})
     20 server.port = 8709 # The default
---> 21 server.launch()

~\AppData\Local\Continuum\anaconda3\lib\site-packages\mesa\visualiza

[2020-02-28 14:35] #800 closed

[2020-03-05 08:54] Corvince commented on #798
RE: Parallel Processing -- At first glance multiprocessing seems like a natural fit for ABMs since a lot of the tasks of the agents could theoretically be done in parallel. However, the interesting aspects of ABMs (and where they differentiate themselves from other models) comes from the interaction of agents. And this is known to be tricky to be done in parallel. And I don't think it is usually w

[2020-03-05 09:57] rithwikjc commented on #798
Hey @Corvince

Just curious. Which language would be suited for something like ABM with lets say agents in the order of 100s and time steps in the order of millions? Since the interactions have to happen sequentially in the population I don't see how a different language can really improve things in many cases.

Indeed, it was a memory error. 😄
Agreed, I am currently using my own data writing func

[2020-03-05 09:59] rithwikjc commented on #798
@jackiekazil

Sure, makes sense. I would retract my suggestion to improve the parallel processing part for now. 😄
And I get the issues with the contributions. I'll try to help. What exactly did you mean by this? What do you mean by the breakdown?

[2020-03-05 10:01] rithwikjc commented on #798
@Corvince Thanks, I've wondered about this.

[2020-03-07 20:04] Corvince commented on #798
Just to put the amount of work it requires for a user/modeler and the amount of work it would require for mesa developer into perspective:

As a modeler, I would do something like this:

[code]

That is exactly 4 lines of code. However, there are several design decisions I took that might not work for everyone or are unsafe. Let`s go through the lines

[code]
I want to output every 1000 steps. Obv

[2020-03-07 20:24] Corvince commented on #798
If you want to save the "real" state of a model this is actually the only (very easy) way to do so!
Simple enough:
[code]
This also happens quite fast and later you can do
[code]
And you can continue your model from the saved state (just continue with `model.step()`. I think if you have your model running 1e6 steps it is quite advisable to save your complete state so you don't have to re-run every

[2020-03-09 10:46] clort81 opened #801 "Mesa: Name Broken"
Your project name conflicts with mesa, the opengl/gles implementation.

Please change it.  Thank you.

[2020-03-09 16:23] dmasad commented on #801
Is there a specific set of packages where you're hitting a conflict? In general since Mesa is a Python library and Mes3D is a C/C++ project we haven't encountered any confusion or conflicts.

[2020-03-13 01:28] #801 closed

[2020-03-21 06:28] gzgracez opened #803 "Advanced Tutorial #elements"
**Describe the bug**
In the `HistogramModule` JS, the Advanced Tutorial currently appends the `canvas` to `body`, instead of the `#elements` div. This means that the histogram element does not behave like the other visualization elements: it is always at the bottom of the page (i.e., it does not respect the order of the elements passed into `ModularServer`) and fills us the width of the page inste

[2020-03-22 22:48] pmbaumgartner opened #805 "Introductory Tutorial Issues"
Hey Mesa team -

I spent the last weekend going through the basic tutorial and working my way through creating some models. As I went through the tutorial, I noticed a few places where I think the clarity of instruction could be improved. I'm just going to list my points below.

1. **How do users get the requirements.txt**? There's instructions on how to access it, but should they clone the reposi

[2020-03-23 01:32] #803 closed

[2020-03-23 01:48] dmasad commented on #805
Thanks for doing a deep dive and documenting the issues -- that looks really helpful! Hopefully we'll be able to go through and fix those quickly.

If anyone is looking for low-hanging fruit, fixing any one of those is probably fairly quick and easy. Putting them into a check-box list, which we can update as individual issues are fixed.

- [ ] How do users get the requirements.txt?
- [ ] MoneyMode

[2020-03-23 10:14] Corvince commented on #805
Awesome work! That is a very reasonable and actionable list. New to programming or not, the basic tutorial should really just work when you follow it and not require any guess-working!

[2020-03-23 12:11] pmbaumgartner commented on #805
If I get time this week, I'll make a PR for any of the documentation issues. I think the only item on the list that's a code-based update would be Item 6 with changing the `moore` argument to something like `diagonal`, which I'm not sure is inline with what the maintainers want for the library.

[2020-03-23 12:44] pmbaumgartner commented on #798
I'm going to add a few thoughts on here based on my brief experience with Mesa.

1. Has there been any profiling done in the mesa codebase? Or are there plans to make profiling tools available for models? I ask because as a beginner, it was hard for me to understand which parts of the code were taking the longest time and why. In practice, it was always the `get_agent_vars_dataframe`, but I'm not

[2020-03-24 14:16] Corvince commented on #798
Thank you for your feedback!

1. That sounds like a good addition for the "useful snippets" section of the docs. It's a bit dangerous since it might encourage premature optimizations, but can also be a good way to identify bottlenecks.
In your case btw I guess you are frequently creating a dataframe (every step?). Maybe it is sufficient to do this after the model has finished?
2. I don't know if t

[2020-03-24 17:04] KubiK888 opened #806 "Key bug in the Virus on a Network example."
**Describe the bug**
Hi Mesa developers. When examining the behaviour of the virus spread step-by-step, sometimes the infected agent not only can infect the immediate neighbors, but also the neighbors of the immediate neighbors, and sometimes further beyond.

**Expected behavior**
The infected agent should **only** infect its immediate neighbors.

**To Reproduce**
Go to the example [URL](https://g

[2020-03-24 18:42] Corvince commented on #805
Looking forward to that PR!

RE: `moore` vs `diagonal`. I see two issues with `diagonal`

1. It might be equally confusing, since it is not clear if it means also the diagonal or only the diagonal
2. Calling it diagonal is only meaningful for a radius of 1, if you compare [moore and von neumann for larger radii](https://www.researchgate.net/figure/The-two-most-common-neighborhood-structures-are-th

[2020-03-25 08:04] hzyrc6011 opened #807 "Slow when looking up list Grid.empties."
I tried to create a 500*500 Grid in my project. However it performs poorly when moving agents.
I found it consums a lot when calling _place_agent() and _remove_agent in class Grid because both of them should look up in a great list, 250,000(500*500) in length.
How about convert this list to a set()?
Maybe there are better ways to avoid this slow-running bug.  Could you please  tell me that?Thankyo

[2020-03-25 09:45] Corvince commented on #807
yes, converting from a list to a set was the way to go, this has already been done, but unfortunately not yet released. Try installing the latest version from GitHub via `pip install -e git+https://github.com/projectmesa/mesa#egg=mesa`

[2020-03-25 10:47] Corvince opened #808 "Issues with the Grid implementation"
I have been poking around the grid classes for some time now and finally want to list all of the issues I have found so far (roughly going from minor to major).

1. Class docstring doesn't mention the `empties` property
2. Class docstring for methods provide a confusing order
5. Docstring of `move_to_empty` is wrong for MultiGrids.
6. `position_agent` docstring mentions `swap_pos`, but this functi

[2020-03-26 22:30] KubiK888 commented on #806
Upon, further examination, perhaps it is sometimes  an intended consequence? Such that the first node infect some neighbor nodes, and if the neighbor nodes happen to activate after the first node, then it may go through the try_infect_neighbors() itself, which may in terms lead to infection of its further neighbor nodes. If someone can confirm, it will be greatly appreciated.

[2020-03-27 02:29] #806 closed

[2020-03-27 08:43] #807 closed

[2020-03-29 14:04] tpike3 commented on #805
I am working on it, I should have a pull request ready in the next few days.

[2020-03-29 14:21] pmbaumgartner commented on #805
Awesome, I didn't get a chance to get around to this and I'm glad it's been picked up.

[2020-03-30 05:16] hoyeoplee opened #812 "[NetworkGrid] change G.node to G.nodes"
I recently run the "Virus infection example."
However, it not works!

My networkx version is 2.4, and there doesn't exist method "G.node" anymore, instead there is a "G.nodes."
When replace the "G.node" to "G.nodes" in space.py (line nos. 812, 817 of public version), it works.

So, I recommend changing the code of the next version for the compatibility of recent networkx version.
Thanks  for readi

[2020-03-30 11:33] akbaritabar commented on #812
Same here (with "boltzmann_wealth_model_network" and "virus_on_network" examples), changing space.py solved it. I was going to submit a pull request with the change mentioned above, while I thought maybe maintainers would like to keep backward compatibility with earlier networkx versions?! Otherwise I will happily submit.

[2020-03-30 11:41] tpike3 commented on #812
This is due to an upgrade in Networkx, if you install from the git repository

`pip install -e git+https://github.com/projectmesa/mesa#egg=mesa`

then you will not have this issues. I think the repo will be pushed to PyPi before too long, to correct this.

[2020-04-01 06:04] rithwikjc commented on #798
Thank you @Corvince for the very elaborate comments. These are surely helpful. In fact I am using something like,

you mentioned to limit the data writing. I also understand the trade-off between complexity and learning-curve/ease-of-use. However I felt that if mesa is to be used for research purposes, it is better to have much more scalability built into it, as optional features. But I understand

[2020-04-02 11:36] wouter-duchateau opened #813 "Frames per second slider"
Hi everyone,

I don't know whether this is the right channel to post a question in but I am fairly new to Mesa and wanted to ask whether (and how) it is possible to increase the fps further than 20.

I am trying to model kinematics for robots moving in a grid environment by linearizing different 'maneuvers' (accelerating, decelerating, turning,...), this means that moving one cell can require seve

[2020-04-02 13:09] Corvince commented on #813
This is currently not so easy to do, you would have to change the runcontrol JavaScript file of mesa directly.
However one handy hack is to set the fps to 0, which actually causes the visualization to run as fast as possible.

 Let me know if this is good enough for your, otherwise I can look up and tell what exactly you have to change (I'm on mobile right now)

[2020-04-02 14:21] wouter-duchateau commented on #813
That indeed solves it for now, thank you!

[2020-04-02 14:21] #813 closed

[2020-04-02 18:47] snunezcr commented on #798
I second the spirit of the starting post. My recent efforts to provide a reasonable model for COVID-19 require representing a large number of agents to make it realistic.

https://github.com/snunezcr/COVID19-mesa

While I understand Python may not be the best tool > 10^5 agents, there may be significant opportunities to utilize multiprocessing libraries.

[2020-04-04 15:42] Corvince commented on #798
Hi @snunezcr thanks for your feedback and sharing your model. It looks very interesting.

I took a look at the performance of your model and I actually don't see any model slowness caused by mesa. It runs relatively slow, because you are generating a lot of random numbers, which is rather expensive (especially in a setting where you only generate a lot of single numbers, i.e. generating 1000 x 1 r

[2020-04-04 18:12] snunezcr commented on #798
Hello @Corvince ,

Thank you for looking into the profiling aspects of the model. This is *extremely* useful. I am surprised about the behavior of distributions in scipy as well. Did not expect that. I do worry at the back of my mind about whether the cost is related to some guarantees that ensure proper behavior of the distribution. Small experiments I have performed using your method do not indi

[2020-04-10 07:46] Lakshya3190 commented on #608
I was wondering if there is still a need for a landing page? If so I would love to work on one. The site http://econ-ark.org is a good reference.

[2020-04-13 11:00] dmasad commented on #608
@Lakshya3190 There's definitely still a need, go for it!

[2020-04-13 13:15] pancho111203 commented on #800
Hi, I'm running into the same issue. Could you tell me what you did to solve this? @MartijnBloothoofd
Thanks

[2020-04-14 20:30] #812 closed

[2020-04-16 12:58] jjgomezcadenas opened #816 "Bug in wolf_sheep example (test_random_walk.py)"
**Describe the bug**
 Running test_random_walk.py results in a failure

Traceback (most recent call last):
  File "test_random_walk.py", line 81, in <module>
    viz.step()
  File "/Users/jjgomezcadenas/Projects/Development/src/mesa/mesa/visualization/TextVisualization.py", line 57, in step
    self.model.step()
  File "test_random_walk.py", line 53, in step
    self.schedule.step()
  File "/Users

[2020-04-16 15:03] DoofCoder opened #817 "Error in section "Adding the scheduler" in the tutorial"
In the third paragraph, it says: "Every agent is expected to have a step method, which takes a model object as its only argument – this is the agent’s action when it is activated." However, in all the implementations the Agent's step method takes self as a parameter, not a model object. Is that phrase correct?

[2020-04-17 05:09] sd235634 commented on #806
Hi,I was confused by this before I found it was caused by the method 'RandomActivation' which would activate the agents in random order.
Use SimultaneousActivation instead and activate agents at the same time, it do works.

[2020-04-17 13:51] KubiK888 commented on #806
I realized the situation described in my original post was not intended with the activation pattern used, so I closed the issue. I did try your suggestion with using SimultaneousActivation but it didn't change anyway. Mind showing how you apply that activation in the virus on network or other example?

[2020-04-17 13:57] KubiK888 commented on #806
I realized the situation described in my original post was not unintended, so I closed the issue. I did try your suggestion with using SimultaneousActivation but it didn't help. It actually made it worse, as more agents beyond the immediate neighbor connections are infected. Can you please show how you apply that activation on the virus on network or other example?

[2020-04-18 02:31] sd235634 commented on #806
[code]

[2020-04-18 02:38] sd235634 commented on #806
more examples can be found in \examples\color_patches\color_patches\model

[2020-04-18 14:48] jjgomezcadenas opened #818 "Bug in SugarscapeCg when using non square grids"
**Describe the bug**

In Class SugarscapeCg

When placing the "ants" at random in the grid

            x = self.random.randrange(self.width)
            y = self.random.randrange(self.height)

            self.grid.place_agent(ssa, (x, y))

Notice that x can take values up to self.width but the grid is defined with x taking values up to self.height. This causes an error when using non square grid

[2020-04-18 18:24] dmasad commented on #817
Good catch, thanks! Yes, that phrasing needs to be fixed.

[2020-04-25 02:01] jackiekazil commented on #638
@rht - it is still in progress. Won't be done anytime soon, b/c I have two queued before it. (Maybe we should stub out in docs first to help others, then I can do the more in depth paper later?)

[2020-04-25 02:02] jackiekazil commented on #759
To make sure we are looking at the same thing, can you share the following...
1. link the to netlogo model
2. link to the Mesa model
3. link to the google group conversation

[2020-04-25 02:15] jackiekazil opened #819 "Push new Mesa release"
Wee are overdue for an official release. Before I push one, does anyone have anything that really want to try to get in or should I just tag and release?

Discuss.

[2020-04-25 19:03] Corvince commented on #819
I am fine with the current state and in full support for a new release!

[2020-04-26 02:29] jackiekazil commented on #816
Ty for the submission. I submitted a PR to fix this.
Feel free to submit a PR directly. We appreciate contributions!

Closing this ticket in lieu of the PR at #821.

[2020-04-26 02:29] #816 closed

[2020-04-26 05:42] sd235634 commented on #657
agree,I'm looking forward to see examples using StagedActivation,thanks

[2020-04-26 14:08] estshorter opened #822 "Add a build-recipe to conda-forge"
It would be great if mesa can be installed via [conda](https://docs.conda.io/en/latest/) because it is a useful package/environment management system, especially on Windows.
So I'm planning to submit a [build-recipe](https://github.com/estshorter/staged-recipes/blob/mesa/recipes/mesa/meta.yaml) to [conda-forge](https://conda-forge.org/#contribute) as a pull request.

My questions are:
1. Is it OK

[2020-04-27 02:14] jackiekazil commented on #822
This sounds like it is a great idea, but I am less familiar with it. I have a few questions, and I can't seem to find docs to explain them to me.

To start...
1. What does it mean to be a build-recipe?
2. What does maintenance of this look like? (If that updating every time we do a release?)

_Also, feel free to point me to some docs on this if you know where some are._

[2020-04-27 02:44] estshorter commented on #822
1. To my understanding, a build recipe is similar to setup.py or Pipfile. The difference is that it is for conda. (I hope this answers your question...
2. Please see this [page](https://conda-forge.org/docs/maintainer/updating_pkgs.html#pushing-to-regro-cf-autotick-bot-branch). What we should do after release is only accepting PR from a bot.

[2020-04-29 01:21] estshorter commented on #822
I just submitted a PR to conda-forge.
https://github.com/conda-forge/staged-recipes/pull/11408

Please let me know if you have any problem or question.

[2020-05-01 03:33] jackiekazil commented on #822
Thank you @estshorter ... how does one get added as a maintainer?
(Can you add me & @dmasad? ... Not sure I can submit a PR to add myself.)

[2020-05-01 05:09] estshorter commented on #822
I added @jackiekazil  and @dmasad as  maintainers!

[2020-05-01 13:25] #822 closed

[2020-05-02 00:33] mauricepoirrier commented on #798
Hey @Corvince

New around here but I think that I can take a function that does that. Would you recommend something to take into account?

[2020-05-02 04:59] Corvince commented on #798
There has been some initial work by @dmasad on this thread:
https://groups.google.com/forum/m/?utm_medium=email&utm_source=footer#!msg/projectmesa-dev/5U6x3vVFwR4/x2NUF8pYAgAJ

There is a link to a GitHub gist and note my improvements in the first reply (you can ignore my other comments cheering on a non-existent solution).

Apart from that, I think the most difficult thing is to decide if and whe

[2020-05-02 22:57] mauricepoirrier commented on #798
@Corvince The link does not work. Could you link it again or paste the gist and your comments here?

[2020-05-03 02:25] jackiekazil commented on #822
Thank you @estshorter!

[2020-05-03 12:24] Corvince commented on #798
Oh the link only works if I am logged in. You can search for "data collection profiling" [here](https://groups.google.com/forum/?utm_medium=email&utm_source=footer&nomobile=true#!forum/projectmesa-dev)

Direct link to the gist:
https://gist.github.com/dmasad/ea6416772a66601e2eddd1ee379da46b

My changes:

[code]

[2020-05-05 03:52] jackiekazil opened #825 "Fixing pending issue in code snippets leftover in PR"
See: https://github.com/projectmesa/mesa/pull/669#pullrequestreview-240758815

[2020-05-05 04:18] ChanakyaBandara commented on #542
When i try to

its start the Interface, But gives an NotImplementedError.
<img width="846" alt="Capture" src="https://user-images.githubusercontent.com/44600363/81034675-8d5b0a00-8eb5-11ea-997e-068c7ef793e1.PNG">

[2020-05-05 04:33] jackiekazil commented on #819
@Corvince, can you do a preliminary skim of changes in the diff file in the WIP PR  (#826) for the release?
(Feel free to comment OR to contribute to the branch directly.)

[2020-05-05 04:34] jackiekazil commented on #819
Also... there is a lot... I didn't realize we didn't have a release since last year :gulp:

[2020-05-05 12:16] giacrava opened #827 "Typos error in epstein_civil_violence example Jupyter Notebook"
**Describe the bug**
There are some minor typos in the Jupyter Notebook Epstein Civil Violence.ipynb in the epstein_civil_violence example that give errors when run.

I'll try to fix it now with a pull request, it's my first time contributing on GitHub so if I do something not in the right way just let me know!

[2020-05-05 17:50] Corvince commented on #819
@jackiekazil I looked through it and made some very minor changes. Looks good to me!

[2020-05-05 17:55] Corvince commented on #542
Seems to be an issue with Python 3.8 on Windows and Tornado, see [this discussion](https://github.com/tornadoweb/tornado/issues/2608)

A workaround seems to be to put this into the beginning of your `run.py` file (untested):
[code]

[2020-05-06 01:48] #819 closed

[2020-05-06 01:49] jackiekazil commented on #819
@Corvince Great. I did a quick review of the small changes you made. I am going to take your review of what I did and my review of what you did and merge into master

[2020-05-06 01:57] jackiekazil commented on #819
Extra info...
Associated milestone -- https://github.com/projectmesa/mesa/milestone/20
Tagged release -- https://github.com/projectmesa/mesa/releases/tag/v0.8.7
Test upload -- https://test.pypi.org/project/Mesa/
Official release -- https://pypi.org/project/Mesa/

[2020-05-07 14:10] rht commented on #638
If I were to take an estimate, 2 papers would take 6 months to a year? IMO, it would have benefited the community to have a doc-style write up soon.

[2020-05-10 12:22] dynamicmindset opened #830 "Advanced tutorial has a broken link to list of mesa included JavaScript files"
**Describe the bug**
Link points to tutorial_update branch which does not exist anymore.

**Expected behavior**
Link should point to master branch instead

**To Reproduce**
Follow link in https://mesa.readthedocs.io/en/master/tutorials/adv_tutorial.html

**Additional context**

[2020-05-10 14:39] jackiekazil commented on #827
@giacrava, when you are done, can you submit this as a pull request?

[2020-05-10 14:41] jackiekazil commented on #827
Nm... you already did. :-)
#828

[2020-05-10 14:44] giacrava commented on #827
Yes, let me know if I followed the steps for contributing in the wrong way so next time I won't!

[2020-05-10 14:49] #827 closed

[2020-05-10 14:54] jackiekazil opened #834 "Add --no-browser as a flag to Mesa runserver"
See this comment: https://github.com/projectmesa/mesa/issues/542#issuecomment-407451872
Ty for the suggestion @devforfu

[2020-05-10 14:54] jackiekazil commented on #542
@ChanakyaBandara please let us know if that worked for you just in case others encounter that issue.

Closing this ticket, because it seems to be a hodge podge that is dragging on with no clear action needed at this time. Added #834 as a feature.

[2020-05-10 14:54] #542 closed

[2020-05-10 15:00] ChanakyaBandara commented on #542
Yaa it works , thankz a lot

[2020-05-10 15:00] jackiekazil commented on #638
Mesa paper will be coming out soon with SBP-Brims http://sbp-brims.org/2020/. But that isn't the comparison paper. That is still on my backlog with research and involves a few other frameworks as well. Totally agree with benefit. This has been slow moving, because I also work a full-time job and have a kid as well as other commitments.

I am about to give birth (currently 37 weeks pregnant), which

[2020-05-10 15:12] jackiekazil commented on #542
Awesome! Thank you so much! That comment can really help others who may encounter the issue in the future!

[2020-05-11 07:54] #830 closed

[2020-05-12 07:40] tcdejong commented on #805
@tpike3 are you still working on your PR? Or would (part of) this issue be available to other contributors as well?

[2020-05-12 10:21] tpike3 commented on #805
Should be pushed to doc build branch today and then happy to take any other improvements

[2020-05-12 12:12] tcdejong commented on #805
Ah, I didn't see  #811 was linked to this! Thank you.

[2020-05-14 12:38] bastiaanzwanenburg commented on #787
I'm struggling with a similar issue so I was wondering whether you were able to solve this, and if so, how?

[2020-05-14 13:28] nathanvdlei commented on #787
If I remember correctly we managed to use the BatchRunnerMP on MacOS, but not on Windows

[2020-05-14 14:37] tpike3 commented on #787
I was having a similar problem and after I wrapped the dict values in the list I ran into some other issues, from what I can tell based on updates to multiprocessing. I have built a variation of BatchRunnerMP which prevents this issue. The challenge it is not development ready.

In an effort to make it development ready I have attached it below.  If you are willing to try it then that will help en

[2020-05-15 08:51] chenyuyou opened #842 "bug in version 0.8.7"
**Describe the bug**

when run BatchRunnerMP in version 0.8.7,  It will report "TypeError: can't pickle dict_values objects",  however, we change version to 0.8.6, It works well.
**Expected behavior**

**To Reproduce**

**Additional context**

[2020-05-15 08:52] bastiaanzwanenburg commented on #787
Im on MacOS as well. And thanks @tpike3, I'll implement your tests into my code next week and will get back to you with the results.

[2020-05-15 10:06] tpike3 commented on #787
@bastiaanzwanenburg Great thanks! I know it works on Windows, am confident it will work on MacOS and Linux, but would like some other tests.

[2020-05-15 10:41] tpike3 commented on #842
Chenyuyou, please see issue 787. https://github.com/projectmesa/mesa/issues/787

Could you please confirm your operating system?

[2020-05-15 13:51] tpike3 commented on #805
Recommendations submitted in pull request 844. Can be viewed at https://mesa.readthedocs.io/en/doc_builds/tutorials/intro_tutorial.html

[2020-05-15 13:51] #805 closed

[2020-05-15 17:35] integzz opened #845 "please add move function in class Agent"
**What's the problem this feature will solve?**

For models like `langton ant` and other more complex model, a function of move can simplify much of work.

**Describe the solution you'd like**

The following is the codes I suppose to have:

[code]

**Additional context**

[2020-05-17 12:49] bastiaanzwanenburg commented on #845
Would this be substantially simpler than the built-in move_agent function in the model? To me, it seems that what you desire can be done quite elegantly already using, for example, the code below. However, please correct me if I don't fully understand your problem.

[code]

[2020-05-17 13:24] integzz commented on #845
Thank you for your advice. I realized I hadn't correctly described what was bothering me.
As a NetLogo user, I'm used to turtles (agents) with directional signs (like arrows), as well as its `turn` and `forward` command. So what I exactly desire is something can help to show an agent's move intuitively and visually (both direction and displacement).  It is not that important for coding, but it hel

[2020-05-17 13:51] rozenlicht commented on #667
I've chipped in by creating a PR that adds arrowheads to the D3.js visualization when `"directed": True` is added to edge in the `portrayal` dict inserted in `NetworkModule`. If this is the desired behavior, I could also code it for sigma.
As the initial issue suggested implementing a "directed virus network" example, I've included this as well.

[2020-05-18 11:50] BAFurtado commented on #787
Thanks @dmasad , I do have a dictionary of parameters that I use when I instantiate my model which is necessary to grab the correct data generation process. Do you think that might be it? When we are talking about a list of dict values, I can replace them. But how do I do it when I have to pass a dictionary of parameters? Here is the point: https://github.com/BAFurtado/home_violence/blob/b7e51b387

[2020-05-18 13:03] tpike3 commented on #787
@BAFurtado your initiation with a params dictionary should be fine. The problem is in the BathRunnerMP module when it is making all the different parameter variations and then passing to the various processors is when the issues arises. So it is a line in the Mesa BatchRunner module that will give you an error.

There are some different fixes, but right now it depends on your OS, as we look for a

[2020-05-18 13:27] BAFurtado commented on #787
Oh, thank you very much to getting back to me. [this run was on a Windows server 2012 R2 server in which I do not have admin privileges]. At home/development I use a Linux Mint Tricia 19.3. Best,

[2020-05-18 18:31] tpike3 commented on #787
On Windows there are some challenges. But if you look at my comment 4 days ago there is a hyper link to a zip file with a batchrunner_local.py and datacollection.py. I also put a link to a Mesa based COVID model that uses those identical modules, so you can pull them from there is you like and see an example implementation.

Those modules will work on Windows, but no one has tried them on a Window

[2020-05-18 21:40] majdal commented on #588
This is a very important issue, so I'll put my UX designer hat on and throw in a few thoughts:

To me, one of the most useful things about ABMs is that they facilitate communication between users.

One of the main reasons that I chose Mesa over other frameworks is that it works in the browser, which means I can make it network accessible.

If my model is network accessible, it means that it's poss

[2020-05-19 04:40] Corvince commented on #588
Very good points @majdal!

For me the visualization was always more for the modelers themselves. But in this respect rather pointless, because it is a lot of additional work to do it the Mesa way for little added benefit (compared to running batchrunner and plotting the results with matplotib or similar).

It is probably much better to view the visualization as a communication tool and in this reg

[2020-05-19 11:00] majdal commented on #588
Glad to hear that you agree :)

I'd be glad to create a mockup. I started with a few sketches, and I was trying to stick to the UI vocabulary provided by Bootstrap. However, I started hitting the limitations of the framework very quickly.

- The UI is very "bulky", with components that distract from the functionality of the model
- Bootstrap is mostly focused on layout, not on UI creation. So, mos

[2020-05-19 13:37] tpike3 commented on #588
@majdal This is great! I am all for a long term enduring solution. I have very little UI experience and as @Corvince stated I also have been more interested in BatchRunning and doing a quick viz for debugging and hadn't really thought of it as a communication tool. Although I can immediately see the benefit.

I will start looking into Foundation, UIKit and Vue.js just to get smart on them, but out

[2020-05-21 15:22] chenyuyou commented on #842
I try run BatchRunnerMP in Mac OS and Windows 10, both of them report this error.

[2020-05-22 09:59] HannahG1250 opened #847 "Money Model running error"
Hi all,

I am new to python and using Mesa. I am working through the advanced tutorial in the Mesa documentation however I get this:

/site-packages/mesa/visualization/ModularVisualization.py", line 314, in reset_model
    self.model = self.model_cls(**model_params)
TypeError: 'module' object is not callable

Has anyone encountered this error?

I have attached my code. Any help would be very much

[2020-05-22 13:33] #797 closed

[2020-05-22 17:21] Corvince commented on #588
@majdal have you seen my PR in #718? It's a rewrite if the viz module, Backend and frontend. There is a preview available on glitch: [https://four-e.glitch.me/]().

The frontend is structurally very similar, but after that I feel pretty comfortable with how the mesa front end works. And I have been going forward and backward with rewriting everything as a proper SPA. I actually wanted to start wit

[2020-05-24 12:11] tpike3 commented on #847
You import MoneyModel in two different ways with the second one overriding the first in your server.py.

In line 1  From MoneyModel import *, in line 4 you have import MoneyModel again. Delete line 4 and it should work.

Please let me know if it works so I can close this issue.

[2020-05-25 14:05] majdal commented on #588
I've been thinking about this for a few days, and there's a TON of possibilities. I'd say that we would shouldn't fall into the typical trap that us techies fall into, and create an engineering solution to a UX problem :)

So, whether we choose to build an SPA with React or Vue.js, or a lighter UX polish with UIkit, etc.. we should prioritize the user experience, conceptualizing it as a communicat

[2020-05-26 16:44] kleinrap commented on #759
I have rerun the comparison between both models just now (a year later) and I cannot find the discrepancy I had found before. So it would seem both models do match after all. Apologies for the time lost.
Either way, here is the link to the GitHub with both [model files](https://github.com/kleinrap/predationComparison) and here was the Google group [conversation](https://groups.google.com/forum/#!t

[2020-05-27 07:49] HannahG1250 commented on #847
Hi tpike3,

Thank you for getting back to me. I have amended the code when importing the money model however I am still getting the same error.

Do you have any other suggestions?

Many thanks

[2020-05-27 07:52] Alex1650 opened #848 "Setting up a proxy for bird bot"
Hi Github community, I am not sure if this is the correct place to ask but can someone show me how to set up proxies for bird bot? Thank you!

[2020-05-28 12:41] tpike3 commented on #847
Can you can you copy and paste your Tutorial.py code into a reply. I successfully replicated your error and when I made that change it eliminated the error.

[2020-05-28 13:13] tpike3 commented on #848
This is not the correct place to ask this question. This is an agent based model library.

[2020-05-28 13:13] #848 closed

[2020-05-28 16:19] HannahG1250 commented on #847
Hi tpike3 here is my code:

from mesa import Agent, Model
from mesa.time import RandomActivation
from mesa.space import MultiGrid
from mesa.datacollection import DataCollector
from mesa.batchrunner import BatchRunner

def compute_gini(model):
    agent_wealths = [agent.wealth for agent in model.schedule.agents]
    x = sorted(agent_wealths)
    N = model.num_agents
    B = sum( xi * (N-i) for i,xi

[2020-05-28 16:22] HannahG1250 commented on #847
from mesa import Agent, Model
from mesa.time import RandomActivation
from mesa.space import MultiGrid
from mesa.datacollection import DataCollector
from mesa.batchrunner import BatchRunner

def compute_gini(model):
    agent_wealths = [agent.wealth for agent in model.schedule.agents]
    x = sorted(agent_wealths)
    N = model.num_agents
    B = sum( xi * (N-i) for i,xi in enumerate(x) ) / (N*sum(

[2020-05-28 16:43] tpike3 commented on #847
When you run the visualization are you commenting out everything below the MoneyAgent Class.

starting at
` model = MoneyModel(50,10,10)`

~line 50

[2020-05-29 08:19] HannahG1250 commented on #847
Hi tpike 3,

I wasn't, but I have just tried but I still get the same error:

    self.model = self.model_cls(**model_params)
TypeError: 'module' object is not callable

It doesn't seem to like the following line:
server = ModularServer(MoneyModel,[grid],"Money Model",{"N":100, "width":10, "height":10})

[2020-05-30 16:28] tpike3 commented on #847
@HannahG1250 at this point it would probably be best to do like a Google Meet or similar. so you can do a screen share of you code and computer set up. Let me know if that works and some potential times, my email is tpike3@gmu.edu.

[2020-06-02 19:19] chenyuyou opened #849 "Improving the efficiency of saving data"
I  spend only 5 minus to run my model 10000 iteration with BatchRunnerMP function,  but  spend over 60 minus to save data. The saving data code in my model comes from  example of  "bank_reserves".

How do I improve my code to save data?

[2020-06-02 19:34] chenyuyou commented on #842
Traceback (most recent call last):
  File "batch_run.py", line 120, in <module>
    run()
  File "batch_run.py", line 108, in run
    br_df = br.get_model_vars_dataframe()
AttributeError: 'BatchRunnerMP' object has no attribute 'get_model_vars_dataframe'

[2020-06-02 23:51] chenyuyou commented on #849
I have figured out this problem

[2020-06-03 06:11] chenyuyou commented on #842
I read the source code of batchrunner_local.py, and know how to get the result. but I think adding some code to organize result data, I add pd.concat function in batchrunner_local.py as temporary solution.

[2020-06-04 18:42] tpike3 commented on #849
Thanks for the feedback. To be clear you were able to run batchrunner_local.py on both your Mac OS and Windows OS systems?

[2020-06-04 19:31] chenyuyou commented on #849
Thank you for you help !

[2020-06-04 19:32] #842 closed

[2020-06-05 21:06] tpike3 commented on #847
Identified the issue was an error running script from bash. Code worked in typical IDE.

[2020-06-05 21:06] #847 closed

[2020-06-07 07:10] NeilW opened #850 "Cookiecutter doesn't work on 0.8.7 release"
**Describe the bug**
`mesa startproject` fails after `pipenv install mesa`
[code]

**Expected behavior**
Generate the project layout

**To Reproduce**
- pipenv install mesa
- mesa startproject

**Additional context**
The cookiecutter directory from the repo is missing from the installation.
Additionally there is no help message for `startproject` when you run `mesa --help`

[2020-06-07 07:39] #849 closed

[2020-06-09 05:39] sohamxi opened #851 "Model Interventions"
Does the mesa framework as any provision of providing runtime parameters to the model as if showing the effects of interventions in the model?

[2020-06-09 05:56] sohamxi opened #852 "Model Interventions visualisation"
Does the mesa framework as any provision of providing runtime parameters to the model as if showing the effects of interventions in the model?

[2020-06-10 03:18] jackiekazil commented on #850
@NeilW Ty for highlighting this error. I believe the pull request linked in this ticket will solve the issue in the next release.

If you would like to use this feature before this next release, you can install from the github repo - `pip install -e git+https://github.com/projectmesa/mesa#egg=mesa`

[2020-06-11 18:21] ICRanger commented on #471
I get a requirement to add a password? What should I do...

[2020-06-12 02:41] jackiekazil commented on #471
@ICRanger that is the password for your laptop. That is your system asking you -- do you want to run this as 'sudo' if so, you need to authorize with your password. Search for "sudo" on the internet to learn more.

[2020-06-12 02:42] jackiekazil commented on #759
YAY! That is good news! Thank you for rerunning and providing that insight.

[2020-06-12 02:42] #759 closed

[2020-06-13 16:40] majdal commented on #808
May I add another note?

The cells in a `Grid` do not have any attributes. I understand that this is by design, but I think that a common enough use case would be that the grid is a "landscape" where agents move. A good example is the Sugarscape model, where we have Sugar agent, which is fixed in position and has various attributes. I'm working on a land use model, and each cell is a parcel with i

[2020-06-14 05:58] aidiss opened #854 "Server Tornado NotImplementedError Python 3.8"
**Describe the bug**

NotImplementedError when launching server in Python 3.8

**Expected behavior**

No error should happen

**To Reproduce**
1. Install Python3.8
2. Create a server with ModularVisualization

**Additional context**

[code]

Solution

The issue is known and documented here
https://www.tornadoweb.org/en/stable/index.html#installation

This can be solved by adding
`asyncio.set_event

[2020-06-16 13:43] shivanshseth opened #855 "API Documentation for Space module not available on readthedocs.io"
**Describe the bug**
The API documentation section in mesa.readthedocs.io is missing the Space module.
**Expected behavior**
Space module API should be accessible through readthedocs.io
**To Reproduce**
https://mesa.readthedocs.io/en/master/apis/api_main.html

[2020-06-17 07:17] NeilW opened #856 "Modular Server doesn't handle multiple connections properly"
**Describe the bug**
If you open multiple tabs in your browser to the Mesa server you still only get one model running. Altering the paramenters on one tab affects the model output on all the others.

**Expected behavior**
Each tab should run its own instance of the model. Messages from the client should be applied to
the model associated with the web socket.

**To Reproduce**
Open multiple tabs a

[2020-06-18 04:02] chathika opened #857 "Text Input"
Thanks a lot for Mesa!

Perhaps I've overlooked it, but there doesn't seem to be a way to have a `UserSettableParameter` use textual input? I want to be able to specify a file path as a model input via the visualization.

**What's the problem this feature will solve?**
Currently there doesn't seem to be a way to have textual input into model via the visualization.

**Describe the solution you'd li

[2020-06-21 11:22] NeilW opened #858 "BatchRunner: Parameter names wrong in data frame output"
**Describe the bug**
The parameter names are being combined with the wrong data items in `_prepare_report_table`

**Expected behavior**
The DataFrame would have the correct column heading for the parameter product

**To Reproduce**
- Create a variable parameter list with more than one parameter (I have 4).
- Create a BatchRunner instance
- `br.run_all()`
- `output = br.get_model_vars_dataframe() `

[2020-06-21 11:56] BAFurtado commented on #787
Hi Tom. I'd try again today (I'm running 9200 iterations and I just accidentally closed PyCharm... but then, when I copied the two files it was going to overwrite the original datacollection... Is that it? Should I proceed?

[2020-06-21 12:26] tpike3 commented on #787
@BAFurtado personally I would not overwrite mesa's datacollection module, because it is not production ready. I recommend calling it something like datacollection2.py and the just updating your datacollection lines to use that module. In the end it is really based on your preference and how you manage your environments.

[2020-06-21 12:49] tpike3 commented on #858
@NeilW Looking through the BatchRunner I am not seeing any sets only lists and dictionaries. Could you give the line(s) and module where you are seeing the set. Thanks

[2020-06-21 14:05] NeilW commented on #858
https://github.com/projectmesa/mesa/blob/master/mesa/batchrunner.py#L228

[2020-06-21 19:46] tpike3 commented on #858
@NeilW Thanks I am going to have to dig into this a little bit as this function did not change from previous versions and we have not had this issue before.

[2020-06-21 20:10] NeilW commented on #858
Replication code

[code]

Which gives here on Ubuntu 20.04

[code]

[2020-06-21 20:31] NeilW commented on #858
This would be my fix which uses the same ordering guarantee as the original dict

[code]

which gives here:

[code]

[2020-06-23 08:20] NeilW opened #859 "Visualisation web socket doesn't reconnect"
**Describe the bug**
If the web socket gets closed, the simulation stops and doesn't reset without a manual refresh of the page.

**Expected behavior**
The web socket should attempt to reopen if it gets closed

**To Reproduce**
In my case when my Mac goes to sleep and the sockets all time out in my virtual machine!

**Additional context**
May be worth switching the direct call to WebSocket to a Re

[2020-06-23 13:07] bastiaanzwanenburg opened #860 "Unreasonable amount of time spent on self.empties.remove(pos) in space.py"
**Describe the bug**
I have a grid of size 1000x700, and whenever I initialize this grid, one function that removes grid-points from the list of empty grid-points takes up about 16 seconds for 1300 calls - which is almost all of my runtime.

The line is: self.emtpies.remove(pos) inside _place_agent() inside space.py.

Does anyone have any suggestions for increasing the speed of this function?

**E

[2020-06-23 13:46] YannickJadoul opened #861 "`BatchRunner` does not accept empty or `None` as `variable_parameters`"
**Describe the bug**
When passing an empty dictionary as `variable_parameters` argument to the `BatchRunner` constructor, or when omitting the argument, Mesa throws an `AttributeError: 'NoneType' object has no attribute 'items' `.

**Expected behavior**
Since `None` is the default argument for the `variable_parameters` parameter, it would make sense that this is a valid value, supported by Mesa. I

[2020-06-25 10:07] bastiaanzwanenburg commented on #845
Now I better understand your question, that is indeed a feature that I would appreciate as well. It would be especially useful for those who are new to ABM!

[2020-06-25 10:45] integzz commented on #845
Nice to hear from you. I checked the Agents.jl of Julia and it has a good implementation  (Here is an [Example](https://juliadynamics.github.io/Agents.jl/stable/examples/flock/)). However, I prefer Python's versatility and I believe Mesa can make it too, though it may need much work to implement a more flexible version of turtle in the visualization module.

[2020-06-25 19:13] delodcyber commented on #315
![Screenshot_20200625-200018](https://user-images.githubusercontent.com/30188175/85783739-7f8c6d00-b71f-11ea-9732-bcd3472eeb55.png)

_**Pip3 install -r requirements.txt**_
It gives me same error message even when I'm in the right directory

[2020-06-26 16:06] tpike3 commented on #315
I saw this recently in a class I was giving. It seems the issue is if if you are working in anaconda or a virtual environment which is not clean you will get this error. The solutions were to do (1) pip install mesa without the requirements, (2) do requirements in a clean virtual environment so there are no conflicts.  One possible solution is to update requirements from == >= to prevent conflict

[2020-06-26 16:38] tpike3 commented on #817
Wording was improved in latest tutorial update.

[2020-06-26 16:38] #817 closed

[2020-06-26 16:45] tpike3 commented on #766
@rafaelcbfc You could insert an activation by breed as in the wolf sheep predation https://github.com/projectmesa/mesa/blob/master/examples/wolf_sheep/wolf_sheep/schedule.py.

If you want the industries to be inside a community you could also use multi-level mesa which allows for more nuanced interactions. https://github.com/tpike3/multilevel_mesa. Let me know if this helps.

[2020-06-28 13:24] tpike3 commented on #861
Merged into BatchRunner_redux

[2020-06-28 13:24] #861 closed

[2020-06-30 09:45] Corvince commented on #860
This shouldn't happen with the latest version of mesa. Can you confirm that you are running mesa 0.8.7 ? Otherwise please upgrade and try again.

[2020-06-30 09:46] Corvince commented on #855
Thanks for the bug report. The API documentation for the base module are also missing.

[2020-06-30 10:00] Corvince commented on #856
Thank you for the bug report! Could you submit your patch as a Pull Request??

[2020-06-30 10:07] bastiaanzwanenburg commented on #860
I'm using 0.8.6 as BatchRunnerMP doesn't work for me in 0.8.7 (this issue: https://github.com/projectmesa/mesa/issues/842).

I just updated to 0.8.7 to see if the model would run, however, I now get the error below. Is it something you recognize and have an easy fix / hypothesis for? If not, I will do some debugging myself.

  File "/Users/bastiaan/virtualEnvs/new/lib/python3.7/site-packages/mesa/

[2020-06-30 10:17] Corvince commented on #860
I think @tpike3 is working on fixing that problem and the issue #842 and  #787

In the meantime you could also try to apply PR #649 to your local version 0.8.6. This changed `empties` from a list to a set and should solve the performance issues

[2020-06-30 10:39] bastiaanzwanenburg commented on #860
Thanks a lot! Sorry for not spotting https://github.com/projectmesa/mesa/pull/649 earlier, that is exactly the fix I was looking for.

[2020-06-30 10:39] #860 closed

[2020-06-30 23:11] ewirth commented on #586
That branch looks dead, those geospatial file supports should be included to the main project. GeoTiff raster support would also earn a lot.

[2020-07-01 03:29] jackiekazil commented on #586
@ewirth the repo is alive. We don't included in the main project for complexity reasons. Geospatial is heavy and not everyone needs it.

[2020-07-01 09:38] ewirth commented on #586
Hmm, I think maybe you should include it in some form the main project (like extension functions).
Geospatial stuff would definitely stimulate users to use mesa (e.g., not GAMA-ABM).
I would say only two tutorials would be enough:
- Traffic simulation on city, country roads, where you read in Shapefile or GeoJSON (even better) vector data
- And something other, e.g., flow simulation, where you use

[2020-07-01 09:55] Corvince commented on #586
@ewirth I am the author of mesa-geo. Development has indeed stalled a bit, but the project is open for any contributions. There had been plans in the past to include mesa-geo under the projectmesa GitHub organization for greater visibility, but since it is still missing tests and a better documentation this has not happened yet. However, the python GIS stack is indeed quite heavy and a bit cumbers

[2020-07-01 12:14] ewirth commented on #586
@Corvince @jackiekazil
I would say, it's better to integrate it. Since now, if new people visiting the package would have easily thought that the geospatial support of the package is weak, it seems there is a two years fork without very active development. I suggest integrating it with some author contributions, e.g., who found those extension.

As you said, you are total right, the GDAL, OGR, Pro

[2020-07-02 19:47] ericmjl opened #865 "How to "simply have a reporter store the model’s entire DataCollector object"?"
In the docs page for [Batchrunner](https://mesa.readthedocs.io/en/master/apis/batchrunner.html#id1), one line gave me a bit of pause:

May I ask, is there an example of this somewhere on the docs?

If not, would anybody here be kind enough to provide an example? I would be happy to help add this to the relevant docstrings, as an example, so that others can benefit.

[2020-07-02 21:11] tpike3 commented on #865
@ericmjl If you look in the [introductory tutorial](https://mesa.readthedocs.io/en/master/tutorials/intro_tutorial.html#collecting-data) it has a clear explanation and an example under DataCollection.

Short version, inside the model step function you need to add:
`self.datacollector.collect(self)`

Then in BatchRunner you will get the whole output for each step for that particular variation of th

[2020-07-02 22:43] ericmjl commented on #865
Thank  you, @tpike3! I am going to mentally bookmark this for when I get back to my code on Tuesday. I will loop back and let you know.

Meanwhile, I think it might be helpful to add the exact line you referenced in the [Batchrunner docs](https://mesa.readthedocs.io/en/master/apis/batchrunner.html). Would you be open to a PR for this?

[2020-07-02 23:49] tpike3 commented on #865
@ericmjl  Yes, I would. Just please PR to branch BatchRunner_Redux so I can keep them all together and make sure the testing voers everything

[2020-07-04 07:35] SHSEngineering opened #866 "RuntimeError: This event loop is already running"
I've been trying to work through the advanced tutorial on the website and can't get past this runtime error.

Here is the error listing that I get...

Interface starting at http://127.0.0.1:8521
---------------------------------------------------------------------------
RuntimeError                              Traceback (most recent call last)
<ipython-input-3-4ed4a14b2c34> in <module>
     12

[2020-07-04 10:46] tpike3 commented on #866
@SHSEngineering I am making a couple assumptions here, but with Ipython which is used in both Jupyter Notebook and Spyder you have to reset the kernel to clear out the old visualization otherwise the port is still in use. For jupyter you need to clear with restart and clear outputs. For Spyder in the ipython window click the setting gear (upper right with standard config) and select restart kernel

[2020-07-04 15:53] alabrazi opened #867 "Increase Visualisation Speed"
**What's the problem this feature will solve?**
Increase the speed of time by 20 times in visualisation is not enough

**Describe the solution you'd like**
Make it possible for the user to determine the factor by which the speed of simulation run instead of 20 step slider

**Additional context**

[2020-07-04 17:25] SHSEngineering commented on #866
Thanks for the quick response.  I’ve done what you suggested on multiple occasions with the same results.  From the web research I’ve done, I get notes on an issue with asyncio and current updates to jupyter/spyder.  I just can’t seem to fix it.  Again, hoping you can provide insight.  Thanks.

Steve Unterholzner
Sent from Steve's iPhone

[2020-07-05 17:33] dmasad commented on #866
There seems to be a known issue with tornado and the newer version of Python, but I need to look into the details (and try to reproduce it on my own). Have you tried running the same code outside of Spyder/Jupyter via a plain .py file? If that works, the problem is probably something with how it's interacting with Spyder; if not, then it's a problem with mesa and tornado.

[2020-07-05 17:58] SHSEngineering commented on #866
When I run it as a plain .py file...I get this error

Traceback (most recent call last):
  File "C:\Users\sunte\AppData\Local\Programs\Python\Python38\MoneyModelVis2.py", line 24, in <module>
    server.launch()
  File "C:\Users\sunte\AppData\Local\Programs\Python\Python38\lib\site-packages\mesa\visualization\ModularVisualization.py", line 333, in launch
    self.listen(self.port)
  File "C:\Users

[2020-07-05 18:31] dmasad commented on #867
You can edit the `fpsControl`  object in [runcontrol.js](https://github.com/projectmesa/mesa/blob/master/mesa/visualization/templates/js/runcontrol.js#L101) to increase the maximum available frame-rate. But keep in mind that just because you set the frame-rate to 60 fps doesn't mean it will actually render that fast. Between the time it takes to run each iteration and draw it on the screen, it can

[2020-07-05 18:38] #867 closed

[2020-07-06 09:43] alabrazi commented on #867
Thanks! I figured it out. One note if someone is trying to do the same. After changing the code in runcontrol.js delete the cash in the browser otherwise Brave browser will not reflect the changes. This issue mainly happen in Brave browser but not in Safari.

[2020-07-07 20:56] Corvince commented on #865
@ericmjl
I think what the docs mean is that you need to collect the DC inside the batchrunners' model reporters like so:

[code]

This also answers your side issue: The model reporter from the datacollector collects data at every step (or rather whenever you tell him so, but normally inside the `step` function), whereas the batchrunner model reporter only collects data at the end of each run.

[2020-07-07 21:05] tpike3 commented on #865
@ericmjl Thanks! The gist link you sent is not working for me, I keep getting an error.

@ericmjl and @Corvince  That is interesting, this is actually a point I am trying work through right now as it seems my batchrunner tests are causing my data collector tests to fail and vice versa. It seems the data collector and the batchrunner don't talk which as Corvince pointed out is preventing the batchr

[2020-07-18 04:50] jackiekazil commented on #857
Ty... and yes. We need this.

[2020-07-27 17:32] drew1horn opened #872 "How do I create an unsupported chart type?"
I'd like a stack area chart showing the numbers of each kind of agent.

[2020-07-27 20:30] drew1horn commented on #872
Add a guide in the documentation about which module(s) need to be modified. And, some hints about how to modify them would be very helpful. No matter how many chart types you support somebody is always going to want another one. https://python-graph-gallery.com/250-basic-stacked-area-chart/ has hundreds of chart types and you can't do them all.

I'm also adding a feature request for the stacked ar

[2020-07-27 20:38] drew1horn opened #873 "Stacked Area Charts"
**What's the problem this feature will solve?**

For many applications displaying the counts of the different kinds of agents in a stacked area chart is extremely useful.

**Describe the solution you'd like**

See: https://python-graph-gallery.com/250-basic-stacked-area-chart/

**Additional context**
You can't do them all. I've also submitted a documentation request as a separate issue. So, folks

[2020-07-29 05:10] #866 closed

[2020-07-29 12:56] tpike3 commented on #866
@SHSEngineering sorry for the delay, were you able to resolve this?

[2020-07-29 13:10] tpike3 commented on #872
Are you talking about a stacked bar chart for the visualization server or just in general based on the data collector outputs?

[2020-07-29 14:45] drew1horn commented on #872
- Actually I'm trying to get a stacked line chart showing the numbers of
   each kind of agent as time goes by.
   - I've been digging into the problem.
   - It looks to me like all that would be required is adding a "stacked:
   true" to the Y-Axes options of
   .local/lib/python3.7/site-packages/mesa/visualization/templates/js/ChartModule.js,
   but it didn't work.

On Wed, Jul 29, 2020 at 7:10

[2020-07-29 21:06] LuizFilippe1995 opened #874 "Error to run the model"
**Describe the bug**
Sorry, I'm new to GitHub and Python. I'd like to apologize because my question is too basic. When I run the model in the section "Running your first model", the following error is returned: " 'MoneyAgent' object has no attribute 'random' ". I have downloaded all the requirements and my Python is up to date. Then, I really do not know what is happening. Could you please help me

[2020-07-30 09:36] GHWHG commented on #152
Hi, I tried to run `pyreverse -o png -p mesa mesa` command, but it complains `The output format 'png' is currently not available.
Please install 'Graphviz' to have other output formats than 'dot' or 'vcg'.` . So I installed Graphviz by using `pip install Graphviz`, and it still complains. Does anyone get the same problem?

[2020-07-30 13:18] tpike3 commented on #874
Can you show your imports?

[2020-07-30 14:04] LuizFilippe1995 commented on #874
Yes! These are my imports for the model:

`from mesa import Agent, Model`
`from mesa.time import RandomActivation`
`import random`

When it comes to Mesa, I only used the code to install it:

`$ pip install mesa`

[2020-07-30 14:05] LuizFilippe1995 commented on #874
Yes! These are my imports for the model:

`from mesa import Agent, Model`
`from mesa.time import RandomActivation`
`import random`

When it comes to Mesa, I only used the code to install it:

`$ pip install mesa`

[2020-07-30 14:46] tpike3 commented on #874
OK, I think I recreated your error. Make sure you are inheriting the Mesa Agent Class. The initiation of the MoneyAgent class should read like below. The (Agent) next to MoneyAgent pass through Agent classes attributed which includes random.

`class MoneyAgent(Agent):`
    `""" An agent with fixed initial wealth."""`
    `def __init__(self, unique_id, model):`
        `super().__init__(unique_id,

[2020-07-30 17:43] tpike3 commented on #874
Hmmmm...using your code I am not getting the error. What version of python are you using?

[2020-07-30 17:55] LuizFilippe1995 commented on #874
RealIy? That is intriguing... I am using Python 3.7.7 and my IDE is Jupyter.

[2020-07-30 18:12] tpike3 commented on #874
Could you shoot me your list of dependencies. You should be able to "pip list" in your terminal, it should look something like

ipython            7.13.0
mesa                0.8.4 ...

[2020-07-30 19:04] LuizFilippe1995 commented on #874
Yeah. Here you have:

![1](https://user-images.githubusercontent.com/53869523/88963208-e8668800-d27d-11ea-9441-b45b797e2e3a.png)
![2](https://user-images.githubusercontent.com/53869523/88963211-e997b500-d27d-11ea-8d3f-06d65c802067.png)
![3](https://user-images.githubusercontent.com/53869523/88963213-e997b500-d27d-11ea-8bae-ac6cf0bffab9.png)
![4](https://user-images.githubusercontent.com/53869523/8

[2020-07-30 23:20] SHSEngineering opened #875 "How to remove Gridlines"
I am trying to remove the gridlines but haven't been able to ... I've explored the javascript files and the css files, but haven't found out where I can change the code to either remove the gridlines or make them invisible.  Is there someone who might be able to provide insight into this???  i've attached a pic of the grid as it currently looks ... Ideally, I'd like to keep the grid lines but make

[2020-07-30 23:22] SHSEngineering commented on #866
not sure if resolved is the correct term ... I began playing with the examples included in the zip file and those work, but I still get the error I mentioned above.  So, since the models appear to run, I'm ignoring the error message.

[2020-07-31 11:21] alabrazi opened #876 "Showing information to the left of the grid"
**What's the problem this feature will solve?**

TextElement show the text on top or below the grid. I think that a better option is to show the information on the left of the grid

**Describe the solution you'd like**

Using something like UserSettableParameter static_text to show information about the model on the left of the grid l is probably a better option.

[2020-07-31 18:38] tpike3 commented on #874
Luiz: I think the issue is you are are using Mesa 0.8.3 instead of 0.8.7. I am not sure why if you did pip install it did 0.8.3. but you can upgrade to the latest version by doing
`pip install mesa --upgrade`
or do

`pip uninstall mesa`
`pip install mesa==0.8.7`

[2020-07-31 18:57] tpike3 commented on #866
@SHSEngineering Thanks for the feedback!

[2020-07-31 18:59] tpike3 commented on #859
@NeilW Thanks we could absolutely use some front end help if you would be interested in making these changes and submitting a pull request.

[2020-07-31 19:43] LuizFilippe1995 commented on #874
That is it! I updated mesa and now it is working. Thank you a lot, Pike!

[2020-07-31 19:44] #874 closed

[2020-08-04 02:54] jwalzberg commented on #787
Hi,
Just wanted to share:
-tpike3 fix worked for me but can't use batch_run.get_model_vars_dataframe() so I looked for another fix.
-Ended up installing Mesa version 0.8.6 instead of 0.8.7 and it worked fine!

[2020-08-05 08:32] manentai commented on #787
I am experiencing the same issue and I am on Mac OSX Catalina 10.15.5

[2020-08-05 16:09] manentai opened #877 "Messed up values in params sweep with BatchRunner"
I have no previous experience with BatchRunner, so maybe I am missing something, but I have this params:

    variable_params = {
        "population": [1000],
        "network" : ["random"],
        "average_degree": [4, 8, 16],
        "audit_perc": [0.01, 0.03, 0.1],
        "tax_perc": [0.1, 0.3, 0.5],
        "eta00": [0],
        "eta1": [1.2, 2, 3],
        "memory": [1, 5, 10]
    }

and I

[2020-08-05 20:21] bddani60443 opened #878 "Agent.move function eats another agents while using hexGrid. (with multiGrid works fine)"
Hey.
My project has two agent classes, MyAgent1 and MyAgent2.
One agent from MyAgent1: brown_agent
One agent from MyAgent2: blue_agent

While blue_agent moves across borwn_agent, brown_agent immediately dissapears, so here is my problem. I don't want to brown_agent to dissapear. Where did I go wrong?
For better understanding here some picture:
![hexGrid](https://user-images.githubusercontent.com/6

[2020-08-06 09:11] tpike3 commented on #787
@jwalzberg What issue where you having with batch_run.get_model_vars_dataframe()?

[2020-08-06 09:13] tpike3 commented on #787
@manentai Python made some updates to multiprocessing that broke BatchRunnerMP. The Mesa fix is going through QA/QC and will hopefully be push in the next week or so. Did you try the code form the comments I posted up on May 14th?

[2020-08-06 09:30] tpike3 commented on #877
That is a bug. Should be fixed in the next push, which should be relatively soon unless there is an issue in QA/QC.

[2020-08-06 13:37] jwalzberg commented on #787
@tpike3 with the modified data collection and BatchRunnerMP from the Test.zip file, batch_run.get_model_vars_dataframe() return AttributeError: 'BatchRunnerMP' object has no attribute 'get_model_vars_dataframe' (which makes sense as the method is between quotes in the batch_runner file). Hence, I assigned batch_run.run_all() to a variable like in your covid-19 example (line 174 of the model_runne.

[2020-08-06 17:43] manentai commented on #877
@tpike3 thanks for the info, just as a confirmation: this a just a column label issue for the df, right?

[2020-08-07 00:35] tpike3 commented on #877
Correct, that is how I understand it

[2020-08-07 00:51] tpike3 commented on #787
@jwalzberg that is interesting with the various versions of Mesa I wonder if pathos made some updates as I know they were tracking some issues as well. The goal with the update is to make it system agnostic and so we tried it on multiple OSs but even after those tests it was a little hazy.

I will have to dig deeper into the processes not closing. Were you using an IDE like Spyder or PyCharm?

For

[2020-08-07 02:49] jwalzberg commented on #787
Yes, I use PyCharm. Thanks for looking into the issue and developing a fix!

[2020-08-07 18:18] fozzydiablo opened #879 "Command not found: Mesa"
Just trying to work from the examples given on [here](https://mesa.readthedocs.io/en/master/)
After installing mesa with pip3 I then clone the repository.
When I try to runserver I get the error zsh: command not found: mesa
This is my path
`['',
 '/Library/Frameworks/Python.framework/Versions/3.7/lib/python37.zip',
 '/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7',
 '/Library/Fram

[2020-08-07 21:33] fozzydiablo commented on #879
I ran it in a ve and it worked. Not sure what the problem was

[2020-08-08 16:24] tpike3 commented on #879
Thanks, we will keep this in mind and see if any similar bugs crops up

[2020-08-08 16:24] #879 closed

[2020-08-08 16:32] tpike3 commented on #312
Closing based on time past and Mesa updates

[2020-08-08 16:32] #312 closed

[2020-08-08 16:35] tpike3 commented on #448
Complete

In the docs: https://mesa.readthedocs.io/en/master/packages.html
Wiki page:  https://github.com/projectmesa/mesa/wiki/Mesa-Packages

[2020-08-08 16:35] #448 closed

[2020-08-09 11:10] #850 closed

[2020-08-09 11:13] tpike3 commented on #785
Closing, as mentioned by @rht please  use networkx functionality for network manipulations

[2020-08-09 11:13] #785 closed

[2020-08-09 11:17] tpike3 commented on #517
considered fixed based on updates

[2020-08-09 11:17] #517 closed

[2020-08-09 11:20] tpike3 commented on #514
Please reference multilevel mesa for enhanced agent network functionality

[2020-08-09 11:20] #514 closed

[2020-08-11 07:55] rht commented on #878
@bddani60443 that's because in MultiGrid, `_place_agent` appends to the content of the Grid (https://github.com/projectmesa/mesa/blob/7c5f12cbc23a423f3f54c91333408e59918e4a2a/mesa/space.py#L473), but in Grid, `_place_agent` sets the Grid content to be according to the argument: https://github.com/projectmesa/mesa/blob/7c5f12cbc23a423f3f54c91333408e59918e4a2a/mesa/space.py#L343.

A quick fix is to

[2020-08-11 14:51] jhontor1983 commented on #315
$ pip install -r requirements.txt
ERROR: Could not open requirements file: [Errno 2] No such file or directory: 'requirements.txt'
give me a solution

[2020-08-11 15:19] tpike3 commented on #315
@jhontor1983  I would recommend just doing the pip install mesa without the requirements. We are currently working through some issues with the requirements.txt. Please let me know if it works.

[2020-08-11 18:51] manentai commented on #787
@tpike3 yes I am trying it right now, it seems that it's working fine, my simulations are running without errors so far... One thing, I have noticed that there is no indication of how many runs have passed nor any information about the time.

[2020-08-12 05:45] 20174006 commented on #315
pip install mesaを実行しました。様々なものがダウンロードされました。しかし、requirements.txtに関しては解決しませんでした。

[2020-08-13 16:41] tpike3 commented on #787
@manentai Yes I added the pbar update in the BatchRunnerMP update so it will show the number if iterations

[2020-08-14 15:54] pineappleater opened #880 "Agent no longer receiving instructions from scheduler"
I have a transport ABM with both bikes and vans as moving agents. When only either of them is loaded, the model works perfectly as intended. These agents don't interact with each other at all in the code. When both are loaded after a all agents are loaded the first agent spontaneously stops and is no longer taking any steps( confirmed by print commands) but the rest of the model is working (also c

[2020-08-15 11:44] tpike3 commented on #396
Added to Mesa PAckages

[2020-08-15 11:44] #396 closed

[2020-08-15 11:52] tpike3 commented on #880
@pineappleater Could you post your init code for the model where you add agents to the scheduler? I would like to try this first so other users can more easily see your code and use it to help the with their issues.

[2020-08-15 12:04] pineappleater commented on #880
So the agents are appended to a list which the scheduler uses to make and place agents. This is the code for the model. Please let me know if you need anything else.
`#Model

class VanByke(Model):
    """A model with some number of agents."""

    def __init__(self,width, height, N=20,BC=2,VC=10,R=1,T=1):
        super().__init__()
        #self.num_agents = 1
        self.Total_Parcels=N

[2020-08-15 21:50] pineappleater commented on #880
Different agents were receiving the same unique id. Now Solved

[2020-08-15 21:50] #880 closed

[2020-08-16 03:09] ranjitshanker opened #881 "Identify the iteration number when several iterations of the model are run in parallel"
I am running several iterations of the model in parallel using BatchRunnerMP.
Is there a variable that can be used inside the Model  class to identify the iteration number for each of the iteration?

[2020-08-16 11:51] tpike3 commented on #880
Awesome! Glad you solved and thanks for posting. Agent "breeds"/"types" can get pretty tricky and I am sure this will help some other modelers.

[2020-08-16 12:01] tpike3 commented on #881
You can use pbar update. This is in the [BatchRunnerMP update](https://github.com/projectmesa/mesa/pull/871/files)  Extract from code below.

`
        results = {}

        if self.processes > 1:
            with tqdm(total_iterations, disable=not self.display_progress) as pbar:
                for params, model in self.pool.imap_unordered(self.run_wrappermp, run_iter_args):
                    r

[2020-08-16 12:05] tpike3 commented on #778
example provided

[2020-08-16 12:05] #778 closed

[2020-08-16 12:06] tpike3 commented on #765
Fix merged #767

[2020-08-16 12:06] #765 closed

[2020-08-16 14:18] ghost opened #882 "Make mesa faster"
**What's the problem this feature will solve?**
Sadly, Python belongs to the slowest programming languages, but it's friendly code makes it popular and extremely usable.
Agent-based simulations can involve very large number of agents (e.g. millions), where concurrency control, parallelism and  run-time speed of simulations could be crucial.

**Describe the solution you'd like**
Using:
- PyPy
- Cyt

[2020-08-17 03:43] ranjitshanker commented on #881
Hi @tpike3 Tom,
Thanks a lot for your reply. I am just learning mesa, so I didn't quite get it :)
I have a huge amount of info that is recorded at each timestep and to prevent RAM related issues, I am writing to the file at every timestep and resetting the datacollector as shown below (only relevant lines).

`class SIRSModel(Model):`
...
`def step(self):`
        `    self.datacollector.collect(se

[2020-08-18 10:10] rht commented on #882
This is the first time PyPy is mentioned in this repo.
Disclaimer: I am also one of the maintainers of abcEconomics.

It should be easy to test if Mesa runs on PyPy with Travis (see e.g. https://github.com/AB-CE/abce/blob/master/.travis.yml#L24).

[2020-08-18 10:24] tpike3 commented on #881
@ranjitshanker yes you can use the iteration number it is tracked.

In the update/code above it is part of the run_iter_arg and is hes last element in the list so run_iter_arg[3]. I also use this to make the unique key for a dictionary of dataframe values.

For the current version of Batchrunner it iterates through the total number so each run as a unique number associated with it. Hope this helps

[2020-08-18 10:29] rht commented on #882
In abcEconomics, there is an option to run the execution of each agents in a separate CPU (https://github.com/AB-CE/abce/blob/master/abcEconomics/scheduler/multiprocess.py). If there are 20 agents and 4 CPUs, each CPU could execute 5 agents in parallel. See any `pool.map` in the file I linked before. Care is needed to ensure that the objects are able to be pickled so they can run in each CPUs.

[2020-08-18 22:58] ranjitshanker commented on #881
Thank you very much @tpike3 !

[2020-08-19 21:21] nivedks72 opened #884 "CanvasGrid does not work for very high grid_width or grid_height"
When using  *CanvasGrid(portrayal_method, grid_width, grid_height, canvas_width=500, canvas_height=500)*, beyond a certain value of grid_width or grid_height, the visualisation does not show any agents. (Image attached)
I noticed it from the 'Advanced Tutorial'.
grid = CanvasGrid(agent_portrayal, 134, 134, 400, 400)
Here for a canvas size of 400x400, grid sizes from 134x134 does not work. If you i

[2020-08-19 21:52] nivedkrishnans opened #885 "Export the simulation as a video"
**What's the problem this feature will solve?**
A readily obtainable video output of our simulation would make it easier for collaboration between people working on a model as well as for presentations, publications, etc. A normal screen recording will not do well, as the time required for each step may fluctuate during a simulation. NetLogo offers an option to record the simulation region or even

[2020-08-20 08:43] Corvince commented on #882
There is also a discussion about mesas performance in #798.

To recap my 2 cents on this issue: Mesa is mostly a framework and by itself it doesn't "do" much that could be improved by your suggestions. It really depends on the models it is used for (and if the actions are computationally expensive numba might be a very good and easy to use recommendation).

Re parallelism: Depending on the model r

[2020-08-29 01:04] majdal opened #900 "Add `RandomActivationByBreed` from Sugarscape example to available schedulers in time.py"
**What's the problem this feature will solve?**
Sometimes you need to `step()` each breed of agent separately. The `Sugarscape` example already has a scheduler that takes care of that use case: `RandomActivationByBreed`. It makes sense for it to be merged into the schedulers available by default in `time.py`.

**Describe the solution you'd like**
Copy `RandomActivationByBreed` into `time.py`. The

[2020-08-29 05:34] ranjitshanker opened #901 "Run multiple iterations of the model after an initial burn-in period"
**What's the problem this feature will solve?**
The model is scheduled to run for a long duration (e.g. 50 years) with an initial burn-in period (e.g. 20 years) for the population to settle down and reach an equilibrium state (i.e. no more initial spikes, etc.).
Only after this initial burn-in period is reached, I want to run multiple iterations (e.g. 10) of the model.
For example:, I do not want

[2020-09-01 02:54] majdal commented on #901
Another approach to solving the same problem would be the following:

Run your model for the number of steps you need for the burn-in, save the agent-level data using the data collector, save it to file (pic your format: csv, npy, else?), then write a different method for `__init__` that loads the agent-level data from the file, and run it normally. You can use use the batch runner in that case to

[2020-09-01 03:02] ranjitshanker commented on #901
Thanks a lot Majd. This approach is very helpful and did not come to my mind at all :)
So, I need to save only the agent level data belonging to the last timestep in the burn-in period, isn't it?

[2020-09-01 03:06] majdal commented on #901
That should be the case, but it's difficult to know exactly without knowing your model's details.

It should work though: initialize your agents with the saved data from the last time step.

I hope that helps!

[2020-09-01 03:07] ranjitshanker commented on #901
Yes, thats what I thought. Thank you once again.

[2020-09-01 03:07] #901 closed

[2020-09-01 09:29] Corvince commented on #901
You could also pickle your whole model and not have to think about how to reinstantiate

[2020-09-03 18:53] nivedkrishnans opened #918 "arrowHead in visualization is not working"
The arrowHead seems to appear for (heading_x, heading_y) in (-1,0), (1,0), (0,-1) and (0,1), but it doesn't appear at all for any other combination I tried. I have tried options like (1,1), (sqrt(0.5),sqrt(0.5)), etc.
Are only those 4 values valid, or am I doing something wrong?

[2020-09-07 13:15] im-sophie opened #919 "Duplicate unique_id handling in BaseScheduler.add"
**What's the problem this feature will solve?**

Mesa's great! One thing though - I spent a couple hours yesterday trying to figure out why one of my agent's `step()` method wasn't being called, and then I realized that I was using the same `unique_id` value for both agents. Here's a simplified example:

[code]

This outputs the following, showing only one agent got added. I get why, since `BaseSc

[2020-09-07 22:17] tpike3 commented on #919
Absolutely, I think that would be great! Would be happy to incorporate an exception if a user attempts to reuse an ID.

[2020-09-08 07:09] Corvince commented on #919
Yes, as the name suggests "unique_id" should be unique and I don't think this would break any existing models and we should add an exception if agents with the same id are added multiple times (otherwise we should at least emit a deprecation warning and add an exception in a later version of mesa)

[2020-09-10 22:04] sophiekitkatz commented on #919
Great! If it's OK with you, I'll write up a proposal as I'm able.

[2020-09-10 22:39] terivan2006 commented on #800
In case somebody has a similar issue - try making sure that your ipython graphics are set to 'inline', not 'automatic'. (Tools -> Preferences -> Ipython Console -> Graphics)

[2020-09-12 06:16] ahmedelsagher200 commented on #315
![Screenshot_٢٠٢٠٠٩١٢-٠٨١٦١٤_Termux](https://user-images.githubusercontent.com/70977874/92988920-436fd980-f4d0-11ea-8272-0482b7a2978d.jpg)
 Help plz💔💔

[2020-09-13 11:05] tpike3 commented on #315
@ahmedelsagher200 Could you give some more information.

What python version are you running?
What install command id you use?
What is your OS?

[2020-09-17 05:01] StueGrifn opened #921 "Referencing Agent Properties from their ID obtained through "grid.get_cell_list_contents""
Basically, I'm trying to create an agent, put it on a Grid, then find it on that grid based it's coordinates, and report back to me a variable of the agent. I have the agents created on the grid and the code (below) to get the contents of each cell.

`class Cell(Agent):`
    `def __init__(self, unique_id, model):`
        `().__init__(unique_id, model)`
        `self.SquareNum= random (1,100)^ 2`

[2020-09-17 12:18] tpike3 commented on #921
What is the line print(self.grid.get_cell_list_contents((x,y))) printing? Is it printing the cell contents?

[2020-09-17 17:07] StueGrifn commented on #921
print(self.grid.get_cell_list_contents((x,y))) merely shows what the contents of the cell at position (x,y). I understand this code does not get me to the self.SquaredNum of "<_main_.Cell object at 0x00000158AA565730>"; my question is how I get from "<main.Cell object at 0x00000158AA565730>" to access the variables associated with said object, in this case "self.SquareNum".

Hope this clarifies.

[2020-09-17 20:36] tpike3 commented on #921
Yep, I just wanted to make sure there was a version or other problem.
So if I am understanding correctly (without me running the code it is always iffy :)) the following should work:
First get cell contents:

In this case
`list(main.Cell...)` or the function `self.grid.get_cell_list_contents((x,y))`
 should work, generically you can typically see what is in any python object with
`<object>.__dict_

[2020-09-18 12:45] StueGrifn commented on #921
I did some preliminary coding with this, and it seems to be working exactly as you said. The problem was I was referencing the whole list for the self.SquareNum variable, when I actually needed to reference the only member of the list first.

Thank you for your quick and accurate response! Closing issue.

[2020-09-18 12:45] #921 closed

[2020-09-22 20:36] ArturoSH711 commented on #315
pip freeze > requirements.txt

[2020-09-26 12:09] sneha-lodha opened #922 "Issue with slider updating model"
I am trying to use a slider in the following way, and my problem is that even if I move the slider, it only updates the value for that variable after I reset the who simulation. Is this suppose to happen or am I making a mistake in my implementation.

`flow_slider = UserSettableParameter('slider', "% traffic flow", 15, 1, 100, 5)`
`canvas = CanvasGrid(agent_portrayal, 25, 25, 750, 750) `
`server =

[2020-09-29 08:28] Corvince commented on #922
Hi there,

yes, you are doing everything correct. Currently there is no way to update the variables without a restart. It's on our agenda and you might be interested to keep an eye on [mesa-viz](https://github.com/Corvince/mesa-viz). It's alternative front-end for mesa I am currently working on. One of the features will be to change parameters without a reset. But it is not there yet (actually it

[2020-10-01 09:50] TabernaA opened #923 "Individual agent accessing model_reporters"
**Describe the bug**
Hi all,  thanks in advance for your time, I am not sure it is the right space, but I hope this to be useful.
I am not understanding how agents can look at a variable within the datacollector/model_reporters, I always get the memory space in return  and never the variable value

**Expected behavior**
If during a step I tell a agent
print(str(self.model.datacollector.model_repor

[2020-10-01 15:16] #923 closed

[2020-10-03 18:03] #855 closed

[2020-10-07 12:33] Acpnohc opened #925 "Bug: missing update between model.schedule.agents and model.get_cell_list_contents when adding or remove agents"
Here I first give two versions of codes.

Version1 ： https://github.com/Acpnohc/bug_report/blob/main/mesa_bug1_CP.py
Version2 ：https://github.com/Acpnohc/bug_report/blob/main/mesa_bug1_CP_2.py

Two codes for Fowler C S. Taking geographical economics out of equilibrium: implications for theory and policy[J]. Journal of Economic Geography, 2007, 7(3).

The only difference between the two code versio

[2020-10-07 16:35] Kubasinska opened #926 "Functions Annotations in the time module create problems with automatic code completion tools such as Pycharm."
**Describe the bug**

Functions Annotations in the time module create problems with automatic code completion tools such as Pycharm.
https://github.com/projectmesa/mesa/blob/2e66e9f70f9b4c58d90654ba590fc011263c483c/mesa/time.py#L85
**To Reproduce**

Using Pycharm with Kite and reproducing the sample code MoneyModel: When iterating between agents within the scheduler if an attribute or method of an

[2020-10-08 19:39] dmasad commented on #925
I haven't had a chance to dive into the full code that you've shared, but one issue might be that removing an agent from the schedule doesn't automatically remove it from the grid. If you want to remove an agent from the model entirely, you need to be sure to remove it from both.

[2020-10-09 06:35] Acpnohc commented on #925
Yeah, you are right and that's what I fell puzzled with. I think it will be more sensible if it can update automatically between schedule and grid. And thank you for your reply.

[2020-10-09 10:16] #925 closed

[2020-10-12 15:23] RiccardoDC opened #929 "Problem with the "get_cell_list_contents" method"
**Describe the bug**

Hello everyone and thank you for developing mesa, which I believe is great!
I just started to use it and I followed the tutorial step by step on the website and realised the following:

when I use the "get_cell_list_contents" method to gather the number of agents available in a specific cell, the method will also include the agent that has just moved in that cell. That means

[2020-10-15 06:42] alabrazi opened #930 "Deploy the code"
Hi,
Is it possible to deploy the simulation model to the web? Could someone please guided me to some readings?

[2020-10-16 03:55] jackiekazil commented on #926
I am not sure if any of the developers on this project have PyCharm/work with PyCharm. Any chance you can submit a fix for this?

[2020-10-17 13:23] Hildekyvik opened #931 "I tried to run the very first ABM model in the tutorial and I get the error message: 'super' object has no attribute"
**Describe the bug**

**Expected behavior**

**To Reproduce**

**Additional context**

[2020-10-17 17:11] jackiekazil commented on #931
Hello! Glad to hear you are trying out Mesa. Without more details, we can not help trouble shoot the issue.  For now, I closing this issue. Please reopen with more details or post to the User listserv located here: https://groups.google.com/g/projectmesa

[2020-10-17 17:11] #931 closed

[2020-10-18 18:03] Kubasinska commented on #926
I will work on it!

[2020-10-18 19:16] jackiekazil commented on #926
Great! Looking forward to the fix! Let us know if you have any questions!

[2020-10-18 19:44] dmasad commented on #930
It is possible, but we don't have a clear guide / tool on to how to do that now. The basic idea is that you need to deploy the model on a server where the relevant port is open to the web. I previously had some success deploying Mesa models to Glitch, e.g. https://glitch.com/edit/#!/mesa-prisoner-dilemma , but it looks like they made some changes to their system which broke the deployment and I ha

[2020-10-22 12:39] marensba opened #932 "Visualization for ContinuousSpace"
**What's the problem this feature will solve?**

I am currently working on a project using mesa. Great framework! The problem is that I use ContinuousSpace, and want to visualise it. Is this something you are working on?

[2020-10-22 14:55] Corvince commented on #932
You can check out the [boid flockers example](https://github.com/projectmesa/mesa/tree/master/examples/boid_flockers). It includes a ContinousSpace visualization. Don't know why it never made it to the core visualizations.

[2020-10-23 09:33] Corvince commented on #930
Good news! It seems to be fairly easy to publish mesa models on [heroku](https://dashboard.heroku.com/)!

Once you have a repo of your model you only need to add a Procfile with a single line: `web: python run.py -p=$PORT` and make sure you run your server on the right port, e.g. (inside `run.py`):

[code]

You can view it in action for [this repo](https://github.com/Corvince/mesa-schelling-exampl

[2020-10-24 20:40] jackiekazil commented on #929
hey! ty for the issue! Looks like you found a bug!

Thinking about fixes. This feels like we should add a flag OR exclude list something like...
[code]
or
[code]

Questions:
- What do you think makes more sense? Is there something other approach that makes more sense to you?
- Should the default be to exclude? (I feel like it should be to include.)

[2020-10-25 19:08] Corvince commented on #856
@NeilW
I saw that you have a fix for this issue on your fork. Can you submit a PR with that? Don't worry about failing tests or something, I can add/modify them if you don't want to do that. I could also copy paste your fix, but I would like to give the credit to you

[2020-10-25 21:36] NeilW commented on #856
I've added a PR. Apologies for not getting onto the tests. They looked like they may need a bit of refactoring and I haven't had the bandwidth to tackle them

[2020-10-26 09:34] alatti opened #935 "reproducibility issue in the introductory tutorial due to MultiGrid.get_cell_list_contents()"
Hello,

The following line in the introductory tutorial (for me) produces an inconsistent ordering of cellmates when it is called each step:
`cellmates = self.model.grid.get_cell_list_contents([self.pos])`

I found this out when I set the model seed but was not able to achieve a reproducible result. The choice of items in the list is consistent (eg. choose the 2nd item) but the order of that list

[2020-10-28 10:11] Corvince commented on #854
Thanks for the report. Sorry it took so long, but a fix is finally coming soon.

[2020-10-28 19:35] Corvince commented on #929
I think the first suggestion won't work, because the grid doesn't know who "self" is.

But I also think the exclude list seems a bit complex. But it would be best to simply filter the list afterwards "by hand"?

In this particular case I think we should rather use the `grid.get_neighbors()` function with a radius of 0. But I don't know if the top of my head if that works (but I think it should!)

[2020-10-29 08:42] #782 closed

[2020-10-29 08:49] Corvince commented on #935
Thanks. The cell content was stored in a set, which has an unpredictable ordering in Python (and somewhat by definition). This is a duplicate of #782 and now fixed in master (but not yet released)

[2020-10-29 08:49] #935 closed

[2020-10-29 09:15] Corvince commented on #929
Looked it up, but unfortunately we can't currently use `get_neighbors`. While `radius=0` would work with `include_center=True` it will still return all the agents from the center cell

[2020-10-29 09:25] Corvince opened #938 "Travis-ci.org shutting down Dec 31st 2020"
I somehow missed that until today, but www.travis-ci.org will shut down at the end of the year. Not a very much big deal, since it will continue to operate under www.travis-ci.com, but we would need to create an account there and migrate the integration. This *should* be fairly easy ([here is the migration guide](https://docs.travis-ci.com/user/migrate/open-source-repository-migration)). However,

[2020-10-29 14:07] j-santoro opened #939 "Code is missing."
Hi. I have visited the mesa introduction page a few times to better understand how to use it and its properties, but it seems that some code for the sample model is missing now. Can you please check that to see that there aren't any errors in the introduction model, and the issue isn't on my end? Thanks!

[2020-10-30 00:21] Sjnjerak commented on #939
I have the same issue, so whatever it is is not unique to j-santoro.
Thanks you to the developers, the package looks great, can't wait to try it!

[2020-10-30 00:25] Sjnjerak commented on #939
@j-santoro meanwhile, the stable version of the documentation seems to have the code, you can access it here: https://mesa.readthedocs.io/en/stable/tutorials/intro_tutorial.html

[2020-10-30 15:29] AndrewC19 commented on #186
I have this question too. I can't find any documentation for a step-by-step data collector. I would like to be able to run my model with the batch runner and record the value of reported variables at each time-step rather than at the end of the model.

[2020-10-30 16:57] senden9 opened #943 "ContinuousSpace.get_heading returns wrong result sometimes in toroidal space mode"
**Describe the bug**
`ContinuousSpace.get_heading` returns wrong result when going over the middle line and toroidal space is enabled.

**Expected behavior**
Heading from `(51, 51)` to `(49, 49)` should return `(-2, -2)`.

**To Reproduce**
[code]
Prints `(98.0, 98.0)`. So it goes 180 Degree in the wrong direction.

If I shift the points down I get the right results:
[code]
Prints `(-2.0, -2.0)`. S

[2020-11-01 05:55] jackiekazil commented on #939
reviewing this conversation, it seems that it is resolved. I am going to close this ticket. If you have additional info that will help us fix this, please provide it.

[2020-11-01 06:02] jackiekazil commented on #938
Good catch! I pinged a few friends who are more into this than me. I will update when they get back to me.
Another option is CircleCi.

[2020-11-01 06:15] jackiekazil commented on #932
That is a good catch. I have no idea why it isn't in core as well!

[2020-11-01 17:09] tpike3 commented on #186
@AndrewC19 somehow the sphinx/readthedocs build got corrupted but in the tutorial it shows how to get the [agent data by step for batch run](https://github.com/projectmesa/mesa/blob/master/docs/tutorials/intro_tutorial.ipynb).

BatchRun is the last section in the tutorial.

[2020-11-01 18:34] Corvince commented on #939
Unfortunately not yet resolved. The default view is now changed to stable so few people should run into this right now, but the code is still missing on the master docs branch.

There are two solutions: include ipython as a requirement for the readthedocs build or change the code lines from ipython3 to python. I tried the former but it is not yet working.

[2020-11-01 23:33] jackiekazil commented on #939
ty for the catch.

[2020-11-03 04:48] sanketrane opened #945 "Attribute error while generating next_id()"
**Describe the bug**
I have an agent class defined with arguments unique_id and model.
[code]
I wish to add a new agent with a new unique_id (to depict reproduction) within the agent step().

[code]

When I set the argument using next_id() I get an error:
[code]

**Expected behavior**
I was expecting the function to return an integer with a value = total number of agents + 1

**To Reproduce**

**A

[2020-11-03 05:45] #945 closed

[2020-11-03 05:47] sanketrane commented on #945
Found the error
I was missing `super().__init__()` in the model class.

[2020-11-03 09:05] #939 closed

[2020-11-03 12:02] Corvince commented on #787
Hopefully this is resolved now with #917. Install mesa with `pip install -e git+https://github.com/projectmesa/mesa#egg=mesa` to retrieve the latest version or wait for the 0.8.8 release.

Anyone please feel free to re-open if there are any remaining issues

[2020-11-03 12:02] #787 closed

[2020-11-03 15:09] AndrewC19 opened #948 "Run BatchRunner with only fixed_parameters and no variable_parameters"
To my understanding, I should be able to run my model multiple times using BatchRunner with only fixed_parameters. However, if I set variable_parameters to None, I get the following AttributeError: 'NoneType' object has no attribute 'items'.

It would be useful to be able to run a model using the BatchRunner without using variable parameters. For example, I want to run my model multiple times unde

[2020-11-04 23:22] jackiekazil opened #949 "Release next version of Mesa -- Nogales"
Release everything tagged as "Nogales" .... this still needs some clean up.

[2020-11-04 23:23] jackiekazil commented on #949
@Corvince, @tpike3 -- was this the PR that we were waiting on and wanting to push a release shortly their afterwards? #917 ... meaning, can I go ahead and put together the release?

[2020-11-04 23:53] jackiekazil commented on #929
Maybe we pass `self` to the model and then the model knows what `self` is?
[code]

[2020-11-05 01:23] jackiekazil commented on #186
@tpike3 it has been a long time since I generated docs. When you make updates to the tutorial notebooks you have to reexport them to rst I think or there is a sphinx command. we should probably figure that out and document it in the wiki -- https://github.com/projectmesa/mesa/wiki

[2020-11-05 08:27] Corvince commented on #929
I think I complained about the name several times in the past, but the `cell_list` of `get_cell_list_contents` refers to the functions argument, meaning it returns the content for a list of cells. Now passing an agent instead/alternatively is even more confusing.

At some point in time I had the idea to have two functions like
[code]
where the former would implicitly remove agent from the the list

[2020-11-05 08:27] Corvince commented on #949
Yes, this was the PR

[2020-11-07 17:18] seeingwu opened #950 "how to understand self.random.choice"
Hi, when I was reading the tutorial of Mesa, I am confused about this function.
![image](https://user-images.githubusercontent.com/52962497/98447477-01a08f80-211d-11eb-88e5-da7b092a55eb.png)

Does '' other_agent = self.random.choice(self.model.schedule.agents)'' means that 'self.random.choice()' wouldn't choose agent itself?

Best regards

[2020-11-08 13:27] tpike3 commented on #950
@seeingwu in this instance the other_agent could be same agent. In effect, if the agent randomly chooses itself it adds a unit and then loses that unit.

You could prevents this by recursively checking for example...

[code]

[2020-11-08 13:27] #950 closed

[2020-11-08 13:35] tpike3 commented on #948
This was fixed in the most recent BatchRunner fix, however there has not been a new release to PyPI just yet so you would need to install from github using

[code]

[2020-11-10 11:45] reevesj191 opened #952 "Runtime Error when using Multi-Processing using batch runner on windows machine"
**Describe the bug**

I am trying to use the BatchrRunnerMP() function to run several iterations of the model at once. When I run the code, it does not crash but a RuntimeError is continuously returned. It states:

RuntimeError:
        An attempt has been made to start a new process before the
        current process has finished its bootstrapping phase.

        This probably means that you are

[2020-11-11 00:09] m-wvj opened #953 "Graph resizing issue"
I would love to be precise, but honestly I am quite lost. Playing around with displaying graphs I could not manage to resize the graph properly. If I input a different canvas_height value it works just fine. But when I input a canvas_width, it modifies the height again. What is more, the result is reversed for me.

**To Reproduce**
chart = ChartModule(
    series=[],
    canvas_height=200,
    can

[2020-11-11 16:54] tpike3 commented on #952
@reevesj191 We have an update going through the final approval stages that makes BatchRunner compatible with Windows, but it has not been released to PyPI. If you install from git by doing
[code]
It should work on both your MacOS and WIndows machine

[2020-11-12 20:55] anjalinair012 opened #954 "Option title for ChartModule"
**What's the problem this feature will solve?**
Adding a title to Charts in order to make their purpose clear

**Describe the solution you'd like**
A way to pass the title text along with the chart data

[2020-11-15 20:34] alabrazi opened #956 "Batch runner - TypeError: getattr(): attribute name must be string"
**Describe the bug**

agent_reporters that is used in Model cause error when used with Batchrunner

https://ibb.co/4m0BqTS

**Expected behavior**

Batch runner run without error

**To Reproduce**

add "AgentStatus":lambda agent: "status" if type(agent) is Worker else "cc" to agent_reporters shown below.

# At the end of each model run, calculate the fraction of trees which are Burned Out
model_rep

[2020-11-16 20:05] tpike3 commented on #956
@alabrazi Two things to try. 1. I would install from github ```pip install -e git+https://github.com/projectmesa/mesa#egg=mesa``` as we have just updated batchrunner and are about to do a new Mesa release. 2. Particularly if you are on a Windows machine, lambda functions do not work well with Python's multiprocessing functions. I would recommend removing the lambda operators and that should resolv

[2020-11-18 08:47] tropappar commented on #877
I still experience this problem, even though I installed the GitHub version of Mesa using`$ pip install -e git+https://github.com/projectmesa/mesa#egg=mesa`

[2020-11-18 11:40] tpike3 commented on #877
@tropappar  Hmmmm...my understanding is you want the datacollector to be all the items you are collecting during your model runs. What are you collecting with datacollector, I am not seeing that code?

As an example form the tutorial

[code]

Right now your model reporter is just returning the datacollector object.

[2020-11-19 06:51] jackiekazil commented on #949
This is resolved by #957

[2020-11-19 07:36] tropappar commented on #877
The problem is not about the data collector.
Like @manentai explained, the problem is that the dataframe retrieved with
`run_data = batch_run.get_model_vars_dataframe()`
is messed up: The column headers corresponding to the variable parameters are sometimes not in the correct order.

[2020-11-19 11:32] tpike3 commented on #877
@tropappar Aww geez, I am sorry I totally missed that, I was rushing. Could you try calling ``batch_run.get_collector_model()`` instead this will return a dictionary with key = (Param1, Param,2...iteration), value=Pandas dataframe of collection.

Please let me know if that works for you.

[2020-11-19 12:13] Kubasinska opened #958 "Using numpy.random instead of the build-in random module"
**What's the problem this feature will solve?**
In my projects I have often implemented [numpy.Random](https://numpy.org/doc/stable/reference/random/generator.html) instead of using the random generator already implemented in the base class model.Model. The numpy.Random module offers much more functionality, an example: extracting a number from a poisson distribution.

**Describe the solution you'

[2020-11-19 14:30] tropappar commented on #877
Yes, it works. But it does not solve the original problem.
In fact, it gives a dictionary, so there are no headings for the prameters/keys. Thereby this solution simply avoids matching the parameter names (i.e. headings) to the parameter values (i.e. dict keys).

[2020-11-19 21:57] tpike3 commented on #877
@tropappar there must be a bug in the batchrunner function [```prepare_report_table(self, vars_dict, extra_cols=None)```](https://github.com/projectmesa/mesa/blob/1958630c1b77b57d9c96b768f05896b607af402b/mesa/batchrunner.py#L247). It will take me a week or 2 to untangle it... I imagine.

However as a stop gap you can take the dictionary output and turn that into a pandas dataframe so quick draft p

[2020-11-19 23:40] koyafull opened #959 "Fix tutorial example code for batch_runner datacollector"
**Describe the bug**

[Tutorial](https://mesa.readthedocs.io/en/master/tutorials/intro_tutorial.html) provides following code snippet:
[code]
which would return following error, complaining about `Gini` column content:
[code]

**Expected behavior**

Provide run-ready code snippet.

**To Reproduce**

Follow the tutorial copy-pasting code snippets.

[2020-11-20 04:03] jackiekazil commented on #958
This is an interesting question. If memory serves me right, numpy.random.seed() isn't thread safe. I don't believe we are using multi-threads at this time, but I could see a world where we would.... so I am on the fence on this.

But you bring up some good points.

This feels a little over the top, but I am wondering if we would want to support both and maybe make it a settings function that trigg

[2020-11-20 04:07] jackiekazil commented on #877
You can track the next push here: https://github.com/projectmesa/mesa/pull/957

[2020-11-20 08:13] tropappar commented on #877
Thanks for your feedback. Currently, I can live with this.
I would assume the problem comes from the fact that the `variable_params` is a dictionary which is by definition not guaranteed to be ordered. Hence, sometimes it works and sometimes the order of the columns are wrong.

[2020-11-20 08:57] rht commented on #938
One vote for CircleCI -- it is used by Zulip (https://github.com/zulip/zulip/blob/master/.circleci/config.yml).

[2020-11-20 15:04] j-santoro opened #961 "Help with Modelling"
Hi there,
I am trying to create a simulation project using your modelling software for my high school research class. I am having a hard time understanding how to use the software to create my own model, as I am new to computer science. I have tried creating the introductory sample model, but I do not understand all of the code and how to use it for my own model. Does anyone know what steps I can

[2020-11-21 03:49] jackiekazil commented on #961
I would try to run some of the models in the examples folder here:
https://github.com/projectmesa/mesa/tree/master/examples

You should post this question to the user group, which you can find here:
https://groups.google.com/u/1/g/projectmesa

[2020-11-21 03:49] #961 closed

[2020-11-21 03:49] jackiekazil commented on #961
Also... welcome! :-)

[2020-11-21 05:40] j-santoro commented on #961
Thank you so much for the help!

[2020-11-23 06:10] jackiekazil commented on #872
Related #873

[2020-11-23 06:12] jackiekazil commented on #954
This is a fair request. Right now the only way to make a title is just add free text in between, but a title should be a param that you pass on chart.

[2020-11-23 06:14] jackiekazil commented on #953
After trying a bunch of varying widths and heights it does seem that you found a bug.
Not sure what is happening. It looks like the translation to javascript.

At this time, I am not sure what is going on, but adding this to the backlog and adding the extra context.

This is a screenshot of
[code]
<img width="320" alt="Screen Shot 2020-11-23 at 12 08 59 AM" src="https://user-images.githubuserconte

[2020-11-24 07:42] Kubasinska commented on #958
I think a "switch" is the best option in case we want to implement this feature. As I have already said, I can implement it without any problem, therefore I am waiting for further updates.

[2020-11-25 11:30] Corvince commented on #958
I am not really convinced by this. Sure, I think it often makes sense to use numpy.random, but I don't see the general benefit of adding such complexity and dependency (we only depend on numpy for the continous grid atm).

Isn't this readily solved by a single one-liner in ones `model.__init__` function a lá?

[code]

I think it would probably make sense to put this in the useful snippets section

[2020-11-27 13:25] yasinsariboun commented on #929
I think a practical solution could be set-list conversion and applying the set difference operation like this:
`cellmates = list(set(self.model.grid.get_cell_list_contents([self.pos])) - set(self))`

[2020-11-28 22:40] jackiekazil opened #963 "Discuss: Moving examples to examples repo"
A long long long time ago we talked about moving examples over to the examples repo. 
I feel like we should go ahead and do that. The more the examples grow the bigger the main project will get. 

Examples repo: https://github.com/projectmesa/mesa-examples/

People have been submitting issues and PRs against this repo.
So either we kill or officially move. I feel like it makes sense to kill and I

[2020-11-29 21:57] jackiekazil commented on #938
I heard a lot of hype around Circle. So I did a bunch of research by polling some folks I respect and reading up.  It seems 2/1 that people lean on github actions versus other options (eg Travis or Circle) . Github actions seemed to have more weight than I expected. People leaning towards github actions if there is a change on the project for the following reason -- It is built in and if someone f

[2020-11-29 21:58] jackiekazil commented on #938
@rht said Circle.
I say github actions (or fix travis, but that makes me feel - meh.)

@Corvince what are your final thoughts?
@tpike3, @dmasad do either of you have thoughts on this?

[2020-11-30 20:39] Corvince commented on #938
I would vote for GitHub Actions too. I have used it very rudimentary for mesa-viz and it was quite straight forward to set up (also my setup was very simplified, so I can't really judge that). CircleCI also seems a bit more restricted with only build environments for windows and unix, where GA also has macOS. And the "runs on forks" argument is really compelling - and it makes sense, since the con

[2020-11-30 22:01] tpike3 commented on #938
Although CircleCI is more developed, my vote is for GitHub Actions. It is developing fast and by being a part of the GitHub ecosystem already it will reduce obstacles to would be contributors. I think this benefit makes is the most suitable for Mesa and it goals.

[2020-12-01 02:14] rht commented on #938
Just so that we can have an informed decision. You can use custom Docker images on CircleCI. You can ssh into a failed build to debug. I don't know about CircleCI vs GitHub Actions, but CircleCI is faster than Travis.

Another thing is I don't know what Microsoft will do next once they have taken hold of FOSS developments. Choosing CircleCI (or should I say GitLab) is like joining the resistance,

[2020-12-02 17:37] digitaldust commented on #787
Hi, I can see that now I don't have pickle errors and that the count of runs is displayed, but after 340 runs (around 4mins) my kernel invariably dies... if I use @tpike3 old solution, I am able to finish the runs and collect results.. am I the only one experiencing this problem?
unfortunately the terminal does not show any error...

[2020-12-02 19:28] rht commented on #786
Fixed in https://github.com/projectmesa/mesa/commit/7bebe5f33293c11eaecf9e3bdb081c0b136e0d7e.

[2020-12-02 19:28] #786 closed

[2020-12-02 21:25] tpike3 commented on #787
@digitaldust Try running BatchRunnerMP with the Keyword Argument ```nr_processes=1```. One challenge with multi-processing is if the processor that errors is not the the processor with the output then you won't see the traceback. This will keep it on one processor so we can see the traceback.

Please let me know what you find so we can fix the issue, thanks!

[2020-12-02 22:47] misken commented on #948
Hmm, just installed from github (Mesa-0.8.8.1) as suggested and now getting different error if I use `variable_parameters=None` or omit entirely.

`TypeError: unhashable type: 'dict'`

at line 168 of batchrunner.py

[2020-12-02 23:51] tpike3 commented on #948
@misken Could you post your instantiation of BatchRunner? Thanks

[2020-12-03 13:13] misken commented on #948
Yep, here it is:

`batch_run = BatchRunner(
        CovidHospModel,
        variable_parameters=None,
        fixed_parameters=model_params,
        iterations=num_iterations,
        max_steps=num_steps,
        model_reporters={
                    "DC": get_datacollector
                },
        display_progress=True)`

`model_params` is a dict and  `get_datacollector` returns a `model.DataCo

[2020-12-03 15:05] digitaldust commented on #787
@tpike3 I have tried with `nr_processes=1` but I had no output, just the kernel died without any apparent reasons... I can say however that with only one process the progress bar is not active nor displayed - just reporting this, it's probably an intended behavior...

[2020-12-03 17:58] digitaldust commented on #787
@tpike3 I have now tried many times with `n_process=1` and it's odd, sometimes it fails, sometimes it doesnt. But it always fails when `n_processes>1`... I'll keep you posted...

[2020-12-03 22:17] tpike3 commented on #948
@misken Thanks I will take a look this weekend.

[2020-12-05 06:45] jackiekazil commented on #948
Reopening this issue... since this is not resolved. @tpike3  -- if this is going to be a bigger thing, maybe we should move to a new ticket.

[2020-12-05 06:50] jackiekazil commented on #787
We should really create a debug mode for Mesa. __
Debug=True  and then everything gets logged.

[2020-12-05 06:50] jackiekazil commented on #787
We should really create a debug mode for Mesa. __
Debug=True  and then everything gets logged.

[2020-12-05 13:56] tpike3 commented on #948
@misken If I am understanding correctly, your get ```model_reporters={ "DC": get_datacollector },``` is intended to get the individual model runs data collectors where you are reporting each agent by step. If that is the case then I would recommend not adding a model_reporter so you instantiation will look like this...
[code]

the data is collected with how batch_runner is is built so then you can

[2020-12-05 14:00] tpike3 commented on #948
@jackiekazil if this resolves the issue then the challenge is making BatchRunner more intuitive/user-friendly. I think this will be in @Corvince's leaner version under development.

I don't think it is a fixed-param only issue any more as that is now part of the tests.

I think this is a great data point to shape the next batchrunner iteration.

[2020-12-05 15:57] misken commented on #948
@tpike3 thanks. I wasn't exactly sure how to interpret the following sentence in the BatchRunner API docs:

[2020-12-06 11:40] tpike3 commented on #948
@misken Thanks for the feedback, that is a vague sentence. We will get it updated.

[2020-12-06 11:47] tpike3 commented on #787
@digitaldust Dang, those multiprocessing problems where there is hang and no traceback are always difficult. Standing by if there is anything I can do to assist.

@jackiekazil concur

[2020-12-08 21:46] achenie opened #964 "Why am I getting this error? : --------------------------------------------------------------------------- AttributeError Traceback (most recent call last) <ipython-input-34-85f394baa6a9> in <module> 2 #batchrunner.FixedBatchRunner.get_collector_agents 3 #@@ ----> 4 data_collector_agents = batch_run.get_collector_agents() 5 #data_collector_agents = batch_run.FixedBatchRunner.get_collector_agents() 6 data_collector_agents[(N,2)] # 10 (<#number of agents>, <iteration#>). AttributeError: 'BatchRunner' object has no attribute 'get_collector_agents'"
Why am I getting this error:
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-34-85f394baa6a9> in <module>
      2 #batchrunner.FixedBatchRunner.get_collector_agents
      3 #@@
----> 4 data_collector_agents = batch_run.get_collector_agents()
      5 #data_collector_agents = batch_

[2020-12-10 10:38] tpike3 commented on #964
@archenie  Can you confirm what version of Mesa you are running?

[2020-12-11 15:25] niedakh opened #965 "GraphSpace like in Agent.jil"
**What's the problem this feature will solve?**
I am looking for a network based space for agent models.

**Describe the solution you'd like**
I'd love to be able to load up a networkx graph and use it as a space for agents moving on the network.

**Additional context**
https://juliadynamics.github.io/Agents.jl/stable/examples/sir/

[2020-12-11 17:27] tpike3 commented on #965
@niedakh Mesa has [NetworkGrid](https://github.com/projectmesa/mesa/blob/b08720cd65ffc76c4bf1690a8e7c3c20104a3eb7/mesa/space.py#L834) which uses NetworkX backend for that purpose.

Here's an [example instantiation](https://github.com/metalcorebear/Mesa-SIR/tree/master/mesa_SIR)

[2020-12-11 17:27] #965 closed

[2020-12-16 16:46] steve84835 commented on #315
Evn i have also found same error for installing that package ...could anyone help me for finding error please ...i getting same error in all that format ...what i have to do i am so tensed so plss help me for find that error

[2020-12-18 12:56] tpike3 commented on #315
@steve84835 For google colab I would just run ```!pip install mesa``` and not try to load from requirements.

[2020-12-29 17:26] tcdejong commented on #958
I'm not concerned about thread safety. Given Python's GIL, concurrency primarily speeds up programs if it lets you avoid waiting for IO operations and the likes, if sharing state is required. That's not usually the bottleneck for ABMs. In other words, In other words, parallelizing the execution of _one_ model is hard.

A much more realistic approach to concurrency is executing multiple configurati

[2020-12-30 17:19] jackiekazil commented on #958
@tcdejong Agreed. But adding more complexity that is not clear can be more difficult for anyone trying to test out parallelizing the execution.

I am currently leaning with @Corvince on the complexity argument, but could be talked out of it.

@dmasad @tpike3 @rht -- any of you have strong feels one way or another?

[2020-12-30 19:04] jackiekazil commented on #959
Can you provide more details ---
- What version of Mesa are you running?
- How did you discover the tutorial? (Direct link somewhere or google search or some other way)

[2020-12-30 22:01] #949 closed

[2020-12-30 22:06] jackiekazil commented on #956
That release went out the door on 11/27.
@alabrazi can you try again. if you have an issue, please comment on this ticket and reopen OR open a new ticket -- whichever you think is more appropriate to the issue based on the changes to batch runner.

[2020-12-30 22:06] #956 closed

[2020-12-30 22:14] jackiekazil opened #967 "Discuss: Create a Debug function for Mesa"
We should have a Debug function for Mesa, where an environment var `DEBUG=True` then there is a bunch of helpful output. Otherwise it is silent.

Let's discuss --
-- what is a "good" start for this?
-- what are good features in the implementation of this? What should this look like?

[2020-12-30 22:14] jackiekazil commented on #967
Related: https://github.com/projectmesa/mesa/issues/787#issuecomment-739136122

[2020-12-31 00:30] rht commented on #958
NetworkX has implemented both, with additionally including an integer as a seed [1] [2]. The seed is used a lot in many of the graph generator functions, and so they have made a decorator for it, called `py3_random_state`, which can be used by users too.

Extensive discussion at https://github.com/networkx/networkx/issues/1550 (note that this also points to several related issues).

I don't have a

[2020-12-31 01:47] rht commented on #958
Turns out that NetworkX's implementation is based on scikit-learn: https://github.com/scikit-learn/scikit-learn/blob/6b4f82433dc2f219dbff7fe8fa42c10b72379be6/sklearn/utils/validation.py#L869. I read that both NetworkX and sciki-learn only check for `insinstance` of `numpy.random.RandomState` (no builtin `random` in sight).

I think neither of the 2 libraries are using their rng within a multithrea

[2020-12-31 02:48] rht commented on #963
Previous discussion at #134.

[2020-12-31 20:50] tpike3 commented on #958
My inclination is with @Corvince. Simpler is better and if users need to add the extra functionality in this case one like can provide it aided by a useful snippet.

[2021-01-01 04:17] jackiekazil commented on #938
With the merge of #966 I am going to close this ticket. i feel like the problem has been solved.

[2021-01-01 04:17] #938 closed

[2021-01-01 04:26] jackiekazil opened #968 "Pending update to GA build file"
Extending this.... https://github.com/projectmesa/mesa/pull/966

- [x] https://github.com/projectmesa/mesa/pull/966#discussion_r550432657

[2021-01-01 04:27] jackiekazil commented on #968
@Corvince -- can we also rename the file to "build" from "Python package"?

That will carry over to the badge used in the readme. I was going to update, but it is not descriptive.
This is what it would currently need to be updated to if name isn't changed:
https://github.com/projectmesa/mesa/workflows/Python%20package/badge.svg

[2021-01-01 04:35] rht commented on #968
I have another comment: flake8 seems to be run twice https://github.com/projectmesa/mesa/pull/966/files#diff-092659a9bd0068791326fb1d08f005532e5aeb983b999a7bd32c51deee0a71d5R27. Only one of them is necessary.

[2021-01-01 05:41] rht commented on #968
It appears that it is possible to also run the tests on macOS and Windows: https://docs.github.com/en/free-pro-team@latest/actions/reference/workflow-syntax-for-github-actions#github-hosted-runners.

[2021-01-01 06:11] rht opened #969 "Rename 'master' branch to 'main'"
https://github.com/github/renaming

[2021-01-01 06:18] rht commented on #968
#970 adds Windows.

[2021-01-02 05:35] #968 closed

[2021-01-02 05:37] jackiekazil commented on #968
Everything discussed in this ticket was covered by a PR.... leaving this ticket closed..... PRs will carry the respective conversation forward.

[2021-01-02 10:37] Corvince commented on #969
TLDR: We should wait a little bit longer until there is a renaming tool available (scheduled for January 2021). Once it is available we should consider the renaming

[2021-01-07 12:53] rht commented on #938
I just noticed this: one key advantage of GA is that it supports Linux, macOS, and Windows. CircleCI only supports Linux, with a beta support for Windows.

[2021-01-07 16:40] jackiekazil commented on #938
Interesting. Good catch!

[2021-01-08 10:59] tpike3 commented on #952
@reevesj191 Just following up to see if this issue is resolved.  If nothing heard I will assume batchrunner is working for you.

[2021-01-08 11:01] tpike3 commented on #959
@koyafull we you able to get the model working? If nothing hear, I will assume this issue has resolved.

[2021-01-08 20:54] koyafull commented on #959
Yes I finally managed to have it working by correcting my mistakes. Sorry for disturbance!

[2021-01-09 02:14] majdal commented on #875
Just comment out line 31 in `CanvasModule.js` file:

https://github.com/projectmesa/mesa/blob/2e66e9f70f9b4c58d90654ba590fc011263c483c/mesa/visualization/templates/js/CanvasModule.js#L31

Maybe I'll create a pull request to make drawing the grid line optional, controlled by a boolean parameter passed to `CanvasGrid` class? (but only after I defend my thesis in a couple of weeks!)

[2021-01-09 13:16] tpike3 commented on #964
@achenie Were you able to resolve this issue?  I will assume it has been resolved if nothing heard.

[2021-01-09 13:18] tpike3 commented on #959
@koyafull Awesome, thank you! If you ever want to share your model we would be happy to link them in our examples page.

[2021-01-09 13:19] #959 closed

[2021-01-09 13:21] #881 closed

[2021-01-09 13:23] tpike3 commented on #766
@rafaelcbfc I will assume this issue has been resolved. Please let me know if otherwise.

[2021-01-09 13:23] #766 closed

[2021-01-09 13:25] tpike3 commented on #865
Closing this issues based on batchrunner updates.

[2021-01-09 13:25] #865 closed

[2021-01-09 13:28] tpike3 commented on #742
@SebastianoF closing based on batchrunner update. Mesa release 0.8.8.1 on Nov 27. Apologies  for not responding earlier.

[2021-01-09 13:28] #742 closed

[2021-01-09 13:34] tpike3 commented on #186
Closing based on Mesa update 0.8.8.1, Nov 27, 2020 and other issue for batchrunner docs update #948

[2021-01-09 13:34] #186 closed

[2021-01-09 15:05] rht commented on #963
Another alternative is to create a separate `examples` repo, but link it as a submodule inside `projectmesa/mesa`. Known precedent: NetLogo does it, see https://github.com/NetLogo/NetLogo and look at `models` folder. But if the examples are going to be updated only for each major release, it doesn't make sense for `projectmesa/mesa` to track `projectmesa/examples`. Not sure what the rationale of t

[2021-01-09 18:53] dmasad commented on #963
My main concern with putting examples in a submodule is that submodules are hard to use even for moderately-experienced Git / GitHub users.  Since the examples serve as de-facto tests, a contributor making an API change or adding a feature will probably also update the examples. Requiring the contributor to figure out submodules and keep their example branch and core branches in sync introduces a

[2021-01-10 10:16] rht commented on #638
Here is the link to the paper: https://www.dropbox.com/s/s4fjlytqhi5p1j5/Kazil_Mesa_SBPBrims_2020.pdf?dl=0. @jackiekazil are you allowed by Springer Link to upload the paper to arxiv.org?

Any update on this issue?

[2021-01-10 21:26] Stefan538871 opened #975 "vkEnumeratePhysicalDeviceGroupsKHR failed with ERROR_INITIALIZATION_FAILED"
**Describe the bug**
Currently I cant launch applications which require vulkan (e.g. dota 2 with vulkan renderer, dota underlords)

**Expected behavior**
Vulkan application can launch

**To Reproduce**
Just starting the machine because vulkan fails to initialize
https://pastebin.com/TFpvs05N

**Additional context**
OS: fedora 33
all packages are up to date
[code]

CPU: amd ryzen 3900x
GPU: amd Rad

[2021-01-10 21:45] tpike3 commented on #975
@Stefan538871 I do not think this is the library you are looking for. This is an agent based model library. I think you want Mesa 3D graphics on gitlab located [here](https://gitlab.freedesktop.org/mesa/mesa/blob/master/docs/relnotes/20.0.2.rst)

[2021-01-10 21:45] #975 closed

[2021-01-12 19:47] JonasJosef123 opened #976 "DataCollector requires all agents to have the same Attributes"
**What's the problem this feature will solve?**
Hello @all
I am not sure if I am actually doing something wrong but in my code I have two different agents types that get different attributes when created. (however they are from the same agent class)
When I want to collect their specific attribute data with the data collector i get an "AttributeError" that my agents object has no such attribute. Wh

[2021-01-13 04:53] jackiekazil commented on #976
I would add the attribute with a default of `None`. I can't think of another way. Depending on the data type of the attribute, there are nice ways to write / come to the conclusion of `None`.

[2021-01-19 05:49] rht opened #977 "Mesa.jl?"
Do you think it is worth it to make a Mesa-like library in Julia, maintaining the familiar APIs?
Example of a library doing it: https://github.com/QuantEcon/QuantEcon.py (reference implementation), with https://github.com/QuantEcon/QuantEcon.jl.

[2021-01-19 07:27] rht commented on #969
The wait is over: https://github.com/github/renaming/commit/040636ea50e945875c70cc964d586f645e9bd810.

[2021-01-19 13:52] Corvince commented on #977
Someone started a port a few months or maybe even years ago. I think it was named black mesa, but I can't find it anymore right now.
There is also the excellent [https://juliadynamics.github.io/Agents.jl/stable/](Agents.jl), so I don't see the imminent need for another abm library on Julia.

That said I don't think there will be any resistance if you want to port it!

[2021-01-19 13:54] Corvince commented on #969
Great!

[2021-01-19 23:18] reevesj191 commented on #952
Thanks for following up. I tried it out my laptop over the Christmas and it worked perfectly fine. I am back in at work tomorrow so I will try it out on my desktop machine just to make sure it works there too.

I will let you know tomorrow. Thanks for your patience!

[2021-01-21 00:47] bintoy commented on #498
I was dealing with the same problem earlier this year and found out that the canvas values were being used instead of the grid values when starting up the server:

https://github.com/projectmesa/mesa/blob/d376920146ca0ec422286cb8434d86b74e64b2fa/examples/color_patches/color_patches/server.py#L65

{"width": canvas_width, "height": canvas_height} should be changed to {"width": grid_rows, "height": g

[2021-01-22 13:00] peterdekker opened #978 "BatchRunner swaps content of variable_params columns, only in random proportion of executions"
**Describe the bug**
When using BatchRunner, and calling get_model_vars_dataframe(), the contents of the columns in the output  of two variable parameters are swapped: the column heads stay the same, but matches with the parameter values of another parameter. I cannot tell yet whether it is just the columns of the DataFrame that is wrong, or also the batch run with the wrong values.

The remarkabl

[2021-01-23 00:26] misken commented on #978
I came here to report the very same behavior. I was getting strange behavior of BatchRunner `get_model_vars_dataframe` when passing a list of non-integers for variable_params. Decided to test on the Money Model to make sure it wasn't something in my model. Added a new model parameter `initial_wealth` and then ran via:

`fixed_params = {"width": 10,
               "height": 10}

# The following lea

[2021-01-23 01:23] YannickJadoul commented on #978
The use of `set` here seems to be the issue: https://github.com/projectmesa/mesa/compare/v0.8.6...v0.8.7#diff-8bc53945291b175d4d90954a9ced3d6b9dce4b7d3975948b315e4d09bb217aa4R228.
This seems to have been introduced by #651

This (reasonably naive) diff seems to do the trick, when I test @misken's reproducing example:

[code]

I don't fully understand the subtleties of the code (and the `dict(zip(i

[2021-01-24 03:17] YannickJadoul commented on #978
Should be fixed in #979 ;-)

[2021-01-24 13:58] tpike3 commented on #978
@YannickJadoul Thanks Yannick I will get it reviewed.

[2021-01-25 18:19] reevesj191 commented on #952
@tpike3 Thanks again for your patience. I installed Mesa on my desktop from Git today. I tried using BatchRunnerMP and unfortunately it returned the same error repetitive error as shown above. I tried it on python 3.8 and python 3.9. I also installed python 3.6 just to see if that made a difference and it returned the same error.

[2021-01-28 02:44] rht commented on #977
Their [benchmark](https://juliadynamics.github.io/Agents.jl/stable/comparison/#An-in-depth-comparison-of-four-frameworks) claims that Agents.jl is significantly faster than Mesa, with fewer LOC. Sounds very promising. People could be migrating to Julia for ABM instead of Python.

I'm still investigating why they have fewer LOC, while at the same time porting a subset of Mesa just enough to be able

[2021-01-28 09:48] rht commented on #977
Ugh! The benchmark is not fair.

The Mesa code for forest fire includes data collection (see https://github.com/JuliaDynamics/Agents.jl/blob/4bf56d853cdaa47db8416ab92271d2dedfc499ff/benchmark/compare/Mesa/ForestFire/model.py#L63).
When I ran the benchmark as is, I got:
[code]
When I commented out all the data collection lines, I got
[code]
The Agents.jl implementation of forest fire contains no da

[2021-01-28 10:31] rht commented on #977
Also, since the Mesa benchmark code is copied/derived from Mesa, there should be an attribution somewhere in Agents.jl repo.

[2021-01-28 10:43] rht commented on #977
https://github.com/JuliaDynamics/Agents.jl/pull/388

[2021-01-28 12:41] rht opened #980 "space: Confusing API with methods with similar names"
The class `Grid` has:
- `neighbor_iter`:  "Iterate over position neighbors"
- `iter_neighborhood`: "Return an iterator over cell coordinates that are in the neighborhood of a certain point"
- `iter_neighbors`: "Return an iterator over neighbors to a certain point"

`neighbor_iter` and `iter_neighbors` seem to be a duplicate of each other.
`iter_neighborhood` should probably be called `iter_neighbo

[2021-01-28 13:17] Corvince commented on #977
Great, it is already merged! The comparison is definitely motivating for optimizing mesa. Not necessarily the performance, which will be impossible, but also the LOCs (although, as you have shown, not the best metric).

[2021-01-28 13:22] Corvince commented on #980
Yes, except `neighbor_iter` has a restricted API, but HexGrid only implements `neighbor_iter` and not `iter_neighbors` 🤦

`iter_neighbors` should be the only function IMO.

Disagree. For me it was always clear that neighbors => Agents, neighborhood => Coordinates

[2021-01-28 13:31] Corvince commented on #977
Further unnecessary code in ForestFire:
´´´python
    # unused agent method
    def get_pos(self):
        return self.pos
[code]

Just on a first look!

[2021-01-28 14:55] rht commented on #980
Is it just me or that the dictionary definition of "neighborhood" refers to people, not geographical coordinates?

From https://en.wikipedia.org/wiki/Neighbourhood:
[code]

[2021-01-28 14:58] rht commented on #977
Python may not be able to outrun Julia, but Mesa is even slower and more verbose than NetLogo in the outdated benchmark.

[2021-01-28 15:10] rht commented on #977
#981

[2021-01-28 15:12] rht commented on #977
This line is necessary.

[2021-01-29 06:45] LeavesLi1015 opened #982 "VisualizationModuleProblem"
When I use visiualization module to simulate COVID-19, there was a problem in visiualized grid. Every time I press start, it will run quickly and smoothly. But at step 9(more or less depending on number of agents), all the grids went out and disappear and simulation ended as well.
![image](https://user-images.githubusercontent.com/76167689/106241182-70403700-61ba-11eb-91a8-362cb8b65fd7.png)

[2021-01-29 06:45] LeavesLi1015 commented on #982
![image](https://user-images.githubusercontent.com/76167689/106241257-906ff600-61ba-11eb-8171-eb7fe0436ae4.png)

[2021-01-29 07:52] Corvince commented on #980
Well maybe look it up in a dictionary!?

From https://www.dictionary.com/browse/neighborhood?s=t

`the area or region around or near some place or thing; vicinity`

If you would have read the wikipedia just a little bit further, it would also say this:

`Neighbourhood is generally defined spatially as a specific geographic area and functionally as a set of social networks.`

So both definition exi

[2021-01-29 07:53] Corvince commented on #977
Why/how? Maybe I just don't see it, but it would be very helpful if you could explain your comments a bit more

[2021-01-29 08:10] rht commented on #980
If `iter_neighborhood` is find, then the problematic wording is the `neighbor_iter` and `iter_neighbors`. They should be called `iter_neighborhood_content` for clarity.

[2021-01-29 08:12] rht commented on #977
Ah, never mind. Yeah, density is only used for the `TreeCell` placement. I will remove the 3 unused params initialization from the example.

[2021-01-29 08:20] rht commented on #977
I removed them in #981

[2021-01-29 09:00] rht commented on #977
From https://juliadynamics.github.io/Agents.jl/stable/#Comparison-with-existing-software

[2021-01-29 17:21] srushti5699 commented on #315
before using command first try
pip install mesa
and then
pip install -r requirements.txt

this method worked for me

[2021-01-30 02:38] rht commented on #982
@LeavesLi1015 that's not enough information to debug/reproduce. Can you share a minimum code in a GitHub gist that reproduces the bug?

[2021-01-30 02:41] rht commented on #980
Since a good method name pattern is something along the line of "verb_object", `iter_neighbors` sounds better for me than `neighbor_iter`. But `iter_neighbors` is never used in the examples.

[2021-01-30 03:06] LeavesLi1015 commented on #982
This is the project:https://github.com/LeavesLi1015/test
Project is in master branch and a Readme.md is in main branch.

[2021-01-30 03:18] rht commented on #982
I got this:
[code]

[2021-01-30 03:19] rht commented on #982
Oh, nvm, the library is available on PyPI. Will download.

[2021-01-30 03:20] LeavesLi1015 commented on #982
The library was changed. I will upload a new library file for you

[2021-01-30 03:24] LeavesLi1015 commented on #982
new lib was uploaded in master branch, just overwrite venv/Lib/Mesa-SIR with it

[2021-01-30 03:28] rht commented on #982
@LeavesLi1015 I ran your code verbatim. It has been more than 150 steps, and none of the dots has disappeared.

[2021-01-30 03:29] rht commented on #982
I'm using the latest release of Mesa (0.8.8.1) on Python 3.8.6 on Linux.

[2021-01-30 03:30] LeavesLi1015 commented on #982
Are there any yellow or red dots? If all the dots are green, there might not be any problem.
Restart to make some yellow or red dots

[2021-01-30 03:31] rht commented on #982
Ah, I see. Yes, I can reproduce your bug. Will investigate today.

[2021-01-30 03:34] LeavesLi1015 commented on #982
Thanks a lot!

[2021-01-30 07:14] rht commented on #982
@LeavesLi1015 I found the bug. You forgot a final `else` clause after this line: https://github.com/LeavesLi1015/test/blob/d9eb86a28a78c63e2380128d69fe931e3e29df58/test2/Model_Vis.py#L18. I added
[code]

and the invisible dots were then colored with black.

If this fixes your problem, remember to close the issue.

[2021-01-30 08:59] LeavesLi1015 commented on #982
It's fixed! Thanks a lot!

[2021-01-30 08:59] #982 closed

[2021-01-30 12:04] rht commented on #977
Maybe @Libbum can explain a few of the design choices? There is stuff like the dict of agents lives in `ABM` struct in Agents.jl, while the dict lives in a scheduler in Mesa, but this is not crucial; I am still reading the code of Agents.jl. The slight naming differences of the functions are also not crucial.

Maybe the API simplifications can be incorporated into Mesa?

[2021-01-30 18:32] Libbum commented on #977
Hi all!
So I've just taken over as lead dev on Agents.jl as of v4.0. Have been assisting since about v2.4.
My understanding is that v1 was mostly a Mesa clone and once it became a part of JuliaDynamics, started to diverge in some ways. Explicitly how though I'd really need to take some time on that to get you a decent answer, since I've never used Mesa personally. (I know *how* everything has chan

[2021-02-03 03:27] LeavesLi1015 opened #986 "some problem when Simulating Market"
My team is simulating people in a market.
Is there any chance that we could restore the scene such as goods self not by creating a new type of agent as self or obstacles?

[2021-02-03 19:58] Corvince opened #987 "Enable GitHub Discussions"
**What's the problem this feature will solve?**
Mesas discussions currently should take place on the official mailing list. However, many things that should belong to the mailing list (e.q. usage questions) are posted on the issue tracker. Vice versa sometimes feature requests first appear on the mailing list.

**Describe the solution you'd like**

GitHub Discussions is now out of beta and availab

[2021-02-04 05:43] jackiekazil commented on #875
@majdal good luck on your thesis defense! Whenever you have a moment -- we welcome the contribution!

[2021-02-04 05:50] jackiekazil commented on #638
@rht Let me check on that. Good question.

[2021-02-05 00:55] JonasJosef123 opened #988 "Learning Agents"
Hello Dear Mesa Community,

i am currently working on a model where agents will be able to learn about other agents' cost functions. Currently each run with my model finished one entire process for all agents after which they  get a specific outcome. This outcome will be the input for some form of learning in the next run but now when the batch runner initiates the next run, all my agents' attribu

[2021-02-07 20:23] #978 closed

[2021-02-08 05:39] jackiekazil commented on #969
I am onboard. I will bring it up during our dev meeting, which got bumped to this week to see if there are any concerns.

[2021-02-08 05:54] jackiekazil commented on #498
@bintoy ty for suggestion. There is a PR now.

[2021-02-08 05:54] #498 closed

[2021-02-08 08:09] rht commented on #988
If you want determinism, you can specify a random seed to the model (this is not well documented, unfortunately).
E.g. https://github.com/projectmesa/mesa/blob/87da503de4a6a77e7f90144b7d43b7fc3d5aeb3e/tests/test_model.py#L29
(but this is not a complete picture either).

What you have to do when initializing the model
[code]

[2021-02-08 08:10] rht commented on #987
Agreed. E.g. #988 is not an issue of Mesa itself, but rather a question on how to use Mesa.

[2021-02-08 17:52] JonasJosef123 commented on #988
First let me thank you for your answer @rht.
Could you please describe shortly what this seeding process is exactly doing? On google I was only able to learn that a seed somehow helps to run the exact same AB-model with all possible combinations of input variables right?
Do you maybe have a good source of information or example where i can better understand how it works?

Again thank you very much

[2021-02-08 21:35] JonasJosef123 commented on #988
I am not sure if i want determinism but rather my agents should be able to save some information (outcome of a whole model run) in their attribute and use that information in another run. But i guess every complete model run will instantiate new Agent objects and therefore delete the information saved in the old agent's attributes. I probably need to completely change my model design so that every

[2021-02-09 02:20] rht commented on #988
Can you share a minimum viable code that reproduces your case? Hard to say anything without concrete code.

[2021-02-09 02:40] JonasJosef123 commented on #988
Ok sure:

So I am building a auction model where the Model object acts like an auctioneer and gets a specific amount of objects, the starting price and some AgentParameters from the batch runner:

`class AuctionModel(Model):
    """An auction model with some number of agents."""
    def __init__(self, N, objectQuantity, startingPrice, type, AgentParam, seed):
        super().__init__(seed=seed)

[2021-02-09 03:59] rht commented on #988
`BatchRunner` is designed for sensitivity analysis, which is different from your use case. That said, you can modify `BatchRunner` so that you are reusing the same model for new iteration.

Replace https://github.com/projectmesa/mesa/blob/87da503de4a6a77e7f90144b7d43b7fc3d5aeb3e/mesa/batchrunner.py#L165-L166 with

[code]

The first 2 lines basically initializes `self.model` once for all.

[2021-02-09 05:05] jackiekazil opened #990 "Discuss: GA Chicken or Egg"
We have 2 PRs....
#972 GA: Add pypy3
#970 GA: Run on Windows and macOS #970

Both are good additions, but one will probably break the other.  Which one takes priority.

I am torn.

What our our options? Which one comes first?
Can we do an `if` statement in the code like this -- https://github.com/fabasoad/twilio-voice-call-action/actions/runs/440407309/workflow#L24

[2021-02-09 05:05] jackiekazil commented on #990
/cc @rht

[2021-02-09 05:16] jackiekazil commented on #977
I am catching up, but I wanted to say that I love everything about this thread and everything that came from it including the dialog that has started with @Libbum.

[2021-02-09 05:29] jackiekazil commented on #987
I will bring this up during the dev meeting this Thursday.

[2021-02-09 05:40] rht commented on #990
I think the Windows and macOS one takes priority because it is closer to what the final form of what the .yml would look like. After #970 is merged I can update the PyPy one.

[2021-02-09 08:21] Corvince commented on #990
I fully agree with @rht. We should merge the windows/macOS one as is and then update PyPy

[2021-02-09 14:34] JonasJosef123 commented on #988
Thank you again for your answer. I have just tried your solution. Unfortunately, I get following an error message:

`Traceback (most recent call last):
  File "run.py", line 44, in <module>
    batch_run.run_all()
  File "C:\Users\Jonas\Anaconda3\lib\site-packages\mesa\batchrunner.py", line 158, in run_all
    self.run_iteration(kwargs, param_values, next(run_count))
  File "C:\Users\Jonas\Anacond

[2021-02-09 14:54] JonasJosef123 commented on #988
First let me thank you for your help again! I have tried your suggestions and they work, but unfortunately the model is not doing what i want it to do. I have the feeling it just copies the results from the first run instead of actually running the model again. I think i will just redesign the whole model and stop using the batchrunner. But thank you very much for your quick answers and help!

[2021-02-10 01:50] rht commented on #988
Oh, maybe you need to reset `self.model.running` back to be `True`. I suspect that `self.model.running` is set to `False` after first run, and then the model no longer runs.

[2021-02-10 01:51] rht commented on #988
So, before this line
[code]
You do `self.model.running = True`.

[2021-02-10 03:21] JonasJosef123 commented on #988
Hey rht,

I tried your suggestions but my model just stops after one run and i have to use the keyboard interrupt:

[code]

[2021-02-10 03:25] JonasJosef123 commented on #988
So apparently the process gets stuck in this while loop:
[code]

[2021-02-10 05:01] rht commented on #988
Yes, definitely possible.

You will encounter the same set of problems even if you use something else homegrown that is not batchrunner.

[2021-02-10 11:37] rht commented on #976
@JonasJosef123 there is one alternative solution: in the data collector, instead of doing `a.foo`, you do `getattr(a, 'foo', None)`. It basically tries to check if `a` has attribute `'foo'`, if not, fall back to default that is `None`. If this solves your case, you can close this issue.

[2021-02-10 11:39] rht commented on #976
It's similar to the dictionary method `get` that sometimes you'd want to use: https://stackoverflow.com/questions/11041405/why-dict-getkey-instead-of-dictkey.

[2021-02-11 06:02] rht commented on #986
@LeavesLi1015 can you elaborate your question? It's not specific enough. A code snippet would help if applicable.

[2021-02-11 13:53] TabernaA commented on #976
Hello everybody!
It works fine using None, yet if I have 5,000 households and 500 firms in my model and I would like to get only firms attributes, I end up with very big DataFrames and slow down the model. It would be great to add something like an agent data collector that works only for a specific type/class/breed.
Best
Ale

[2021-02-11 19:59] jackiekazil commented on #990
Sounds like we are in agreement.... let's merge #970 before we merge #972

[2021-02-11 20:43] tpike3 commented on #976
@TabernaA I would have to take a deeper look, but I think this is possible. For a maybe a quick solution did you look at the the Wolf-Sheep example which uses breeds of agents? https://github.com/projectmesa/mesa/tree/master/examples/wolf_sheep

[2021-02-12 16:11] sultonkul-070 commented on #315
ERROR: Could not open requirements file: [Errno 2] No such file or directory: 'requirements.txt'

Can anyone help me with this error, please?

[2021-02-15 22:56] TabernaA opened #992 "BatchRunnerMP"
**Describe the bug**
Running the BatchRunnerMP I initially got the pickle error:
https://github.com/projectmesa/mesa/issues/787

I  downloaded the last update and manage to solve the error. Yet my BatchrunnerMp never starts

batch_run = BatchRunnerMP(KSModel , nr_processes = 2, variable_parameters= variable_params,
            fixed_parameters=fixed_params,
            iterations=iterations,

[2021-02-15 23:10] TabernaA commented on #992
Sorry I fixed this

[2021-02-16 12:53] TabernaA commented on #976
Yes,  I do. But what I need is not the breed count but agent level variable. I am simply using lambda with the 'if condition' to keep only the type of agent I need and put None otherwise. The only problem is that it slows down a little bit the run and I have to manipulate a bit the dataframe afterwards.

[2021-02-17 01:59] rht commented on #976
@TabernaA does https://github.com/projectmesa/mesa/issues/976#issuecomment-776648380 not answer the problem with defaulting to `None`?

[2021-02-17 12:51] tpike3 commented on #315
@sultonkul-070 Just run pip install mesa , you do not need the requirements.txt anymore.

[2021-02-17 12:53] tpike3 commented on #992
@TabernaA Run BatchRunnerMP with one processor (nr_processes=1), this allows for debugging in BatchRunnerMP as it guarantees to the processor talking to your screen will be the one that errors.

[2021-02-17 13:00] tpike3 opened #993 "Optimize Continuous Space"
**What's the problem this feature will solve?**
Decrease runtimes for Mesa models by optimizing continuous space module per comparison discussion of Julia and Python per #977 (closed)

**Describe the solution you'd like**
Reduce computation time for each agent exploring the grid.

**Additional context**
Ensure synced with effort to give mesa.space more intuitive function names

[2021-02-17 13:01] tpike3 commented on #977
Closing discussion linked to optimize continuous space module #993

[2021-02-17 13:32] rht commented on #977
Why is the issue closed? Continuous space is not the only point in this design discussion.

[2021-02-17 22:30] tpike3 commented on #977
@rht Sorry, I closed after the dev meeting discussion. The larger goal was to transition from a comparison to julia to actionable issues to take as Mesa transitions to GitHub discussions.

Please, feel free to add more action items to the issues list from this discussion. (Can we just transition this to discussions??)

[2021-02-18 01:31] rht commented on #977
Did you mean GitHub Discussions? It isn't enabled yet. #987

[2021-02-18 10:13] TabernaA commented on #992
@tpike3  So basically with one processor works, but it does not with >1.
I tried to change laptop and there it works so it is very strange.

[2021-02-18 10:13] TabernaA commented on #992
Thanks a lot for the reply!

[2021-02-18 11:04] rht commented on #977
@tpike3 can you leave this issue open until the Dicussions is enabled?

[2021-02-18 12:17] tpike3 commented on #992
@TabernaA very interesting, do the laptops have different operating systems or are they running different versions of Mesa, python etc? If they have different versions of multiprocessing that could also be a big reason as python made some significant changes to it.

Let me know if you get the chance.

[2021-02-18 19:22] #977 closed

[2021-02-18 19:25] Corvince commented on #987
Done! 🎉
👉 https://github.com/projectmesa/mesa/discussions

[2021-02-18 19:25] #987 closed

[2021-02-18 19:26] Corvince commented on #990
Closed after last dev meeting. #970  is merged, waiting for updates on #972

[2021-02-18 19:26] #990 closed

[2021-02-18 21:11] #964 closed

[2021-02-18 21:14] #919 closed

[2021-02-18 22:16] TabernaA commented on #992
@tpike3  So basically the one that did not work with nr_processor > 1 was my laptop (Widows 10,  Intel Core i5-8250u CPU @ 1.69Ghz 8 logical processors).

The one where it works vey well is a server (Windows server 2012 R2, CPU E5-2659 v3 2.30Ghz, 2 processors but it got 40 CPU with the CPU count).

I am quite new in  programming in general so understanding what is happening is beyond my reach now

[2021-02-21 05:21] jackiekazil commented on #969
This was discussed during the meeting and everyone is onboard. I am ready to change, but was wondering if we need to consider timing or announce it first or just the "main" people doing dev is good enough.

PRs are updated automatically, but local branches will need to be updated.

[code]

[2021-02-21 05:48] jackiekazil commented on #958
We talked about this during the dev meeting and after a discussion at this time, we don't want to switch out, because to do the override it is simple. We think there is value in the override and believe a good place to document this and share with others is our **Useful Snippets** section of our docs -- https://mesa.readthedocs.io/en/stable/useful-snippets/snippets.html#. We invite you to submit a

[2021-02-21 05:48] #958 closed

[2021-02-22 09:55] Ravindrakumara commented on #315
I try this work perfectly
RUN pip install -r /tmp/requirements.txt

[2021-02-22 11:35] TabernaA commented on #745
Hi  all,
I built a model that has a lot of stochasticity and of course reproducibility is a key factor in this type of model.
Yet, even with the same reset_randomizer(i) I get very different results from the model. I cannot understand why.
Also reading the previous comment of  @SimonMarkWhittle , @Corvince  my idea is that might be related with the StagedActivationByType I am using:

class StagedA

[2021-02-27 11:22] tpike3 commented on #992
@TabernaA  Sorry for the delay on this. Did you trying running your laptop with one processor (nr_processor =1) and if so did you get an error message?

Could you tell me your Mesa and multiprocessing version?

Multiprocessing is a constant challenge, but happy to struggle together.

[2021-03-03 15:59] Casper-Smet opened #1000 "No public version of NetworkGrid._remove_agent, though code exists"
Currently it is not possible to remove an Agent from a NetworkGrid using a **public** function. Currently, you can do the following:

[code]
But this function is a private function, therefore it isn't shown in documentation or in your editor. I'd like to be able to remove agents like with the other space modules.

**Describe the solution you'd like**
I'd like a similar solution as used for the oth

[2021-03-04 20:24] adprabhak commented on #881
Hi,
I have also run into a similar problem. I'm trying to save the some parts of the model data every time the model step function is called.
How exactly do you use the run_iter_args[3] to track the iteration number?
Because of huge RAM consumption, I'm trying to save the data into different files for every "time step" and iteration. By using self.schedule.steps i can seperate different time steps

[2021-03-05 11:21] TabernaA commented on #992
@tpike3  Yes I tried and it works  with nr_processor =1. But if I increase the number of processors, the run never starts and whenever I stop the kernel it is always at the point indicated above. I am  starting to think that even is the CPU count gives me multiple processors there is only actually one working? It it very strange.
I am now using MESA versione 0.8.8.1.
I was using the multiprocessor

[2021-03-05 16:28] TabernaA commented on #745
Hi All,
How do you manage the
reset_randomizer(n) if you have a BatchRun?
I can't manage to get the same results with multiple runs.
Yet I do if I do  a single run of my model.

[2021-03-05 21:17] rpmeira opened #1002 "'RandomActivation' is not defined"
**Describe the bug**
I'm trying to follow the Introductory Tutorial in (https://mesa.readthedocs.io/en/master/tutorials/intro_tutorial.html) and I'm getting this error : NameError: name 'RandomActivation' is not defined

**Expected behavior**
The tutorial says it should print:
Hi, I am agent 2.
Hi, I am agent 9.
Hi, I am agent 5.
Hi, I am agent 3.
Hi, I am agent 7.
Hi, I am agent 0.
Hi, I am agent

[2021-03-07 00:04] ShirsenduP commented on #1002
Hi, you have simply not imported `RandomActivation`. In your first cell, just add `from mesa.time import RandomActivation` and you should be good to go!

[2021-03-07 14:34] adprabhak opened #1003 "Using the iteration number from BatchrunnerMp inside the model class."
Hi,
I have also run into a similar problem. I'm trying to save the some parts of the model data every time the model step function is called.
How exactly do you use the run_iter_args[3] to track the iteration number?
Because of huge RAM consumption, I'm trying to save the data into different files for every "time step" and iteration. By using self.schedule.steps i can seperate different time steps

[2021-03-07 14:36] adprabhak commented on #1003
The main idea is to save certain data point at every time step inorder to cut down RAM usage.
However, to do this, we need "iteration number" to be availalbe inside the model class to avoid confusion if we are saving to file every time the step function is called.

how can we do this?

[2021-03-07 19:32] dmasad commented on #969
Worth putting a note on top of the readme for a little while?

[2021-03-12 02:07] tpike3 commented on #1003
@adprabhak Theoretically every processor should be able to save instride, but they would not necessarily distinguish from each other so may be overwriting each other. Could you add the model parameters to the file name when you save in stride to see if  the output is being saved across multiple processors?

[2021-03-12 02:57] tpike3 commented on #992
@TabernaA Sorry for the delay and those are some tough questions. For randomness you have to use model.random throughout, that is the only way to use the model seed reusing random or using numpy.random will add another random element and mess up your results.

To see if your processers are all being used I would look at your Task Manager and performance and you can see the number of processors bei

[2021-03-14 05:26] jackiekazil commented on #969
master is now main.
https://github.com/projectmesa/mesa/branches

[2021-03-14 05:26] #969 closed

[2021-03-15 19:57] Corvince commented on #745
I think the easiest way would be to pass a seed to batchRunner for each run (as a fixed parameter). Otherwise each run will use a different non-deterministic seed.

[2021-03-15 19:59] Corvince commented on #1002
I am closing this, @ShirsenduP should have provided the correct details for the solution. If not feel free to re-open this issue @rpmeira

[2021-03-15 19:59] #1002 closed

[2021-03-15 20:06] #1000 closed

[2021-03-17 20:32] Casper-Smet commented on #858
Are there any updates regarding this issue? My team is running into this issue currently.

[2021-03-19 13:28] edward-ij commented on #597
Quite easy to recreate for me.

System:
Virtual machine running Ubuntu 20.04.2 LTS
Python 3.8.5
Mesa 0.8.8.1

In the terminal:
`mesa runserver`
`Ctrl-Z` - to close the server
`mesa runserver`
Which results in:
[code]

Which is quite frustrating because I then have to restart my interpreter to get it to connect again.

I would be in favor of an exit button or some way of cleanly closing the server

[2021-03-21 12:10] edward-ij opened #1010 "Improvements for easier development of traffic models"
**What's the problem this feature will solve?**
Currently there is no effective way of modelling a system where agents move along a specified path. The obvious use case for this would be to model traffic (which is what I am trying to do) but other situations would benefit from this too. Other examples I immediately thought of were crowd models and potentially even 2D fluid models.

**Describe the

[2021-03-22 17:28] bazakoskon commented on #876
That would be pretty helpful when monitoring the evolution of the model!

[2021-03-22 17:32] tpike3 commented on #858
It was fixed, if you pip install from github versus pypi it will keep the columns correct.

Let me know if you have any issues.

[2021-03-23 10:39] Casper-Smet commented on #858
That fixed it, is there an ETA for pypi to get updated? The documentation also seems to be old.

[2021-03-25 18:11] tpike3 commented on #858
Excellent!

 As for PyPI update, I will bring it up at the next dev meeting. I would spitball latest May.

[2021-03-25 18:11] #858 closed

[2021-03-26 16:42] dmasad commented on #980
My suggestion for an alternative API is to make it explicit what's being returned. So `get_neighbors` would become `get_neighboring_agents` and `get_neighborhood` would become `get_neighboring_coordinates`. We could keep the old signatures as well for a while, and have them be pass-throughs to the new methods along with a DeprecationWarning.

[2021-03-26 17:08] dmasad commented on #1010
Thanks for the suggestion, and for sharing your code! My sense is that (a) modeling movement along paths does sound like something that has broader application, but (b) still specialized enough that it would work best as a mesa-kit that builds on core Mesa, rather than features of the core library itself.

[2021-03-30 13:48] zmanx commented on #627
I've run into a similar roadblock by simply following the tutorial and adding in the scheduler lines "self.scheudle.add(a)" PyCharm Community Edition complains that "object has no attribute 'schedule'"

[2021-03-31 06:34] JustHereForAI opened #1015 "BatchRunnerMP swaps content of variable_params columns"
**Describe the bug**
When I run BatchrunnerMP it swaps the contents of the values the similar batches are run with as described in issue #978 that should have been fixed with #979. Unfortunately this behaviour still occurs. As in the  original issue it appears only in some of the tries but but more often than not.

**Expected behavior**
I expect the BatchRunner model vars dataframe to give back th

[2021-03-31 07:36] rht commented on #1015
cc @YannickJadoul

[2021-03-31 11:40] YannickJadoul commented on #1015
0.8.8.1 was released on Nov 27, 2020, according to https://pypi.org/project/Mesa/0.8.8.1/ My PR #979 was only submitted/merged last January/February.

Have you tried using the latest commit on `master` as version?

[2021-03-31 14:08] JustHereForAI commented on #1015
Yes, that worked!

Thank you so much for the fast help and please excuse my ignorance regarding the release versions.

[2021-03-31 14:08] #1015 closed

[2021-04-01 19:40] obbe79 opened #1016 "set() for local and package includes in ModularVisualization.py causes nondeterministic loading order."
**Describe the bug**
When loading the JavaScript files in the html template, their order is nondeterministic because local_includes and package_includes are converted in a set() in ModularVisualization. When there are dependencies between these javascript files, the resulting html may not preserve the correct order and the scripts will not work.

**Expected behavior**
JavaScript files are loaded i

[2021-04-03 10:39] edward-ij commented on #1010
No problem! Thanks, that makes sense, are there any mesa kits that are particularly well structured that would give me an idea of the best way of doing this?

[2021-04-03 15:21] Corvince commented on #1016
Good observation! Maybe it was originally implemented to avoid loading modules more than once? It's probably better to preserve order, though.

Do you have a specific use case where the order matters?

[2021-04-03 16:42] obbe79 commented on #1016
I'm using Leaflet.js and need to load some additional plug-ins. I realized about the order issue because sometimes, without any changes to the code, launching the server did not load the web interface properly because JavaScript could not find the declaration of some variables (specifically the L. in leaflet).

Anyway, at the moment I fixed it changing the set() to a list in the ModularVisualizati

[2021-04-03 18:53] chenyuyou opened #1017 "BatchRunnerMP error"
**Describe the bug**

multiprocessing.pool.MaybeEncodingError

**Expected behavior**

**To Reproduce**

multiprocessing.pool.MaybeEncodingError: Error sending result: '((0.5, 10, 0.1, 3, 2), <__main__.PdNetworkModel object at 0x7f97f075ce90>)'. Reason: 'AttributeError("Can't pickle local object 'PdNetworkModel.__init__.<locals>.<lambda>'")'

**Additional context**

mesa  version=0.8.8.1

[2021-04-03 19:34] Corvince commented on #1016
Interesting, have you seen mesa_geo? It also provides leaflet maps, and I vaguely remember running into the same issue, but never figuring it out. So thanks for the late solution ;)

If you want to submit a PR: Normal dictionaries also preserve order since I think Python 3.6 so no need to use OrderedDict anymore.

[2021-04-03 20:02] obbe79 commented on #1016
Yes, I've considered mesa_geo however I am building an agent-based model for transportation problems and I need agents moving on the map. So, I drew some inspiration from mesa_geo but I believe that besides the map visualization my requirements are somewhat different. I will check it out once again to be sure I'm not missing something important.

As for the OrderedDict, I'm aware that now dicts pr

[2021-04-05 00:53] lukyfox commented on #759
As I remember, there was an issue with NetLogo probably getting from scheduler (but it could be an older version and maybe it has bee fixed last year...I haven't worked with NetLogo from summer 2019). I noticed that in the NetLogo's wolf-sheep predation model some sheep are some kind of "supersheep"  because they survived the first meeting with wolf. Not all sheep but random number in each simulat

[2021-04-05 09:58] tpike3 commented on #1017
@chenyuyou When you create you initiate you model does it have any complex objects? Certain objects that cannot be pickled will prevent multiprocessing from working (https://docs.python.org/3/library/pickle.html#what-can-be-pickled-and-unpickled)

[2021-04-05 16:54] chenyuyou commented on #1017
lambda could not be pickled, so what can I do when I meet this situation “agent_reporters={"Wealth": lambda x: x.wealth}”？

[2021-04-05 19:10] tpike3 commented on #1017
You can just put wealth  (e.g. {"Wealth": "wealth"}). Since it is an agent_reporter it will collect that attribute from all agents.

[2021-04-05 21:29] chenyuyou commented on #1017
thanks

[2021-04-05 21:29] #1017 closed

[2021-04-08 00:35] rht commented on #900
Agents.jl has a very concise implementation of something equivalent to RandomActivationByBreed: https://github.com/JuliaDynamics/Agents.jl/blob/48f71a3b438e8cdcbb562067f5877e52cf0a6e5d/src/core/schedule.jl#L85. I wonder if we can replicate the design in Python.

[2021-04-09 16:09] Fedebindi97 opened #1020 "How to visualize dynamically evolving networks"
Hey everybody!

First of all, I wanted to thank you all for the amazing work you're doing with Mesa. Keep the awesomeness!

I have an issue: I want to build a model whose network evolves at every step (i.e. new links are formed, some old links are dropped, etc.). The code _per se_ is not difficult; the problem comes with the visualization.
In fact, I don't understand how to use the NetworkGrid obj

[2021-04-10 00:44] rht commented on #1020
From the Boltzmann wealth model example, you can add/remove grid using standard Networkx operation (add_edge, remove_edge), operated on `self.grid.G`.

[2021-04-10 08:51] Fedebindi97 commented on #1020
Thanks a lot @rht!

[2021-04-10 14:18] Fedebindi97 commented on #1020
@rht, I get an error: "NetworkGrid object has no method "graph"". And furthermore, in the Boltzmann model. there is no example of the "add_edge" method being used on a grid (at least in the version that is currently uploaded in GitHub).
In general, I would like to know if it is possible to send a whole network to a grid, without having to fill the node with agents each time. I could then implement

[2021-04-10 23:46] rht commented on #1020
`.G`, not `.graph`.

Can you elaborate what this "transfer" is?

[2021-04-11 08:29] Fedebindi97 commented on #1020
Ah ok, I thought "G" was the generic name of the graph I wanted to put into the grid.

For "transfer" I mean putting the graph entirely into the grid (with the nodes already inserted) without having to put them in one by one.

[2021-04-11 09:36] rht commented on #1020
You can't bypass doing `place_agent` one by one because inside that `place_agent` operation, the `agent.pos` needs to be informed of which node id it is located at.

Though if you meant specifically putting the graph entirely into the grid without involving agent, you can just pass in the entire graph `self.grid = NetworkGrid(self.G)`. This doesn't seem to be a problem. So not sure what you meant

[2021-04-11 13:28] Fedebindi97 commented on #1020
But in the second case, doesn't it simply create a grid with empty nodes?

[2021-04-11 23:01] rht commented on #1020
Yes, is that a problem? As I said, `agent.pos` needs to know its node id, and you have to do the `place_agent` loop for each agent no matter what.

[2021-04-14 07:34] rht commented on #900
From the discussion in https://github.com/JuliaDynamics/ABM_Framework_Comparisons/issues/2, it turns out that Agents.jl's `by_type` generates a list of list agent ids, where the first index of this list of list signifies agent types. This is inefficient, and looks like Agents.jl developers are looking to revamp their multiple-type schedulers as discussed in https://github.com/JuliaDynamics/Agents.

[2021-04-14 09:11] rht opened #1021 "Add random seed to all examples for reproducible result best practice"
**What's the problem this feature will solve?**

Currently, the examples are non-deterministic by default. This makes beginners having to discover seeding on their own, somehow.

**Describe the solution you'd like**

Just seed the examples as long as their schedulers use randomization.

[2021-04-14 14:56] tpike3 commented on #900
I agree I think a bybreed option should be default in Mesa.

[2021-04-15 01:07] rht commented on #900
`RandomActivationByType` seems to be a more general name.

[2021-04-15 01:08] rht commented on #900
This is the benchmark: https://juliadynamics.github.io/Agents.jl/stable/comparison/.

[2021-04-17 10:49] rht opened #1022 "CI: Check for broken links"
To prevent the problem solved by #1012 from happening, a script to check for broken links can be used. There is already such script in Zulip repo that can be used: https://github.com/zulip/zulip/blob/master/tools/test-documentation.

Description of the tool can be found at https://github.com/zulip/zulip/blob/master/docs/testing/testing.md#other-test-suites
[code]

[2021-04-18 04:51] jackiekazil commented on #759
@lukyfox thank you for adding those details.

[2021-04-21 17:45] Fedebindi97 opened #1028 "Weird problems with BatchRunner"
I'm trying to run the batchrunner on my model. This is the code I wrote (I stuck very close to the tutorial):

`fixed_params = {"N": 100,`
               `"initial_wealth": 1700,`
               `"protection_sold":50,`
               `"pigreco":.12,`
               `"risk_aversion_range":.03,`
               `"interest_rate":.03}`
`variable_params = {"duration_of_contracts":range(1, 10, 1),`

[2021-04-21 21:31] #1028 closed

[2021-04-21 21:31] Fedebindi97 commented on #1028
Solved

[2021-04-28 20:24] pmartiner opened #1030 "IndexError: index -1 is out of bounds for axis 0 with size 0 with scope="agent" BarChartModule"
Hi, everyone!
I'm a newbie with mesa (and somewhat with Python as well) and I'm having difficulties trying to plot a Bar Chart of my agent reporter within my data collector. I thought this could be a good place to ask.

When running my server, I'm receiving the following error:
[code]

I thought this was a weird error, so I checked my DataFrame and I received the following:
[code]

As you can see,

[2021-04-29 21:54] seeingwu opened #1031 "how to customize the visualization of different types of agents."
Hi, I want to show my respect first for your amazing work about Mesa.
 When I set up the portrayal for the agent, there is a problem making me confused.
![image](https://user-images.githubusercontent.com/52962497/116622797-268ff580-a93d-11eb-9966-7f982d04a603.png)

I want to use the text to differentiate the agent type. However, maybe I didn't get how it works, the grid visualization fails.

The w

[2021-04-30 08:29] rht commented on #1030
Do you have a public repo containing your code that I can look at?

[2021-04-30 08:32] rht commented on #1031
What is your error message? Also, it'd help if you have a public code that I can look at to debug.

[2021-04-30 18:10] pmartiner commented on #1030
Sure thing! Here's the repo: https://github.com/pmartiner/cas-market-socialism

[2021-05-01 00:01] rht commented on #1030
Found the bug: you forgot to add `self.datacollector.collect(self)` at the end of the `__init__` of `EconomiaSocialista`

[2021-05-01 01:00] pmartiner commented on #1030
It makes so much sense! I spent a lot of time checking what was wrong, yet I couldn't see it 😂.
Thank you so much for taking your time to debug my bug. I really really appreciate it!

[2021-05-01 01:16] rht commented on #1030
Wait, can you reopen the issue? I think it should be possible to detect whether a user forgets to add that `datacollector.collect` thing. Maybe we should add a check in https://github.com/projectmesa/mesa/blob/bbf1b885ebe274e4b1eb269e30567a475e158aaf/mesa/visualization/ModularVisualization.py#L211. Any thoughts from others?

[2021-05-01 01:20] pmartiner commented on #1030
I thought it wasn't missing since I had it on my step method, and not on my `__init__`, so that improvement would be incredibly helpful!

[2021-05-01 01:20] pmartiner commented on #1030
I thought it wasn't missing since I had it on my step method, and not on my __init__, so that improvement would be incredibly helpful!

[2021-05-01 22:10] jackiekazil commented on #1030
@rht I think that would be a good add.

On Fri, Apr 30, 2021 at 8:20 PM pmartiner ***@***.***> wrote:

--
Jacqueline Kazil | @jackiekazil

[2021-05-03 11:27] peterdekker commented on #978
Sorry for a possibly bold question, I don't know about the release schedule of mesa, but would it be possible to release a new version of mesa, also on PyPI, which includes this bugfix? Right now, one has to use the old version 0.8.6 or check out the master branch. The last available release contains the faulty behaviour, which might confuse users.

[2021-05-05 10:12] tpike3 commented on #1003
@adprabhak Were you able to resolve this?

[2021-05-05 10:13] tpike3 commented on #992
@TabernaA were you able to resolve your issues?

[2021-05-05 10:18] tpike3 commented on #952
@reevesj191 I am very sorry, I do not know how I missed your reply.  For your desktop, are you using the lines

[code]

This is definitely a necessity on windows machines

[2021-05-06 09:57] tpike3 commented on #1010
@edward-ij Here is some examples o some nascent attempts but I would not sure the best ways but [here are some](https://github.com/projectmesabehaviors) approaches to build. _Disclaimer_: Mesa Behaviors is not officially associated with Mesa.

[2021-05-09 11:42] rht commented on #1030
Heads up. PR incoming from me.

[2021-05-10 10:55] adprabhak commented on #1003
Hi,
Sorry for the late reply. I added a seperate new parameter to my model for filenames. Now, instead of using the default iteration setup for MPbatchrunner, I use a list of filenames as a variable parameter.
Thanks for the help!

[2021-05-10 10:55] #1003 closed

[2021-05-12 16:32] TabernaA commented on #992
Hi, I changed laptop (from Windows to Mac), and I did not work on the model for a bit. I came back on the multiprocessing todays and I am now having this problem:

https://github.com/projectmesa/mesa/issues/701

I understood it was a Windows and not mac problem. yet I am not using

            if __name__ == '__main__':
                freeze_support()
                ...

Any hints?

[2021-05-16 10:51] tpike3 commented on #992
@TabernaA  Wow that is an interesting one, just due to the specificity I do not think there is anyway I can recreate it. With Spyder providing more features than sublime I think there is two options:
1. There is an issue not related to multiprocessing that occurs the way sublime and spyder handle basic functions similar to this  [overflow](https://stackoverflow.com/questions/58687212/the-same-pyth

[2021-05-20 17:56] ed-ij opened #1038 "Seed initialisation - feature suggestion"
I have just made some comments in a discussion that have made me think the seed initialisation could be improved.

I noted that using the model initialisation:
[code]
would enable random behaviour of the model as normal but also allow the seed to be recorded through data collection if desired.

Would it not be useful to provide this functionality internally instead?
I think it would be possible to

[2021-05-20 18:00] edward-ij commented on #1010
Thanks, I'll take a look before I start writing anything too significant.

[2021-05-21 04:13] jackiekazil opened #1039 "v0.8.9 Oro Valley release"
I am prepping a release. This is what I consider to be in the Oro Valley release. Please let me know if I am missing anything.

https://github.com/projectmesa/mesa/pulls?q=is%3Apr+milestone%3A%22Oro+Valley%22+is%3Aclosed

[2021-05-21 05:26] jackiekazil commented on #1039
PR takes this from here.

[2021-05-21 05:26] #1039 closed

[2021-06-07 15:57] lau175 opened #1044 "NEXT STEP IS SCHEDULED BUT NOT CALLED"
After a while, mesa run server stops working and it doesn't return any error. After scheduling the next step, it doesn't go to that step. Where do I check where the mesa run server goes to call the next step?

[2021-06-08 01:36] rht commented on #1044
Check if your model's `self.running` (https://github.com/projectmesa/mesa/blob/main/mesa/model.py#L32) remains `True`. If it is `False`, the model is no longer running.

[2021-06-08 07:52] abbasabaei commented on #315
I had the same problem and used this:

https://stackoverflow.com/a/67883521/13181871

[2021-06-11 01:28] jackiekazil opened #1045 "Build is failing -- on pypy fail"
Build is failing on pypy.
https://github.com/projectmesa/mesa/runs/2723473745?check_suite_focus=true#step:5:203

[code]

[2021-06-11 01:28] jackiekazil commented on #1045
@rht can you take a look at this?

[2021-06-11 02:19] rht commented on #1045
That's because the dev dependencies in setup.py has Black. typed_ast can't be installed in PyPy yet.

[2021-06-11 02:23] jackiekazil commented on #1045
We were chatting about it tonight and thought that was an issue we couldn't
fix, but didn't know about it.
Is it worth having it in the build if it fails? Wondering if we should
remove it and then add it back in later?
What do you think?

[2021-06-11 03:41] rht commented on #1045
The GitHub Actions yml already runs and manually install Black only if the version is 3.8 and it's not PyPy, so I think Black can be safely removed from the dev dependencies in setup.py.

[2021-06-24 19:28] christino156 commented on #952
Just wanted to mention that I had the same problem as @reevesj191 but the last comment fixed my issue. Thanks a lot @tpike3!

[2021-06-26 10:48] tpike3 commented on #952
As this seems to be resolved, I am going to close this issue.

[2021-06-26 10:48] #952 closed

[2021-06-29 18:26] tpike3 commented on #992
@TabernaA Have you been able to resolve this?

[2021-07-02 20:33] danielxu05 opened #1048 "Add El Farol problem under Mesa framework"
**What's the problem this feature will solve?**

I could not access to the dev mailing list, so I create a ticket here. There is no El Farol example in the mesa pakcage

**Describe the solution you'd like**

I implemented el Farol simulation problem under mesa framework and would like to contribute it to mesa package as an example project.

**Additional context**

[2021-07-08 13:25] pragathirathinasamy commented on #152
@GHWHG conda install graphviz could solve your issue

[2021-07-20 16:09] Rezaatae opened #1051 "Instantiating new agents with a different random attribute"
Not sure it this is a bug or a mistake on my part but, I'm having trouble instantiating new Agent objects each with a different attribute value.

I'm trying to represent different 'minimum wage' values for each cell in a grid by instantiating an agent class in the model class and generating the different wage values for each instance using a random number generator.

In the 'Step' function of the

[2021-07-20 16:13] #1051 closed

[2021-07-28 10:23] timjdavey opened #1052 "SingleGrid position_agent very slow for large grids"
It's fine for square widths of around 20 cells, but when you 200 it slows right down.

It appears to be caused by the line `agent.random.choice(sorted(self.empties))` where it sorts the empties first. I guess it does this so you can replicate the results using random seed?

If you don't care about replication however, it's unreasonably slow and can be fixed by using `agent.random.choice(list(self.

[2021-07-28 16:58] rht commented on #1052
In 3.8:
[code]
it seems that the output of `list(a)` is deterministic. Maybe `set` used to be nondeterministic in the earlier version of Python.

[2021-07-30 12:40] timjdavey commented on #1052
Oh interesting, thanks! I couldn't find any specific release notes about set's now being ordered. As of 3.7+ (when dicts became ordered) they definitely weren't guaranteed. https://stackoverflow.com/questions/61414947/why-dont-python-sets-preserve-insertion-order

Guido says "Sets remain unordered. (Why? The usage patterns are different. Also, different implementation.)" so cool if that's changed.

[2021-07-30 13:54] rht commented on #1052
For comparison, this is how Agents.jl do a move to empty: https://github.com/JuliaDynamics/Agents.jl/blob/c9a7fa13493c0ba24aacd0a6a6de4ba19394d181/src/spaces/discrete.jl#L80-L88. This is how the empty positions information is obtained: https://github.com/JuliaDynamics/Agents.jl/blob/c9a7fa13493c0ba24aacd0a6a6de4ba19394d181/src/spaces/discrete.jl#L57-L64. It seems expensive to have to generate the

[2021-07-31 07:30] Libbum commented on #1052
From an Agents.jl perspective this wasn't an active choice&mdash;it hasn't caused us concern at all though. `random_empty` is used in Schelling, but not too many other models use it, so it hasn't been a place in the base framework we need to optimise.

A cache on empties, for Agents.jl, would end up meaning additional operations each step for all models, on the off chance that someone *may* need l

[2021-08-01 16:25] rht commented on #1052
I have checked the models in https://github.com/projectmesa/mesa/tree/main/examples. Only Schelling uses `move_to_empty` as well. Sugarscape does its own check for the neighborhood, and for Boltzmann wealth model, agents positions can overlap.
I think we should pick a default in Mesa where there is no `empties` caching as well.

And then there is a 3rd differentiating feature, when the grid is spa

[2021-08-01 17:21] Libbum commented on #1052
That's a pretty smart idea. Even if you're not running sparse grids under the hood, you could get an idea of sparsity via `num_agents/size(space)`. My guess is you could be better off with this method until the check hits `> 0.66-0.75`.

[2021-08-18 20:43] hebertodelrio commented on #808
I will suggest also to rethink the MultiGrid and the SingleGrid class in order to not depend in the Rectangular class Grid. Grid is sort of a base class of a rectangular grid. HexGrid is a subclass of it, but MultiGrid and SingleGrid are entirely base on Grid, they way they were coded (probably before the HexGrid was coded) is not taking advantage of the Factory pattern that could be used to 'para

[2021-09-03 12:07] seeingwu opened #1054 "How to model the agents' steps by a continuous time,like each hour?"
**What's the problem this feature will solve?**

Hi, maybe there is a way I didn't find out to realize that each agent will advance its step by an hour with a different time schedule. For example, my agent is the pupil; some pupils will go to school from 8:00 to 9:00, and while some will start their commuting from 9:00 to 10:00. The whole day may be divided into 24 hours, and agents will have an i

[2021-09-05 10:40] tpike3 commented on #1054
@seeingwu There is a couple options for time depending on what specifically you are trying to accomplish.

- Based on your description you may be looking for [staged activation](https://github.com/projectmesa/mesa/blob/72efecaacbc612927ff640f699f2cce4c01bc34e/mesa/time.py#L152). The class description describes how to implement
- As for keeping track of the time, your solution isn't naïve, I would

[2021-09-05 10:44] tpike3 commented on #1048
@danielxu05 Sorry for the late reply, that is great!

Regarding the dev mailing list, we switched to [discussion](https://github.com/projectmesa/mesa/discussions) instead of the dev mailing to keep everything consolidated.

If you add it to the [examples folder](https://github.com/projectmesa/mesa/tree/main/examples) and do a pull request we can bring it in.

Please take a look at the [contributor

[2021-09-05 10:44] #1048 closed

[2021-09-05 10:45] tpike3 commented on #1044
@lau175 did at @rht's solution resolve your issue?

[2021-09-08 05:12] JaslinRikkaz123 opened #1055 "How to update model with agent data in every step?"
Dear Mesa Users,
I'm new to MESA. I'm doing postgraduate in Electrical Engineering. I have developed Electric Vehicle ABM model.(JaslinRikkaz123
/EV_Model_inABM). Initially, i have developed for one car, it was working fine.(It read the data of speed, acceleration and run the model). Now I'm developing the model with multiple cars. now, i need to specify cars with respect to the availability data

[2021-09-08 12:33] rht commented on #1052
Bump. (Waiting for consensus on which action to take...)
@Libbum made a ~5x speedup in Agents.jl by optimizing `random_empty()`: https://github.com/JuliaDynamics/Agents.jl/pull/541, where the method can also be applied to Mesa's `Grid`, `NetworkGrid`, etc.
This will be a breaking change because of the change in the empty position algorithm.

[2021-09-08 12:53] rht commented on #1055
You can do this:
[code]

Where `check_is_available()` is a function to check if that particular coordinate is available, based on the data.
So you store the availability state inside the EvAgent object.

[2021-09-12 07:52] arata-tarata opened #1056 "Disappearing Agent/Grid in Visualization"
Hello. I am working on a simple evacuation model on a basic multi-grid. The problem I am encountering occurs whenever I run the visualization. When I first open it in browser, the agents and the grid itself does not appear. I then press "reset". Sometimes things go back to normal, other times, only the agents appear or all continue to be hidden. Even with the times where the grid/agents do appear,

[2021-09-12 12:29] rht commented on #1056
You need to paste here the CLI log messages shown when you run the server. There should error messages buried down in the log.

[2021-09-13 05:08] JaslinRikkaz123 commented on #1055
I have tried this concern, but I'm unable to achieve the task. In check_is_available(x, y), what i want is, I have availability data in excel sheet like if car is available = 1  and if not  = 0. With respect to this data, car should be in the grid with that (x,y) coordinates.
I'm using costumbaseschduler in schdule.py to get return value of the agents. In model.py it runs in first step only not fo

[2021-09-13 06:09] JaslinRikkaz123 commented on #1055
Is there any way to implement this in server.py?

[2021-09-14 04:02] arata-tarata commented on #1056
Hm. I am not seeing any error messages when the grid/agents disappears. It doesn't matter if it is gone from the get-go or disappears after a certain steps, the error doesn't seem to show up.

[2021-09-14 13:13] rht commented on #1056
Can you share the simplest code snippet that reproduces your problem?

[2021-09-15 01:36] rht commented on #1055
You can do the get availability data in excel inside the `check_is_available(x, y)`.

[2021-09-15 11:55] JaslinRikkaz123 commented on #1055
its working now. Thank you

[2021-09-15 11:55] #1055 closed

[2021-09-20 13:00] LukasWallrich opened #1060 "Set seed for BatchRunner?"
**What's the problem this feature will solve?**

For reproducibility, it would be great if BatchRunner could be started with a specific seed. (Unless something like this can already be accomplished, in which case it should maybe be documented?)

**Describe the solution you'd like**

Ideally, BatchRunner and BatchRunnerMP should accept a seed argument?

**Additional context**
This has been discusse

[2021-09-21 11:30] rht commented on #1060
For now, if your simulation isn't multithreaded, you can just use `random.seed` and `np.random.seed`? `np.random.seed` is not thread-safe, but I think it'd be fine if you use `multiprocessing`, since each process is a completely independent Python process.

[2021-09-22 20:42] LukasWallrich commented on #1060
Thanks for the response. I need to use MP and do not quite understand where to place np.random.seed - if I just place it in front of BatchRunnerMP, it does not seem to do anything?

[2021-09-22 22:41] rht commented on #1060
For BatchRunnerMP, you need to do the seeding inside `_run_wrappermp` (this is the function that is executed for each processes), and the seed needs to be different for each processes.

[2021-09-22 22:41] rht commented on #1060
https://github.com/projectmesa/mesa/blob/72efecaacbc612927ff640f699f2cce4c01bc34e/mesa/batchrunner.py#L470

[2021-09-28 19:52] farofaDeCachorro opened #1062 "AMD Turks OpenGl 4.x support"
i use an amd video card with turks chipset, Northern Islands generation, more specifically hd 6570 desktop. Not only me, but other people on forums have had this open gl support issue, and maybe that's one of the biggest limitations for me when playing on linux. On windows, my video card supports opengl 4.6. And the only thing I'm looking for here is to make a supplication and ask them to think ab

[2021-09-28 23:57] rht commented on #1062
You posted in the wrong Mesa repo. This is probably what you meant: https://github.com/mesa3d/mesa.

[2021-09-29 17:00] farofaDeCachorro commented on #1062
oohhh i'm so sorry, i'll close it now, thx you so much

[2021-09-29 17:00] #1062 closed

[2021-10-01 06:44] JaslinRikkaz123 opened #1065 "How to visualize time in x axis instead of steps?"
**What's the problem this feature will solve?**
I need to visualize the time value that i have modeled in my  model.py in x-axis of chart module instead of steps.
How to do that suggest me a solution

[2021-10-01 23:15] mfroid opened #1066 "Issue Placing Agents on SingleGrid"
Hello. Thanks for the awesome tool!

So, I am trying to make a model of cell division on a SingleGrid. If a spot on the grid is empty next to a cell that can divide, it should be filled with a daughter cell. Below is the code that I have written. The issue I am is having is that the agent count does not seem to be counting the cells on that are on my grid. Is this an issue with Mesa, or an issue w

[2021-10-03 20:16] dmasad commented on #1066
I'm having trouble replicating the bug exactly, since the formatting of the code example here is a little off. One likely issue is that your constructors are called `init` rather than `__init__` (with two underscores). The MyModel object is still being created, but none of its variables are actually instantiated.

[2021-10-03 20:26] mfroid commented on #1066
I see. I think that I was able to resolve that part, I am just having trouble figuring out how to test if there are any empty spaces around an agent, and then only duplicating the agent (i e the cell divides) if there is a free empty space to place one new agent. I am sure that it is because I am doing something wrong, not that there is something wrong with Mesa. Also kind of surprised that there

[2021-10-04 00:35] rht commented on #1066
The constructor is still `__init__`, except that the `__` is interpreted as a markdown bold.

[2021-10-18 14:08] NicolleLouis opened #1069 "Allow nested model_params inside ModularServer"
**What's the problem this feature will solve?**
I'm using the ModularServer class to create a nice and clean Visualization (Thanks for all the work), and I added a lot of sliders with UserSettableParameter in order to try distinct parameters. However when I add nested parameters inside model_params, the slider are not detected and not added to the visualization

**Describe the solution you'd like*

[2021-10-20 12:00] LPioL opened #1070 "Grids side by side"
Hi,
I need to have several grids side by side in order to see different visualizations of the simulations. It would be a nice feature to add.

If it is possible, if yes, how to do it ?

Thank you.

[2021-10-31 17:35] dmasad commented on #1066
Closing for now, feel free to reopen if this didn't solve it.

[2021-10-31 17:35] #1066 closed

[2021-11-04 12:41] jackiekazil opened #1073 "Needs black clean up"
See build fail on #1072

[2021-11-09 10:45] toohuman commented on #186
"Unlike the DataCollector, it won't collect the data every step of the model, but only at the end of each run." from the document linked. This tutorial doesn't appear to show how to pull out the step data via the BatchRunner.

[2021-11-09 11:01] EwoutH commented on #1073
In #1074 I split of the lint jobs, that may help make it more apparent when linting fails and when the functional code/tests fails.

[2021-11-09 13:05] EwoutH commented on #165
If you'd like, I could build a GitHub Actions workflow that automatically pushed to PyPi when tagging a release. It's quite simple nowadays!

- [Publishing package distribution releases using GitHub Actions CI/CD workflows](https://packaging.python.org/guides/publishing-package-distribution-releases-using-github-actions-ci-cd-workflows/)
- [Automating PyPI releases with Github Actions](https://www

[2021-11-09 13:10] EwoutH opened #1076 "Git tags out of sync with conda and PyPi (0.8.8 and 0.8.9 missing on git)"
Currently [conda-forge](https://anaconda.org/conda-forge/mesa) and [PyPi](https://pypi.org/project/Mesa/#history) include tags up to 0.8.9, but on git the [tags](https://github.com/projectmesa/mesa/tags) only go to 0.8.7.

Can 0.8.8 and 0.8.9 added as git tags to bring those in sync?

[2021-11-10 13:55] toohuman commented on #186
Hello,

I'm still having trouble understanding how to get the data collectors from individual runs and merge them somehow with the model vars dataframe so that the time series data is associated with the batch run (fixed and variable) parameters.

From [#984 ](https://github.com/projectmesa/mesa/issues/948) the following sentence is still quite vague in the BatchRunner docs on the master branch:

[2021-11-10 14:12] adrien-perello commented on #865
In case it would interest some, I wrote a script to collect the entire time series for each variables in `model_reporters`

## Final result

The result looks like this:

![Screenshot from 2021-11-10 14-57-10](https://user-images.githubusercontent.com/76055749/141126562-7fad4663-b837-48ad-be74-331db6a4e0e2.png)

where
- the coordinates represent the variable parameters
    - here `N` (the number of

[2021-11-10 14:39] tpike3 commented on #186
@toohuman Just to confirm you are able to get the model data (so macro information) and the agent collectors (micro actions of agents agents at each time step) and then you want to merge them?

Tom